{% extends "site_base_audit.html" %}
{% load humanize %}

{% block content %}
<h3>Current Findings/Audit Types</h3>
<div class="col-sm-12">
{% if audit_types %}

	<p><h3>Findings/Audit Types</h3></p>
	
	<table class="example table-autosort:5 table-stripeclass:alternate table-autofilter" id="audit_types_table">
		<thead id="audit_types_head">
		<tr>
			<th class="table-sortable:alphanumeric">Type</th>
			
			<th class="table-header">Edit</th>						
			<th class="table-header">Show</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>

			<th class="table-header"></th>			
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="audit_types_body">
			
			{% for obj in audit_types %}
				<tr>
					<td>{{obj.the_name}}</td>

					<td><a href={% url 'edit_audit_type' obj.id %}>Edit</a></td>
					<td><a href={% url 'show_audit_type' obj.id %}>Show</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>
{% endblock %}
