{% extends "site_base_office.html" %}
{% load humanize %}

{% block content %}
<h3>Show {{obj.abbreviation}}</h3>

<div class="col-sm-12">
	<div class="reg">Name<div class="orange">{{obj.the_name}}</div></div>
</div>
<div class="col-sm-12">
	<div class="reg">Abbreviation<div class="orange">{{obj.abbreviation}}</div></div>
</div>
<div class="col-sm-12">
	<div class="reg">Description<div class="orange">{{obj.the_description}}</div></div>
</div>
<div class="col-sm-12">
	<div class="reg">Website Reference<div class="orange"><a href={{obj.weblink}}>{{obj.weblink}}</a></div></div>
</div>

	<div class="col-sm-12">
		<div class="text-center">
			<div class="btn-library">
				<a class="btn btn-md btn-success" href={% url 'create_office' %} role="button">Create Office</a>
				<a class="btn btn-md btn-success" href={% url 'create_lab' %} role="button">Create Lab</a>
				<a class="btn btn-md btn-danger" href={% url 'logout' %} role="button">Logout</a>
			</div>
		</div>
	</div>

<div class="col-sm-12">
{% if labs %}

	<p><h3>{{obj.abbreviation}} Labs</h3></p>
	
	<table class="example table-autosort:5 table-stripeclass:alternate table-autofilter" id="labs_table">
		<thead id="labs_head">
		<tr>
			<th class="table-sortable:alphanumeric">Lab</th>
			<th class="table-sortable:alphanumeric">Abbreviation</th>
			<th class="table-header">Immediate Office</th>
			<th class="table-header">Divisions</th>
			
			<th class="table-header">Edit</th>						
			<th class="table-header">Show</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>

			<th class="table-header"></th>
			<th class="table-header"></th>			
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="labs_body">
			
			{% for obj in labs %}
				<tr>
					<td>{{obj.the_name}}</td>
					<td>{{obj.abbreviation}}</td>
					<td>{% for io in obj.immediateoffice_set.all %}
						<table><tr><td>{{io.the_name}}</td></tr></table>
						{% endfor %}</td>
						
					<td>{% for d in obj.division_set.all %}
						<table><tr><td>{{d.abbreviation}}</td></tr></table>
						{% endfor %}</td>

					<td><a href={% url 'edit_lab' obj.id %}>Edit</a></td>
					<td><a href={% url 'show_lab' obj.id %}>Show</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>
<div class="col-sm-12">
{% if offices %}

	<p><h3>All Offices</h3></p>
	
	<table class="example table-autosort:5 table-stripeclass:alternate table-autofilter" id="offices_table">
		<thead id="offices_head">
		<tr>
			<th class="table-sortable:alphanumeric">Office</th>
			<th class="table-sortable:alphanumeric">Abbreviation</th>
			<th class="table-header">Labs</th>
			
			<th class="table-header">Edit</th>						
			<th class="table-header">Show</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>

			<th class="table-header"></th>
			<th class="table-header"></th>			
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="offices_body">
			
			{% for obj in offices %}
				<tr>
					<td>{{obj.the_name}}</td>
					<td>{{obj.abbreviation}}</td>
					<td>{% for lab in obj.lab_set.all %}
						<table><tr><td>{{lab.the_name}}</td></tr></table>
						{% endfor %}</td>

					<td><a href={% url 'edit_office' obj.id %}>Edit</a></td>
					<td><a href={% url 'show_office' obj.id %}>Show</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
	<table><tr><td>No Offices Yet.</td></tr></table>
{% endif %}
</div>
{% endblock %}