{% extends "site_base_office.html" %}
{% load humanize %}

{% block content %}
<h3>Show Program</h3>

<div class="col-sm-12">
	<div class="reg">Name<div class="orange">{{obj.the_name}}</div></div>
</div>

<div class="col-sm-12">
		<div class="text-center">
			<div class="btn-library">
				<a class="btn btn-md btn-success" href={% url 'create_nrmrl' %} role="button">Create QAPP Req.</a>
				<a class="btn btn-md btn-success" href={% url 'create_program' %} role="button">Create Program</a>
				<a class="btn btn-md btn-success" href={% url 'create_project_category' %} role="button">Create Program</a>
				<a class="btn btn-md btn-success" href={% url 'create_project_log_type' %} role="button">Create QA Activity Type</a>
				<a class="btn btn-md btn-success" href={% url 'create_project_status' %} role="button">Create Project Status</a>
				<a class="btn btn-md btn-success" href={% url 'create_project_type' %} role="button">Create Program</a>
				<a class="btn btn-md btn-success" href={% url 'create_qa_category' %} role="button">Create QA Type</a>
				<a class="btn btn-md btn-success" href={% url 'create_qapp_status' %} role="button">Create QAPP Status</a>
				<a class="btn btn-md btn-success" href={% url 'create_vehicle_type' %} role="button">Create Vehicle Type</a>
				<a class="btn btn-md btn-danger" href={% url 'logout' %} role="button">Logout</a>
			</div>
		</div>
	</div>

<div class="col-sm-12">
{% if projects %}

	<p><h3>{{obj.the_name}} Projects</h3></p>
	
	<table class="example table-autosort:8 table-stripeclass:alternate table-autofilter" id="projects_table">
		<thead id="projects_head">
		<tr>
			<th class="table-sortable:alphanumeric">QA ID</th>
			
			<th class="table-sortable:alphanumeric">Title</th>
			<th class="table-sortable:alphanumeric">QA Category</th>
			
			<th class="table-sortable:alphanumeric">QAPP Status</th>
			<th class="table-sortable:alphanumeric">QA Activities</th>
			<th class="table-header">Add Log</th>

		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-header"></th>
			<th class="table-filterable"></th>
			
			<th class="table-filterable"></th>
			<th class="table-header"></th>
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="projects_body">
			
			{% for obj in projects %}
				<tr>
					<td><a href={% url 'show_project' obj.id %}>{{obj.qa_id}}</a></td>
					<td width="200">{{obj.title}}</td>
					<td>{% if obj.qa_category %}<a href={% url 'show_qa_category' obj.qa_category.id %}>{{obj.qa_category.the_name}}</a>{% endif %}</td>
					<td>{% if obj.qapp_status %}<a href={% url 'show_qapp_status' obj.qapp_status.id %}>{{obj.qapp_status.the_name}}</a>{% endif %}</td>
					<td>{% if obj.projectlog_set.all %}
						<table class="example table-autosort:1 table-stripeclass:alternate table-autofilter" id="projectlog_set_table">
							<thead id="projectlog_set_head">
								<tr>
								<th class="table-sortable:alphanumeric">QA Activity Number - Approved</th>
								</tr>
								<tr>
								<th class="table-filterable"></th>
								</tr>
							</thead>
							
							<tbody id="projectlog_set_body">
								
								{% for qlog in obj.projectlog_set.all %}
								<tr><td><a href={% url 'show_project_log' qlog.id %}>{{qlog.qa_log_number}} - {{qlog.date_approved|date:"Y-m-d"}}</a></td></tr>
								{% endfor %}
								
							</tbody>
							</table>
					{% endif %}</td>
					<td><a href={% url 'create_project_log' obj.id obj.person.id %}>Add Log</a></td>				
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>

<div class="col-sm-12">
{% if programs %}

	<p><h3>Programs</h3></p>
	
	<table class="example table-autosort:5 table-stripeclass:alternate table-autofilter" id="programs_table">
		<thead id="programs_head">
		<tr>
			<th class="table-sortable:alphanumeric">Type</th>
			
			<th class="table-header">Edit</th>						
			<th class="table-header">Show</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>

			<th class="table-header"></th>			
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="programs_body">
			
			{% for obj in programs %}
				<tr>
					<td>{{obj.the_name}}</td>

					<td><a href={% url 'edit_program' obj.id %}>Edit</a></td>
					<td><a href={% url 'show_program' obj.id %}>Show</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
	<table><tr><td>No Programs Yet.</td></tr></table>
{% endif %}
</div>


{% endblock %}