{% extends "main/base.html" %} {% block content %}
<h2>Existing Data Tracking Tool</h2>
<p>
    This tool has been developed to track existing data for 'Plastics Projects' under the new StRAP's assigned to the
    EDAB branch. Guidance for using data from other sources is available from your Division Quality Assurance Manager
    (QAM) or from your Center Director of Quality Assurance (DQA). Guidance for Quality Assurance Project Plans (G-5)
    identifies elements to consider when planning projects that use existing data.
</p>
<div class="button-group">
    <button
        class="usa-button"
        onclick="window.location='https://www.epa.gov/sites/production/files/2015-07/documents/cklist-secondary.pdf'"
    >
        Checklist for use of Existing Data &raquo;
    </button>
    <button
        class="usa-button"
        onclick="window.location='https://www.epa.gov/sites/production/files/2015-06/documents/g5-final.pdf'"
    >
        See Chapter 3 (G-5) &raquo;
    </button>
</div>

<h4>Existing Data and Information Research Projects</h4>
<p>
    An Existing Data and Information research project involves the gathering and/or use of existing environmental
    data for purposes other than those for which they were originally collected. These Existing Data and Information
    may be obtained from many sources, including literature, industry surveys, compilations from computerized
    databases and information systems, and computerized or mathematical models of environmental processes. If
    primary data will be generated as part of the project, then the information collected can be incorporated into
    the associated QAPP to address the Existing Data and Information.
</p>
<p>
    Please click one of the buttons below to begin searching for Existing Data and Information. You can create and
    track data either as a team or individual user.
</p>

<div class="grid-container">
    <div class="grid-row">
        <!-- Existing Entries: -->
        <!-- By user: -->
        <div class="grid-col-6">
            <div class="grid-row">
                <label class="usa-label grid-col-12" for="user-select">View existing entries by User</label>
                <div class="usa-combo-box">
                    <select class="usa-select" name="user-select" id="user-select"
                                    onchange="entryByUser(this)">
                        <option value>Select a User</option>
                        {% for user in users %}
                        <option value="{{user.id}}">{{user}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <!-- By team: -->
        <div class="grid-col-6">
            <div class="grid-row">
                <label class="usa-label grid-col-12" for="user-select">View existing entries by Team</label>
                <div class="usa-combo-box">
                    <select class="usa-select" name="user-select" id="user-select"
                                    onchange="entryByTeam(this)">
                        <option value>Select a Team</option>
                        {% for team in teams %}
                        <option value="{{team.id}}">{{team}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Create new: -->
    <div class="grid-row">
        <label class="usa-label grid-col-12" for="">or create...</label>
        <div class="grid-col-12 usa-button-group">
            <div>
                <button class="usa-button usa-button--outline">New Team</button>
            </div>
            <div>
                <button class="usa-button usa-button--outline">New Data Entry</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}{% block scripts %}
<script>
    function entryByUser(selObj) {
        let val = selObj.value;
        window.location.href=`/existingdata/list/user/${val}`;
    }
    function entryByTeam(selObj) {
        let val = selObj.value;
        window.location.href=`/existingdata/list/team/${val}`;
    }
</script>
{% endblock %}
