{% extends "main/base.html" %} {% block content %}

<h2>
  {% if user.is_authenticated %} Existing Data and Information Search Tool {% else %}
  <a href="/accounts/login/">Existing Data and Information Search Tool</a>
  {% endif %}
</h2>

<h3>CESER QAPP Builder for Category A or B</h3>
<p>
  ORD OLEM team members will track publicly available existing data for Plastics Projects from articles, abstracts,
  books, book chapters, computer products, manuals, presentations, proceedings, reports, and scientific data sets.
  Findings to include attachments will be stored and retrievable in the Strategies for Characterization of Food Waste
  and Plastics Research database. In addition, users can use the <b>QA R5 QAPP</b> builder to create, store, edit, and
  export QAPPs.
</p>

{% if not user.is_authenticated %}
<button onclick="window.location='accounts/register/'">New Users Click Here...</button>
{% endif %}

<p>
  The database will enable ORD OLEM team members to review and export, as .pdf, .xlxs, and .csv files, existing data
  obtained from sources, including literature, industry surveys, compilations from computerized databases and
  information systems, and computerized or mathematical models of environmental processes. If primary data will be
  generated as part of the project, then information collected will be incorporated into the associated QAPP to address
  the existing data requirements. For laboratory and/or field environmental measurements project research staff will use
  the Center for Environmental Solutions & Emergency Response SciNote, ELFN application.
</p>

<div class="button-group">
  <button onclick="window.location='https://ordscinote.epa.gov/'" class="usa-button">
    Learn more about SciNote ELFN &raquo;
  </button>
  <button
    onclick="window.location='https://intranet.ord.epa.gov/ceser/quality-assurance-qa-project-plan-development'"
    class="usa-button"
  >
    QAPP Development &raquo;
  </button>
</div>

<h2>More information and source code</h2>
<p>The source code for this project can be accessed on the GitHub repository by clicking the button below.</p>
<div class="button-group">
  <button class="usa-button" onclick="window.location='https://github.com/USEPA/DataSearch'">
    US EPA GitHub repository &raquo;
  </button>
  <button class="usa-button" onclick="window.location='https://www.epa.gov/webguide/github-guidance/'">
    USEPA GitHub Guidance &raquo;
  </button>
</div>

<h2>Project Organization</h2>
<p>
  Project StRAP SSHC.7, Life Cycle Inventories & Methodologies SHC.O21, Characterization of Food Waste Reduction &
  Strategies & Identification of Food Waste Prevention Solutions.
</p>
<div class="button-group">
  <button class="usa-button" onclick="window.location='https://qatrack.epa.gov/projects/show/8880/'">
    Access Required &raquo;
  </button>
</div>

<h2>Office of Research & Development</h2>
<p>
  Center for Environmental Solutions & Emergency Response, Land Remediation & Technology Division, Environmental
  Decision Analytics Branch.
</p>
<div class="button-group">
  <button class="usa-button" onclick="window.location='http://intranet.ord.epa.gov/ceser/'">Learn more &raquo;</button>
</div>

{% endblock %}
