{% extends 'base/site_base_accounts_admin.html' %}
{% load staticfiles %}
{% block account_admin_content %}
<h3>Profile information for {{edit_user.username}}</h3>
<form class="form-horizontal" method="post" action="{% url 'user_edit' id %}" novalidate>
    {% if form.errors %}
    <div class="alert alert-danger">
        <h5>Please correct the following errors</h5>
        {% for field in form %}
        {% if field.errors %}
        <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success">
        The user profile has been updated. <span class="glyphicon glyphicon-ok"></span>
    </div>
    {% endif %}

    {% csrf_token %}

    <h5 class="separator">Personal Information</h5>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            <div>{{form.username.label_tag}}</div>
        </label>
        <div class="col-sm-9">
            {{form.username}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.last_login.label_tag}}</label>
        <div class="col-sm-9">
            {{form.last_login}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.date_joined.label_tag}}</label>
        <div class="col-sm-9">
            {{form.date_joined}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.first_name.label_tag}}</label>
        <div class="col-sm-9">
            {{form.first_name}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.last_name.label_tag}}</label>
        <div class="col-sm-9">
            {{form.last_name}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.email.label_tag}}</label>
        <div class="col-sm-9">
            {{form.email}}
        </div>
    </div>

    {% include 'organization_select.html' %}

    <h5 class="separator">Security Information</h5>

    <div class="form-group">
        <label title="An editor can create and edit records for any organization in their center/office. If a user needs to create or edit records for more than one lab/center, set them to ADMIN. Only admins can set another user to ADMIN." class="col-sm-3 control-label">[?] {{form.permissions.label_tag}}</label>
        <div class="col-sm-9">
            {{form.permissions}}
        </div>
    </div>

    <!--
    <h5 class="separator">Previous Security Information</h5>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.is_staff.label_tag}}</label>
        <div class="col-sm-9">
            {{form.is_staff}}
        </div>
    </div>

    -->
    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.is_active.label_tag}}</label>
        <div class="col-sm-9">
            {{form.is_active}}
        </div>
    </div>

    <!--
    <div class="form-group">
        <label title="The user type limits which organizations the user can create records for. Only a super user can delete files attached by another user. However, any user can delete files they attached." class="col-sm-3 control-label">[?] {{form.user_type.label_tag}}</label>
        <div class="col-sm-9">
            {{form.user_type}}
        </div>
    </div>
    -->

    <!--<div class="form-group">
        <label class="col-sm-3 control-label">{{form.is_reviewer.label_tag}}</label>
        <div class="col-sm-9">
            {{form.is_reviewer}}
        </div>
    </div>

    <div class="form-group">
        <label title="Yes indicates user will have create and edit rights; No indicates user will have read-only rights." class="col-sm-3 control-label">[?] {{form.can_edit.label_tag}}</label>
        <div class="col-sm-9">
            {{form.can_edit}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.is_superuser.label_tag}}</label>
        <div class="col-sm-9">
            {{form.is_superuser}}
        </div>
    </div>-->

    <!--
    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.can_create_users.label_tag}}</label>
        <div class="col-sm-9">
            {{form.can_create_users}}
        </div>
    </div>
    -->

    <h5 class="separator">Password</h5>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.password1.label_tag}}</label>
        <div class="col-sm-9">
            {{form.password1}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.password2.label_tag}}</label>
        <div class="col-sm-9">
            {{form.password2}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9"> </div>
        <div class="col-sm-3">
            <input class="btn btn-primary" type="submit" value="Save" />
            <a class="btn btn-warning" href="{% url 'user_select' %}">Cancel</a>
        </div>
    </div>

</form>

{% endblock %}
