{% extends 'base/site_base_accounts.html' %}
{% load static %}
{% block account_content %}
<h3>Profile Information for {{user.username}}</h3>
<form class="form-horizontal" method="post" action="{% url 'profile' %}">
    {% if form.errors %}
    <div class="alert alert-danger">
        <h5>Please correct the following errors</h5>
        {% for field in form %}
        {% if field.errors %}
        <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success">
        Your profile has been updated. <span class="glyphicon glyphicon-ok"></span>
    </div>
    {% endif %}

    {% csrf_token %}

    <h5 class="separator">Personal Information</h5>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            <div>{{form.username.label_tag}}</div>
        </label>
        <div class="col-sm-9">
            {{form.username}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.last_login.label_tag}}</label>
        <div class="col-sm-9">
            {{form.last_login}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.date_joined.label_tag}}</label>
        <div class="col-sm-9">
            {{form.date_joined}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.first_name.label_tag}}</label>
        <div class="col-sm-9">
            {{form.first_name}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.last_name.label_tag}}</label>
        <div class="col-sm-9">
            {{form.last_name}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">{{form.email.label_tag}}</label>
        <div class="col-sm-9">
            {{form.email}}
        </div>
    </div>

    {% include 'organization_select.html' %}


    <h5 class="separator">Security Information</h5>
    {% if kwargs.is_admin %}
    <div class="form-group">
        <label title="An editor can create and edit records for any organization in their center/office. If a user needs to create or edit records for more than one lab/center, set them to ADMIN. Only admins can set another user to ADMIN." class="col-sm-3 control-label">[?] {{form.permissions.label_tag}}</label>
        <div class="col-sm-9">
            {{form.permissions}}
        </div>
    </div>
    {% else %}
    <div class="form-group">
        <label title="" class="col-sm-3 control-label">[?] {{form.permissions.label_tag}}</label>
        <div class="col-sm-9">
            <div class='form-control' readonly='readonly'>{{ kwargs.perm_level }}</div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-9"> </div>
        <div class="col-sm-3">
            <input class="btn btn-primary" type="submit" value="Save">
            <a class="btn btn-warning" href="{% url 'profile' %}">Undo changes</a>
        </div>
    </div>

</form>

{% endblock %}
