{% extends "base/site_base_project.html" %}
{% load humanize %}

{% block project_content %}

<script>
        $(document).ready(function () {
            var ul = $('#upload ul');
            // Change this to the location of your server-side upload handler:
            var url = '/projects/file/upload/{{obj.id}}/';

            $('#drop a').click(function(){
                // Simulate a click on the file input button
                // to show the file browser dialog
                $(this).parent().find('input').click();
            });

            // Initialize the jQuery File Upload plugin
            $('#upload').fileupload({
                // This element will accept file drag/drop uploading
                dropZone: $('#drop'),

                // This function is called when a file is added to the queue;
                // either via the browse button, or via drag/drop:
                add: function (e, data) {


                var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"'+
                ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

                // Append the file name and file size
                tpl.find('p').text(data.files[0].name)
                         .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

                // Add the HTML to the UL element
                data.context = tpl.appendTo(ul);

                // Initialize the knob plugin
                tpl.find('input').knob();

                // Listen for clicks on the cancel icon
                tpl.find('span').click(function(){

                if(tpl.hasClass('working')){
                    jqXHR.abort();
                }

                tpl.fadeOut(function(){
                    tpl.remove();
                });

            });

            // Automatically upload the file once it is added to the queue
            var jqXHR = data.submit();
        },


      progress: function(e, data){

            // Calculate the completion percentage of the upload
            var progress = parseInt(data.loaded / data.total * 100, 10);

            // Update the hidden input field and trigger a change
            // so that the jQuery knob plugin knows to update the dial
            data.context.find('input').val(progress).change();

            if(progress == 100){
                data.context.removeClass('working');
            }
        },

        fail:function(e, data){
            // Something has gone wrong!
            data.context.addClass('error');
        }

    });

    // Prevent the default action when a file is dropped on the window
    $(document).on('drop dragover', function (e) {
        e.preventDefault();
    });

    // Helper function that formats the file sizes
    function formatFileSize(bytes) {
        if (typeof bytes !== 'number') {
            return '';
        }

        if (bytes >= 1000000000) {
            return (bytes / 1000000000).toFixed(2) + ' GB';
        }

        if (bytes >= 1000000) {
            return (bytes / 1000000).toFixed(2) + ' MB';
        }

        return (bytes / 1000).toFixed(2) + ' KB';
    }

    var cancel = function(){
        $("#id_file_upload").dialog("close");
    };

    var dialogOpts = {
        modal : true,
        title: "Upload Attachments",
        closeOnEscape : true,
        buttons : {
            "Cancel" : cancel
        },
        autoOpen : false
    };

    $('#id_file_upload').dialog(dialogOpts);
    $('#id_upload_btn').on('click', function(){
        $("#id_file_upload").dialog("open");
    });

      //Auto expand collapsable fields (just ORD RAP as of writing) if they have a value
      $('#view_project_container .collapse').each(function(){
        var hasVals = false;
        $(this).find('input').each(function(){
          if($(this).val() !== ''){
            hasVals = true;
          }
        })
        if(hasVals){
          $(this).attr('class','collapse in')
          $(this).attr('aria-expanded','true')
        }
      })

});



</script>
{% if show_horrible_banner %}
<h3 style='color:red'>{{missing_att_warning}}</h3>
{% endif %}
<h3>Details for project '{{obj.title}}'</h3>

<div class="vmargin20">
    {% if error %}
    <div class="alert alert-danger">{{error}}</div>
    {% endif %}

<form class="form-horizontal">

<div id='view_project_container'>

        <div class="form-group">
            <label class="col-sm-4 control-label">Project Lead</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.person.last_name}}, {{obj.person.first_name}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Office</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.office.abbreviation}}" />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Center</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.lab.abbreviation}}" />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Division</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.division.abbreviation}}" />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Branch</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.branch.abbreviation}}" />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Title</label>
            <div class="col-sm-8">
                <textarea disabled class="form-control">{{obj.title}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Team Members</label>
            <div class="col-sm-8">
                {% if obj.collaborators.all %}
                <ul class="list-group">
                    {% for p in obj.collaborators.all %}
                    <li class="list-group-item">{{p.last_name}}, {{p.first_name}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <input type="text" disabled class="form-control"
                       value="None" />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Project QA ID</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.qa_id}}" />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">QA Manager</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.qa_manager.last_name}}, {{obj.qa_manager.first_name}}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Previous QA Managers</label>
            <div class="col-sm-8">
                {% if obj.previous_qams.all %}
                <ul class="list-group">
                    {% for p in obj.previous_qams.all %}
                    <li class="list-group-item">{{p.last_name}}, {{p.first_name}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <input type="text" disabled class="form-control"
                       value="None" />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">QA Category</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.qa_category.the_name}}" />

            </div>
        </div>

        <!-- RAP -->

        <div style="padding: 30px 0">
        <div class="form-group">
            <label class="col-sm-{{label_width|default:4}} control-label" title="Click to expand/collapse.">
                <a href="#project_rap_fields" data-toggle="collapse">[?] ORD RAP</a>
            </label>
            <div class="col-sm-{{field_width|default:8}}"></div>
        </div>

        <div id="project_rap_fields" class="collapse" style="padding-bottom:20px;">
          <div class="form-group">
              <label class="col-sm-4 control-label">ACE RAP Numbers</label>
              <div class="col-sm-8">
                  <input type="text" disabled class="form-control"
                         value="{{obj.ace_rap_numbers|default_if_none:""}}" />
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-4 control-label">CSS RAP Numbers</label>
              <div class="col-sm-8">
                  <input type="text" disabled class="form-control"
                         value="{{obj.css_rap_numbers|default_if_none:""}}" />
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-4 control-label">SSWR RAP Numbers</label>
              <div class="col-sm-8">
                  <input type="text" disabled class="form-control"
                         value="{{obj.sswr_rap_numbers|default_if_none:""}}" />
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-4 control-label">HHRA RAP Numbers</label>
              <div class="col-sm-8">
                  <input type="text" disabled class="form-control"
                         value="{{obj.hhra_rap_numbers|default_if_none:""}}" />
              </div>
          </div>

          <div class="form-group">
              <label class="col-sm-4 control-label">HSRP RAP Numbers</label>
              <div class="col-sm-8">
                  <input type="text" disabled class="form-control"
                         value="{{obj.hsrp_rap_numbers|default_if_none:""}}" />
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-4 control-label">HSRP Rap Extensions</label>
              <div class="col-sm-8">
                  <input type="text" disabled class="form-control"
                         value="{{obj.hsrp_rap_extensions|default_if_none:""}}" />
              </div>
          </div>


          <div class="form-group">
              <label class="col-sm-4 control-label">SHC RAP Numbers</label>
              <div class="col-sm-8">
                  <input type="text" disabled class="form-control"
                         value="{{obj.shc_rap_numbers|default_if_none:""}}" />
              </div>
          </div>

        </div>
        <!-- /RAP -->

        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Project Type</label>
            <div class="col-sm-8">
                {% if obj.nrmrl_qapp_requirement.all %}
                <ul class="list-group">
                    {% for p in obj.nrmrl_qapp_requirement.all %}
                    <li class="list-group-item">{{p.the_name}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <input type="text" disabled class="form-control"
                       value="None" />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Program</label>
            <div class="col-sm-8">
                {% if obj.programs.all %}
                <ul class="list-group">
                    {% for p in obj.programs.all %}
                    <li class="list-group-item">{{p.the_name}}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <input type="text" disabled class="form-control"
                       value="None" />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Intramural or Extramural</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value="{{obj.project_type.the_name}}" />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Date Project Identified</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value='{{obj.date_project_identified|date:"Y-m-d"}}' />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Project Status</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value='{{obj.project_status.the_name}}' />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" title="The alternate ID can be used for a number from another system.">[?] Alternate ID</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control" value='{{obj.alt_id}}' />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" title="The previous ID can be used for any ID the Project was assigned by EPA prior to being entered in or imported to QA Track.">[?] Previous ID</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control" value='{{obj.previous_id}}' />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">QAPP Status</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value='{{obj.qapp_status.the_name}}' />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" title="If yes, access to any files attached to QAPP QA activities for this project will be restricted to project editors and users associated with the project. In addition, any files marked as the latest approved QAPP for this project will NOT be posted on ORD@Work. See user manual for more details.">[?] Restrict access to QAPP QA activity attachments</label>
            <div class="col-sm-8">
                {% if obj.restrict_qapp_files == True %}
                <input type="text" disabled class="form-control" value='Yes' />
                {% else %}
                <input type="text" disabled class="form-control" value='No' />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" title="If yes, access to any files attached to the latest Extramural Package QA activity for this project will be restricted to project editors and users associated with the project. See user manual for more details.">[?] Restrict access to EP QA activity attachments</label>
            <div class="col-sm-8">
                {% if obj.restrict_ext_package_files == True %}
                <input type="text" disabled class="form-control" value='Yes' />
                {% else %}
                <input type="text" disabled class="form-control" value='No' />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">QAPP Approval Date</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value='{{obj.qapp_approval_date|date:"Y-m-d"}}' />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" title="This date will automatically update if a new QA activity is created.  If no new QA activity is created, this date should be updated manually by editing the date.  For example, if the Project Lead reviews the QAPP and no changes are needed, the QA Manager should enter the date of review by the Project Lead.">[?] Latest Annual QAPP Review Date</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value='{{obj.last_qapp_review_date|date:"Y-m-d"}}' />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">QMP Required</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value='{{obj.qmp_required}}' />

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">QMP Approval Date</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value='{{obj.qmp_approval_date|date:"Y-m-d"}}' />

            </div>
        </div>

        <!--<div class="form-group">
            <label class="col-sm-4 control-label">Extramural Vehicle</label>
            <div class="col-sm-8">
                <input type="text" disabled class="form-control" value='{{obj.extramural_vehicle.the_name}}' />
            </div>
        </div>-->

        <div class="form-group">
            <label class="col-sm-4 control-label" title="Use this field to identify the contractor or assistance agreement holder by name.  Note:  Use the field “EPA Non-ORD Organization” to identify an organization for which no contract or assistance agreement exists.">[?] Name of Contractor/Institution</label>
            <div class="col-sm-8">
                {% if obj.extramural_vehicle %}
                <input type="text" disabled class="form-control" value='{{obj.extramural_vehicle.institution_name}}' />
                {% else %}
                <input type="text" disabled class="form-control" value='{{obj.institution_name}}' />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Vehicle Type</label>
            <div class="col-sm-8">
                {% if obj.extramural_vehicle %}
                <input type="text" disabled class="form-control" value='{{obj.extramural_vehicle.vehicle_type.the_name}}' />
                {% else %}
                <input type="text" disabled class="form-control" value='{{obj.vehicle_type.the_name}}' />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" title="The official contract number, for example EP-C-08-015, found on the ORD QA Review Form.  Can also be used for the official assistance agreement number.">[?] Vehicle Number</label>
            <div class="col-sm-8">
                {% if obj.extramural_vehicle %}
                <input type="text" disabled class="form-control" value='{{obj.extramural_vehicle.vehicle_number}}' />
                {% else %}
                <input type="text" disabled class="form-control" value='{{obj.vehicle_number}}' />
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Comments</label>
            <!--
            <div class="col-sm-8">
                <input type="text" disabled class="form-control"
                       value='{{obj.the_description}}' />

            </div>
            -->
            <div class="col-sm-8">
                <textarea disabled class="form-control">{{obj.the_description}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label" title="URLs to related projects in QA Track and/or any associated project websites can be entered here. Separate multiple links with a space.">[?] Links</label>
            <div class="col-sm-8">
                {% if weblinks_list %}
                {% for url in weblinks_list %}
                <a class="form-control" href="{{url}}">
                    <span class="text-blue-link">{{url}}</span>
                </a>
                {% endfor %}
                {% else %}
                <input type="text" disabled class="form-control">
                {% endif %}
            </div>
        </div>


</div>


<a id="relatedorgs"></a>
<p><h3>Related Organizations</h3></p>

<div class="form-group">
    <label class="col-sm-4 control-label" title="Typically used to identify non-ORD EPA organizations participating in the research AND for which no contract or assistance agreement exists.  Note: Use the field “Name of Contractor/Institution” to identify contractors and assistance agreement holders.">[?] EPA Non-ORD Organizations</label>
    <div class="col-sm-8">
        {% if obj.participating_organizations.all %}
        <ul class="list-group">
            {% for p in obj.participating_organizations.all %}
            <li class="list-group-item"><a href="{% url 'show_participating_organization' p.id %}">{{p.company}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <input type="text" disabled class="form-control" value="None" />
        {% endif %}
    </div>
</div>

<div class="form-group">
  <label class="col-sm-4 control-label">ORD Organizations</label>
  <div class="col-sm-8">

  <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="orgs_table">
      {% if orgs %}
          {% for obj in orgs %}
          <tr>
              <td style="text-align:left">{{obj.office.abbreviation}} {{obj.lab.abbreviation}} {{obj.division.abbreviation}} {{obj.branch.abbreviation}}</td>
              <td><a href="{% url 'delete_proj_org' obj.id %}">Delete</a></td>
          </tr>
          {% endfor %}
      {% else %}
          <tr><td><br></td></tr>
      {% endif %}

   </table>

      {% if kwargs.allow_edit %}
      <a href="{% url 'link_organization_proj' obj.id %}">Link ORD Organization to this Project</a>
      {% endif %}

  </div>
</div>

    <p>
    <h3 title="Click to expand/collapse. This table displays a log of each time any of the following fields are updated: Latest Annual QAPP Review Date, Project Lead, QA Manager, Status, QAPP Status; or if the user enters a comment for the Update History."><a href="#project_updatehistory_div" data-toggle="collapse">Update History [?]</a></h3>
      </p>

<div id="project_updatehistory_div" class="collapse" style="padding-bottom:20px;">
  <table class="example table-autosort:7 table-stripeclass:alternate table-autofilter" id="project_update_history_table">
      <thead id="project_update_history_head">
      <tr>
        <th class="table-header">Latest Annual QAPP Review Date</th>
          <th class="table-header">Project Lead</th>
          <th class="table-header">QA Manager</th>
          <th class="table-header">Status</th>
          <th class="table-header">QAPP Status</th>
          <th class="table-header">Comment</th>
          <th class="table-header">Updated By</th>
          <th class="table-header">Date Updated</th>
      </tr>
      </thead>

      <tbody id="project_update_history_body">
        {% for obj in project_update_history %}
      <tr>
          <td>{{obj.date_qappreviewed|date:"Y-m-d"}}</td>
          <td>{{obj.projectlead.last_name}}, {{obj.projectlead.first_name}}</td>
          {% if obj.qa_manager %}
          <td>{{obj.qa_manager.last_name}}, {{obj.qa_manager.first_name}}</td>
		  {% else %}
		  <td><br></td>
          {% endif %}
          <td>{{obj.project_status.the_name}}</td>
          <td>{{obj.qapp_status.the_name}}</td>
          <td style="text-align: left">{{obj.comments}}</td>
          {% if obj.user %}
          <td>{{obj.user.last_name}}, {{obj.user.first_name}}</td>
          {% else %}
          <td>QA Track</td>
          {% endif %}
          <td>{{obj.created|date:"Y-m-d"}}</td>

      </tr>
      {% endfor %}

      </tbody>
  </table>
</div>

</form>

<p>


<div class="col size-2of3">
    <a id="attachments"></a>
    {% if show_horrible_banner %}
    <h3 style='color:red'>{{missing_att_warning}}</h3>
    {% endif %}
    {% if project_attachments %}

    <p><h3 title="Click to expand/collapse."><a href="#project_files_div" data-toggle="collapse">Project Files [?]</a></h3></p>

    {% if expand_files %}
    <div id="project_files_div" class="collapse in" style="padding-bottom:20px;">
    {% else %}
    <div id="project_files_div" class="collapse" style="padding-bottom:20px;">
    {% endif %}

    <table class="example table-autosort:0 table-stripeclass:alternate table-autofilter" id="project_attachments_table">
        <thead id="project_attachments_head">
        <tr>
            <th class="table-sortable:alphanumeric">Filename ({{project_attachments.count}})</th>
            <th class="table-header" title="Files marked Latest Approved QAPP are automatically also set to be included in reminders. You cannot toggle Y to N for the latest approved QAPP files. If the reminder should be suspended, go to “Annual QAPP Reviews”  “Suspend Reminder”  “Y”">Click to include files with Annual QAPP Reminder (Y/N) [?]</th>
            <th title="Toggle N to Y to indicate one project or activity file that is a Word document of the latest approved QAPP.">Latest Approved QAPP<br> Word [?]</th>
            <th title="Toggle N to Y to indicate one project or activity file that is a PDF of the latest approved QAPP. This is the file made available for download on ORD@Work unless 'Restrict access to QAPP QA activity attachments' is set to Yes.">Latest Approved QAPP<br> PDF [?]</th>
            <th class="table-header">Delete</th>
        </tr>
        <tr>
            <th class="table-filterable"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
        </tr>

        </thead>

        <tbody id="project_attachments_body">

        {% for att in project_attachments %}
        <tr>
            <td class='filename_td'><a href="{{MEDIA_URL}}{{att.attachment|urlencode}}">{{att.the_name}}</a></td>
            {% if kwargs.allow_edit %}
                <td class="col-sm-2"><a href="{% url 'switch_qapp_review_file_flag' obj_id=att.id  %}">{{att.is_qapp_review_file}}</a></td>

                <td>
                    {% if att.attachment_type == 'doc' %}
                    <a href={% url 'switch_latest_qapp_flag' obj_id=att.id  %}>{{att.is_latest_qapp_doc}}</a>
                    {% endif %}
                </td>
                <td>
                    {% if att.attachment_type == 'pdf' %}
                    <a href={% url 'switch_latest_qapp_flag' obj_id=att.id  %}>{{att.is_latest_qapp_pdf}}</a>
                    {% endif %}
                </td>
                <td><a href={% url 'delete_project_attachment' att.id %}>Delete</a></td>
            {% else %}
                <td class="col-sm-2">{{att.is_qapp_review_file}}</td>
                <td>
                    {% if att.attachment_type == 'doc' %}
                    {{att.is_latest_qapp_doc}}
                    {% endif %}
                </td>
                <td>
                    {% if att.attachment_type == 'pdf' %}
                    {{att.is_latest_qapp_pdf}}
                    {% endif %}
                </td>
                <td>Delete</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if kwargs.allow_edit %}
    <div>
        <a id="id_upload_btn" class="btn btn-warning">Attach Files</a>
        <br/><br/>
    </div>
    {% endif %}
    </div>

    {% if activity_attachments %}

    <a id="activity_attachments"></a>
    <p><h3 title="Click to expand/collapse."><a href="#project_activityfiles_div" data-toggle="collapse">Activity Files [?]</a></h3></p>

    {% if expand_files %}
    <div id="project_activityfiles_div" class="collapse in" style="padding-bottom:20px;">
    {% else %}
    <div id="project_activityfiles_div" class="collapse" style="padding-bottom:20px;">
    {% endif %}

    <table class="example table-autosort:0 table-stripeclass:alternate table-autofilter" id="activity_attachments_table">
        <thead id="activity_attachments_head">
        <tr>
            <th class="table-sortable:alphanumeric">Filename ({{activity_attachments.count}})</th>
            <th class="table-sortable:alphanumeric">QA Activity ID</th>
            <th class="table-header" title="Files marked Latest Approved QAPP are automatically also set to be included in reminders. You cannot toggle Y to N for the latest approved QAPP files. If the reminder should be suspended, go to “Annual QAPP Reviews”  “Suspend Reminder”  “Y”">Click to include files with Annual QAPP Reminder (Y/N) [?]</th>
            <th title="Toggle N to Y to indicate one project or activity file that is a Word document of the latest approved QAPP.">Latest Approved QAPP<br> Word [?]</th>
            <th title="Toggle N to Y to indicate one project or activity file that is a PDF of the latest approved QAPP. This is the file made available for download on ORD@Work unless 'Post QAPP on ORD@Work' is set to No.">Latest Approved QAPP<br> PDF [?]</th>
            <th class="table-header">Delete</th>
        </tr>
        <tr>
            <th class="table-filterable"></th>
            <th class="table-filterable"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
        </tr>

        </thead>

        <tbody id="activity_attachments_body">

        {% for att in activity_attachments %}
        <tr>
            {% if not att.restricted %}
            <td class='filename_td'><a href="{{MEDIA_URL}}{{att.attachment|urlencode}}">{{att.the_name}}</a></td>
            {% elif att.restricted_qapp %}
            <td class='filename_td'>Restricted QAPP file</td>
            {% elif att.restricted_ep %}
            <td class='filename_td'>Restricted Extramural Package file</td>
            {% else %}
            <td class='filename_td'>Restricted file</td>
            {% endif %}
            <td><a href="/projects/qlog/show/{{att.project_log.id}}">{{att.project_log.qa_log_number}}</a></td>
            {% if kwargs.allow_edit  and not att.restricted%}
            <td class="col-sm-2"><a href="{% url 'switch_qapp_review_file_flag' obj_id=att.id  %}">{{att.is_qapp_review_file}}</a></td>
            <td>
                {% if att.attachment_type == 'doc' %}
                <a href={% url 'switch_latest_qapp_flag' obj_id=att.id %}>{{att.is_latest_qapp_doc}}</a>
                {% endif %}
            </td>
            <td>
                {% if att.attachment_type == 'pdf' %}
                <a href={% url 'switch_latest_qapp_flag' obj_id=att.id %}>{{att.is_latest_qapp_pdf}}</a>
                {% endif %}
            </td>
            <td><a href={% url 'delete_project_attachment' att.id %}>Delete</td>
            {% else %}
            <td class="col-sm-2">{{att.is_qapp_review_file}}</td>

            <td>
                {% if att.attachment_type == 'doc' %}
                {{att.is_latest_qapp_doc}}
                {% endif %}
            </td>
            <td>
                {% if att.attachment_type == 'pdf' %}
                {{att.is_latest_qapp_pdf}}
                {% endif %}
            </td>
            <td>Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% endif %}

</div>

<div id="id_file_upload">
    {% if obj.id %}
    {% if kwargs.allow_edit %}
    <form id="upload" method="post"action={% url 'file_upload' obj.id %} enctype="multipart/form-data">

    {% csrf_token %}

    <div id="drop">
        Drop Files ONLY Here

        <a>Browse</a>
        <input type="file" name="upl" multiple />
    </div>
    <ul>
        <!-- The file uploads will be shown here -->
    </ul>
    <button type="submit" class="btn btn-primary start">
        <span>Finish</span>
    </button>

    </form>
    {% endif %}
    {% endif %}
</div>


<div>
    <div class="col one_hundred">
        {% if qlogs %}

        <p><h3 title="Click to expand/collapse."><a href="#project_activities_div" data-toggle="collapse">Existing Project QA Activities [?]</a></h3></p>

        <div id="project_activities_div" class="collapse" style="padding-bottom:20px;">
        <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="qlogs_table">
            <thead id="qlogs_head">
            <tr>
                <th class="table-sortable:alphanumeric">Div</th>
                <th class="table-sortable:alphanumeric">Br</th>
                <th class="table-sortable:alphanumeric">Project Lead</th>
                <th class="table-sortable:alphanumeric">QA Activity POC:</th>

                <th class="table-sortable:alphanumeric">Reviewer</th>
                <th class="table-sortable:alphanumeric">Type</th>
                <th class="table-sortable:alphanumeric">Number</th>
                <th class="table-sortable:alphanumeric">Version</th>

                <th class="table-sortable:date">Received</th>
                <th class="table-sortable:date">Reviewed</th>

                <th class="table-sortable:date">Approved</th>
                <th class="table-sortable:alphanumeric">Title</th>

                <th class="table-sortable:alphanumeric">QA Activity</th>
                <th class="table-header">QA Activity Review Form</th>
            </tr>
            <tr>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>

                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>

                <th class="table-filterable"></th>
                <th class="table-filterable"></th>

                <!--<th class="table-filterable"></th>-->
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>

                <th class="table-header"></th>
                <th class="table-header"></th>
            </tr>

            </thead>

            <tbody id="qlogs_body">

            {% for obj in qlogs %}
            <tr>
                <td>{{obj.division.abbreviation}}</td>
                <td>{{obj.branch.abbreviation}}</td>
                <td>{{obj.project.person.last_name}}, {{obj.project.person.first_name}}</td>
                <td>{{obj.technical_lead.last_name}}, {{obj.technical_lead.first_name}}</td>

                <td>{{obj.reviewer.last_name}}, {{obj.reviewer.first_name}}</td>
                <td>{{obj.project_log_type.the_name}}</td>
                <td>{{obj.qa_log_number_x}}</td>
                <td>{{obj.qa_log_number_y}}</td>
                <td>{{obj.date_received|date:"Y-m-d"}}</td>
                <td>{{obj.date_reviewed|date:"Y-m-d"}}</td>

                <td>{{obj.date_approved|date:"Y-m-d"}}</td>
                <td width="200">{{obj.title}}</td>

                <td><a href="{% url 'show_project_log' obj.id %}">{{obj.qa_log_number}}</a></td>
                <td><a href="{% url 'pdf_qlog' obj.id %}" target="_blank">PDF</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        {% else %}
        <p><h3>No Existing Project QA Activities Entered Yet</h3></p>
        {% endif %}
    </div>

    <div class="col one_hundred">
        {% if related_sops %}

        <p><h3>Related SOPs</h3></p>

        <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="soptab_table">
            <thead id="soptab_head">
            <tr>
                <th class="table-sortable:alphanumeric">SOP Number</th>
                <th class="table-sortable:alphanumeric">Full Title</th>
                <th class="table-sortable:alphanumeric">Status</th>
                <th class="table-sortable:date">Date Approved</th>
            </tr>
            <tr>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
            </tr>

            </thead>

            <tbody id="soptab_body">

            {% for obj in related_sops %}
            <tr>
                <td><a href="{% url 'show_sop_tab' obj.id %}">{{obj.sop_number}}</a></td>
                <td>{{obj.full_title}}</td>
                <td>{{obj.sop_status.the_name}}</td>
                <td>{{obj.date_approved|date:"Y-m-d"}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p><h3>No Related SOPs Entered Yet</h3></p>
        {% endif %}
    </div>

    <div class="col one_hundred">
        {% if related_notebooks %}

        <p><h3>Related Notebooks</h3></p>

        <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="nbtab_table">
            <thead id="nbtab_head">
            <tr>
                <th class="table-sortable:alphanumeric">Notebook Number</th>
                <th class="table-sortable:alphanumeric">Notebook Type</th>
                <th class="table-sortable:alphanumeric">Status</th>
                <th class="table-sortable:alphanumeric">Title</th>
                <th class="table-sortable:alphanumeric">Notebook Custodian</th>
                <th class="table-sortable:date">Date Issued</th>
            </tr>
            <tr>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
                <th class="table-filterable"></th>
            </tr>

            </thead>

            <tbody id="nbtab_body">

            {% for obj in related_notebooks %}
            <tr>
                <td><a href="{% url 'show_nb_tab' obj.id %}">{{obj.nb_number}}</a></td>
                <td>{{obj.nb_type.the_name}}</td>
                <td>{{obj.status.the_name}}</td>
                <td>{{obj.title}}</td>
                <td>{{obj.custodian.first_name}} {{obj.custodian.last_name}}</td>
                <td>{{obj.date_issued|date:"Y-m-d"}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p><h3>No Related Notebooks Entered Yet</h3></p>
        {% endif %}
    </div>


</div>
{% endblock %}
