{% extends "base/site_base_project.html" %}
{% load humanize %}

{% block project_content %}

<h3>Projects by Organization</h3>

<div class="form-horizontal">
{#    <div class="form-group">#}
{#        <div class="col-sm-8">#}
{#            <input id="id_search" class="form-control search" type="text" placeholder="Search">#}
{#        </div>#}
{#        <div class="col-sm-3">#}
{#            <button type="button" class="btn btn-warning" id="id_btn_reset">#}
{#                Clear Search#}
{#            </button>#}
{#        </div>#}
{#    </div>#}
    <div class="form-group">
        <div class="col-sm-8">
            <label class="checkbox-inline"><input class="status-checkbox" type="checkbox" id="id_checkbox_active" checked="" value="active">Active</label>
            <label class="checkbox-inline"><input class="status-checkbox" type="checkbox" id="id_checkbox_pending" checked="" value="pending">Pending <span class="glyphicon glyphicon-hourglass"></span></label>
            <label class="checkbox-inline"><input class="status-checkbox" type="checkbox" id="id_checkbox_inactive" checked="" value="inactive">Inactive <span class="glyphicon glyphicon-lock"></span></label>
            <label class="checkbox-inline"><input class="status-checkbox" type="checkbox" id="id_checkbox_archived" checked="" value="archived">Archived <span class="glyphicon glyphicon-briefcase"></span></label>
        </div>
    </div>
</div>

<div class="btn-group-xs">
    <button type="button" class="btn btn-default" id="id_btn_expand">
        <span class="glyphicon glyphicon-plus"></span> Expand All
    </button>
    <button type="button" class="btn btn-default" id="id_btn_collapse">
        <span class="glyphicon glyphicon-minus"></span> Collapse All
    </button>
</div>

<div id="tree"></div>

<div class="modal"></div>

<style>
    .tree-row-node{
        display:inline-block;
        overflow:hidden;
        max-width:700px;
        white-space: nowrap;
        text-overflow:ellipsis;
        vertical-align:middle;
    }
    #tree .node-disabled {
        display: none;
    }
    /* Start by setting display:none to make this hidden.
       Then we position it in relation to the viewport window
       with position:fixed. Width, height, top and left speak
       speak for themselves. Background we set to 80% white with
       our animation centered, and no-repeating */
    .modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 )
                    url('http://sampsonresume.com/labs/pIkfp.gif')
                    50% 50%
                    no-repeat;
    }

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
</style>

<script type="text/javascript">
    $(document).ready(function() {

        // make sure search field is cleared if user has hit the "back" button

        $('#id_search').val('');

        ///////////////////////////////////////////////////////////////////////////////
        // search code adapted from https://jsfiddle.net/david_garcia_dgb2/0hLu1cu6/8/
        ///////////////////////////////////////////////////////////////////////////////
        var lastPattern = ''; // closure variable to prevent redundant operation
        var statusDisabled = []; // closure variable to maintain list of nodes disabled based on status

        // collapse and enable all before search //
        function reset(tree) {
            tree.collapseAll();
            tree.enableAll();
        }
        // find all nodes that are not related to search and should be disabled:
        // This excludes found nodes and their parents. (ORIGINAL CODE ALSO EXCLUDED CHILDREN OF FOUND NODES)
        // Call this after collapsing all nodes and letting search() reveal.
        //
        function collectUnrelated(nodes) {
            var unrelated = [];
            $.each(nodes, function (i, n) {
                if (!n.searchResult && !n.state.expanded) { // no hit, no parent
                    unrelated.push(n.nodeId);
                }
                // original code was only checking children if (!n.searchResult && n.nodes)
                // but that misses many unrelated nodes
                $.merge(unrelated, collectUnrelated(n.nodes));
            });
            return unrelated;
        }

        // search callback
        var search = function (e) {
            var pattern = $('#id_search').val();
            if (pattern === lastPattern) {
                return;
            }
            lastPattern = pattern;
            var tree = $('#tree').treeview(true);
            reset(tree);
            if (pattern.length < 3) { // avoid heavy operation
                tree.clearSearch();
            } else {
                tree.search(pattern);
                // get all root nodes: node 0 who is assumed to be
                //   a root node, and all siblings of node 0.
                var roots = tree.getSiblings(0);
                roots.push(tree.getNode(0));
                // first collect all nodes to disable, then call disable once.
                //  Calling disable on each of them directly is extremely slow!
                var unrelated = collectUnrelated(roots);
                tree.disableNode(unrelated, {silent: true});
            }
        };

        // typing in search field
        $('#id_search').on('keyup', function(){
            search();
            disableByStatus();
        });

        // clear button
        $('#id_btn_reset').on('click', function (e) {
            if ($('#id_search').val() !== ''){
                $('#id_search').val('');
                var tree = $('#tree').treeview(true);
                reset(tree);
                tree.clearSearch();
                tree.disableNode(statusDisabled, {silent: true});
            }
        });
        ///////////////////////////////////////////////////////////////////////////////
        // END SEARCH CODE
        ///////////////////////////////////////////////////////////////////////////////

        function collectStatusDisabled(nodes) {
            var disable = [],
                active = $('#id_checkbox_active').prop('checked'),
                pending = $('#id_checkbox_pending').prop('checked'),
                inactive = $('#id_checkbox_inactive').prop('checked'),
                archived = $('#id_checkbox_archived').prop('checked');

            $.each(nodes, function (i, n) {
                if (!active && n.status && n.status === 'Active') {
                    disable.push(n.nodeId);
                } else if (!pending && n.status && n.status === 'Pending') {
                    disable.push(n.nodeId);
                } else if (!inactive && n.status && n.status === 'Inactive') {
                    disable.push(n.nodeId);
                } else if (!archived && n.status && n.status === 'Archived') {
                    disable.push(n.nodeId);
                }
                $.merge(disable, collectStatusDisabled(n.nodes));
            });
            return disable;
        }

        function disableByStatus(){
            var tree = $('#tree').treeview(true);
            var roots = tree.getSiblings(0);
            roots.push(tree.getNode(0));
            statusDisabled = collectStatusDisabled(roots);
            tree.disableNode(statusDisabled, {silent: false});
        }

        // status checkboxes
        $('.status-checkbox').on('change', function(e){
            var tree = $('#tree').treeview(true),
                expanded = [];

            $("body").addClass("loading");
            // setting the loading mask does not work (mask never appears)
            // unless we use setTimeout to get us into a different thread
            setTimeout(function(){
                tree.enableAll();
                lastPattern = '';
{#                search();#}
                disableByStatus();
                $("body").removeClass("loading");
            }, 10);

        });

        // expand all button
        $('#id_btn_expand').on('click', function(){
            $("body").addClass("loading");
            // setting the loading mask does not work (mask never appears)
            // unless we use setTimeout to get us into a different thread
            setTimeout(function() {
                 $('#tree').treeview('expandAll', {silent: false});
                 $("body").removeClass("loading");
            }, 10);
        });

        // collapse all button
        $('#id_btn_collapse').on('click', function(){
            $('#tree').treeview('collapseAll', { silent: false });
        });

    });

    function getTreeData(){
        var labList = {{lab_list|safe}};
        var divisionList = {{division_list|safe}};
        var branchList = {{branch_list|safe}};
        var projectList = {{project_list|safe}};
{#        var activityList = {{activity_list|safe}};#}

        var labLabel = function (v) { return (v.abbreviation + " - " + v.lab); };
        var divisionLabel = function (v) { return (v.abbreviation + " - " + v.division); };
        var branchLabel = function (v) { return (v.abbreviation + " - " + v.branch); };
        var projectLabel = function (v) {
            return ( "<span style='color:#337ab7;font-weight:bold'>" + v.qa_id + "</span> - " + v.project_lead + " - " + v.title);
        };
        var activityLabel = function (v) { return (v.qa_log_number + " - " + v.type + " - " + v.activity_poc + " - " + v.title); };

        var labSelector = function (v) { return v.has_projects; };
        var divisionSelector = function (v, lab) {
            return v.has_projects && v.lab_id === lab.id;
        };
        var branchSelector = function (v, division) {
            return /*v.has_projects && */ v.division_id === division.id ;
        };
        var projectSelector = function(v, branch){
            return v.branch_id === branch.id && v.division_id === branch.division_id;
        };
        var activitySelector = function(v, project){
            return v.project_id === project.id;
        };

        var orgNodeBuilder = function(v, levelInfo){
          return {
              text: levelInfo.labelFun(v),
              selectable: false
          };
        };
        var projectNodeBuilder = function(v, levelInfo) {
            var node = {
                text: '<span class="tree-row-node">' + levelInfo.labelFun(v) + '</span>',
                status: v.project_status,
                href: '/projects/show/' + v.id
            };

            if (v.project_status === 'Pending'){
                node.icon = 'glyphicon glyphicon-hourglass';
            } else if (v.project_status === 'Inactive'){
                node.icon = 'glyphicon glyphicon-lock';
            } else if (v.project_status === 'Archived'){
                node.icon = 'glyphicon glyphicon-briefcase';
            }

            return node;
        };
         var activityNodeBuilder = function(v, levelInfo) {
            return {
                text: '<span class="tree-row-node">' + levelInfo.labelFun(v) + '</span>',
//                status: v.project_status,
                href: '/projects/qlog/show/' + v.id
            }
        };

        // add dummy "Not Categorized" branch for each division
        $.each(divisionList, function(i, v){
            branchList.push({"id": null, "abbreviation": "NO BRANCH", "branch": "(Not Categorized)",
                            "division_id": v.id, "lab_id": null, "office_id": null,
                            "is_active": true, "has_projects": true});
        });

        levels = [
            {
                list: labList,
                selector: labSelector,
                labelFun: labLabel,
                nodeBuilder: orgNodeBuilder
            }, {
                list: divisionList,
                selector: divisionSelector,
                labelFun: divisionLabel,
                nodeBuilder: orgNodeBuilder
            }, {
                list: branchList,
                selector: branchSelector,
                labelFun: branchLabel,
                nodeBuilder: orgNodeBuilder
            }, {
                list: projectList,
                selector: projectSelector,
                labelFun: projectLabel,
                nodeBuilder: projectNodeBuilder
            }
{#            ,{#}
{#                list: activityList,#}
{#                selector: activitySelector,#}
{#                labelFun: activityLabel,#}
{#                nodeBuilder: activityNodeBuilder#}
{#            }#}
        ]


            function buildLevel(levels, index, parent){
            var level = [],
                levelInfo = levels[index];

            $.each(levelInfo.list, function( i, v ) {
                var node = {};

                if (levelInfo.selector(v, parent)) {
                    node = levelInfo.nodeBuilder(v, levelInfo);
                    if (index + 1 < levels.length) {
                        node.nodes = buildLevel(levels, index + 1, v);
                    }

                    if (node.nodes && node.nodes.length === 0){
                        delete(node.nodes);
                    }
                    if (!(index + 2 === levels.length && !node.nodes)){
                        level.push(node);
                    }
                }
            });
            return level;
        }

        var tree = buildLevel(levels, 0);

        return tree;
    }

    $('#tree').treeview({
        data: getTreeData(),
        showBorder: false,
        enableLinks: true,
        levels: 1,
        searchResultColor: 'green'
    });

</script>

{% endblock %}
