{% extends "base/site_base_project.html" %}
{% load humanize %}
	
{% block project_content %}
<h3>{{title}}</h3>


<div class="col-sm-6">
	<div class="reg">{{title}}<div class="orange">{% if obj.the_name %}{{obj.the_name}}{% else %}{{obj.company}}{% endif %}</div></div>
</div>
<div class="col-sm-6">
	<div class="reg">Is Active<div class="orange">{{obj.is_active}}</div></div>
</div>
<div class="col-sm-12">
	{% if title == 'NRMRLQAPPRequirement' %}
		<td><a href={% url 'create_nrmrl' %}>Create New NRMRL QAPP Requirement</a></td>
	{% endif %}
</div>
<div class="col-sm-12">
{% if objects %}

	<p><h3>{{title}} List</h3></p>
	
	<table class="example table-autosort:8 table-stripeclass:alternate table-autofilter" id="objects_table">
		<thead id="objects_head">
		<tr>
			<th class="table-sortable:alphanumeric">Type</th>
			<th class="table-sortable:alphanumeric">Is Active</th>
			
			<th class="table-header">Edit</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="objects_body">
			
			{% for obj in objects %}
				<tr>
					<td>{% if obj.the_name %}{{obj.the_name}}{% else %}{{obj.company}}{% endif %}</td>
					<td>{{obj.is_active}}</td>
					{% if title == 'NRMRLQAPPRequirement' %}
						<td><a href={% url 'edit_nrmrl' obj.id %}></a>Edit</td>
					{% endif %}
					{% if title == 'QA Category' %}
						<td><a href={% url 'edit_qa_category' obj.id %}></a>Edit</td>
					{% endif %}
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>
{% endblock %}