{% extends "main/base.html" %}
{% block content %}
{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'EPA_files/logo.png' %}" alt="">
            <p class="float-right blue-box-with-shadow">QUALITY ASSURANCE PROJECT PLAN</p>
        </div>
    </div>
    <div class="row mt-4 text-center">
        <div class="col-md-12">
            <h2>Office of Research and Development</h2>
            <h3>Center for Environmental Solutions & Emergency Response</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% for error in field.errors %}
                        <h4>{{ error|escape }}</h4>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                        <h4>{{ error|escape }}</h4>
                {% endfor %}
            </div>
            {% endif %}

            <form enctype="multipart/form-data" action="/qapp/create/" method="post" role="form">
                {% csrf_token %}
                <div class="text-center">
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-9">{{form.division}}</div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-9">{{form.input_1}}</div>
                    </div>

                    <!-- There's some blank space here in the original PDF Form -->
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-10 mt-4">{{form.input_2}}</div>
                    </div>

                    <!-- There's some blank space here in the original PDF Form -->
                    <div class="form-group row justify-content-center">
                        <label for="" class="col-sm-12 control-label mt-4">
                            {{form.epa_project_lead_1.label}}
                        </label>
                        <div class="col-sm-8">{{form.epa_project_lead_1}}</div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-8">{{form.epa_project_lead_2}}</div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-6">{{form.qa_category}}</div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-6">{{form.intra_extra}}</div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="" class="col-sm-12 control-label">{{form.revision_number.label}}</label>
                        <div class="col-sm-6">{{form.revision_number}}</div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label for="" class="col-sm-12 control-label">{{form.date.label}}</label>
                        <div class="col-sm-6">{{form.date}}</div>
                    </div>

                    <!-- There's some blank space here in the original PDF Form -->
                    <div class="form-group row justify-content-center">
                        <label for="" class="col-sm-12 control-label mt-4">{{form.prepared_by_1.label}}</label>
                        <div class="col-sm-8">{{form.prepared_by_1}}</div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-8">{{form.prepared_by_2}}</div>
                    </div>

                    <!-- There's some blank space here in the original PDF Form -->
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-4 mt-4">{{form.input_3}}</div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-4">{{form.input_4}}</div>
                    </div>

                    <!-- There's some blank space here in the original PDF Form -->
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-5 mt-4">{{form.input_5}}</div>
                    </div>

                    <!-- There's some blank space here in the original PDF Form -->
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-4 mt-4">{{form.input_6}}</div>
                    </div>
                    <div class="row justify-content-center">
                    <button type="submit" class="m-2 col-md-2 btn btn-md btn-success save">Next Page</button>
                    <button type="reset" class="m-2 col-md-2 col-md-offset-1 btn btn-md btn-warning">Reset</button>
                    <button type="reset" onclick="window.location.href='/about/'"
                            class="m-2 col-md-2 col-md-offset-1 btn btn-md btn-danger">
                        Cancel
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}