# Check Python versions = "version Python 3.8.2 (64-bit)."
# This requirements document was generated in the following way:
# 1. Create a new python virtual environment.
# 2. Install packages in this environment from the previous requirements file in Github
# 3. Delete the existing requirements file.
# 4. Generate this requirements file.
# This method ensures that all installed packages are in the requirements file, which
# includes packages that are sub-requirements of other packages.

#---------------------------------------------------------------------------------------#
# All of these packages appear to be necessary for both Windows and Linux environments. #
#---------------------------------------------------------------------------------------#
# NOTE: 12/18/2019 - Cleaned out some unecessary packages. If something is broken or missing, look at this file to see if an important package is missing.
# Removed list, these packages are dependencies of other requirements, so don't need to be explicitly added to the req
#               certifi, decorator, django-jet, matplotlib, mypy, mypy-extensions, phonenumbers, pyasn1, py, pycodestyle, pydocstyle, pyparsing,
#               python-dateutil, pytz, reportlab, requests, setuptools, six, sklearn, statsmodels, update, wrapt, webencodings, wrapt
#---------------------------------------------------------------------------------------#
# NOTE: 5/26/2020 - Cleaned out some unecessary packages. If something is broken or missing, look at this file to see if an important package is missing.
# Removed list, these packages are dependencies of other requirements, so don't need to be explicitly added to the req
#               astroid, mccabe, pyflakes
#---------------------------------------------------------------------------------------#
# Required for site to run properly:
django-grappelli==2.14.2        # A jazzy skin for the Django Admin-Interface.
Django==3.0.6                   # Python Modules.
djangorestframework==3.11.0     # Powerful and flexible toolkit for building Web APIs.
django-filter==2.2.0            # Reusable Django application allows users to filter querysets dynamically.
django-phonenumber-field==4.0.0 # An international phone number field for django models.
django-session-security==2.6.6  # Provides a mechanism to logout inactive authenticated users.
django-wkhtmltopdf==3.3.0       # Allows a Django site to output dynamic PDFs.
openpyxl==3.0.3                 # Python library to read/write Excel 2010 xlsx/xlsm/xltx/xltm files.
psycopg2==2.8.5                 # Python-PostgreSQL Database Adapter.
python-docx==0.8.10             # Python library for creating and updating Microsoft Word (.docx) files.
xhtml2pdf==0.2.4                # Package for saving html templates as PDF files. Used to return multiple files instead of a
                                # single PDF Template Response (as in wkhtmltopdf).

#---------------------------------------------------------------------------------------#
# Used for code management
autopep8==1.5.2                 # Automatically formats Python code to conform to the PEP 8 style guide.
coverage==5.1                   # Measures code coverage, typically during test execution.
django-docs==0.3.1              # Allows to serve Sphinx generated docs directly from Django.
duecredit==0.8.0                # Citation of scientific software and methods, and limited visibility of donation requests for open-source software.
flake8==3.8.2                   # Flake8 is a wrapper around these tools: PyFlakes; pycodestyle; Ned Batchelder's McCabe script.
pep8==1.7.1                     # Tool to check your Python code against some of the style conventions in PEP 8.
pylint==2.5.2                   # Static code analysis tool which looks for programming errors, helps enforcing PEP 8 coding standard.
pylint_django==2.0.15           # pylint_django.checkers.db_performance looks for migrations which add new model fields and these fields have a default value.

#---------------------------------------------------------------------------------------#
# Not sure if the rest of these are used...
#bcrypt==3.1.7                   # Modern password hashing for your software and your servers. *May be required for RTP RHEL server
#debugpy==1.0.0b3                # Implementation of the Debug Adapter Protocol for Python.
#docutils==0.16                  # Modular system for processing documentation into formats such as HTML, XML, and LaTeX.
#numpy==1.18.2                   # NumPy: array processing for numbers, strings, records, and objects.
#pisa==3.0.33                    # PDF generator using HTML and CSS.
#pylint-plugin-utils==0.6        # Utilities and helpers for writing Pylint plugins.
#PyPDF2==1.26.0                  # Pure-Python library built as a PDF toolkit.
#pyPdf==1.13                     # PDF toolkit.
#pytest-django==3.8.0            # Django project/applications with the pytest testing tool.
#pytest==5.4.1                   # Framework to write small tests, yet scales to support complex functional testing for apps/lib.
#scipy==1.4.1                    # Scientific Library for Python.
#xlwt==1.3.0                     # Projects requirement. Generate spreadsheet files compatible with Microsoft Excel versions 95 to 2003.
#xlsxwriter==1.2.8               # Projects requirement. XlsxWriter can be used to write text, numbers, formulas and hyperlinks to multiple worksheets.
