{% extends "base/site_base_sop_tab.html" %}
{% load staticfiles %}

{% block sop_tab_content %}

<script>
        $(document).ready(function () {
            var ul = $('#upload ul');
            // Change this to the location of your server-side upload handler:
            var url = '/sop_tab/file/upload/{{obj.id}}/';

            $('#drop a').click(function () {
                // Simulate a click on the file input button
                // to show the file browser dialog
                $(this).parent().find('input').click();
            });

            // Initialize the jQuery File Upload plugin
            $('#upload').fileupload({
                // This element will accept file drag/drop uploading
                dropZone: $('#drop'),

                // This function is called when a file is added to the queue;
                // either via the browse button, or via drag/drop:
                add: function (e, data) {


                    var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"' +
                            ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

                    // Append the file name and file size
                    tpl.find('p').text(data.files[0].name)
                            .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

                    // Add the HTML to the UL element
                    data.context = tpl.appendTo(ul);

                    // Initialize the knob plugin
                    tpl.find('input').knob();

                    // Listen for clicks on the cancel icon
                    tpl.find('span').click(function () {

                        if (tpl.hasClass('working')) {
                            jqXHR.abort();
                        }

                        tpl.fadeOut(function () {
                            tpl.remove();
                        });

                    });

                    // Automatically upload the file once it is added to the queue
                    var jqXHR = data.submit();
                },


                progress: function (e, data) {

                    // Calculate the completion percentage of the upload
                    var progress = parseInt(data.loaded / data.total * 100, 10);

                    // Update the hidden input field and trigger a change
                    // so that the jQuery knob plugin knows to update the dial
                    data.context.find('input').val(progress).change();

                    if (progress == 100) {
                        data.context.removeClass('working');
                    }
                },

                fail: function (e, data) {
                    // Something has gone wrong!
                    data.context.addClass('error');
                }

            });

            // Prevent the default action when a file is dropped on the window
            $(document).on('drop dragover', function (e) {
                e.preventDefault();
            });

            // Helper function that formats the file sizes
            function formatFileSize(bytes) {
                if (typeof bytes !== 'number') {
                    return '';
                }

                if (bytes >= 1000000000) {
                    return (bytes / 1000000000).toFixed(2) + ' GB';
                }

                if (bytes >= 1000000) {
                    return (bytes / 1000000).toFixed(2) + ' MB';
                }

                return (bytes / 1000).toFixed(2) + ' KB';
            }

            var cancel = function () {
                $("#id_file_upload").dialog("close");
            };

            var dialogOpts = {
                modal: true,
                title: "Upload Attachments",
                closeOnEscape: true,
                buttons: {
                    "Cancel": cancel
                },
                autoOpen: false
            };

            $('#id_file_upload').dialog(dialogOpts);
            $('#id_upload_btn').on('click', function () {
                $("#id_file_upload").dialog("open");
            });

});


</script>

{% if error %}
<div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if message %}
{# Colored to make more noticeable #}
<h3 style="color:red">{{message}}</h3>
{% endif %}



<h3>SOP Details</h3>

<form class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-4 control-label">SOP Number</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value="{{obj.sop_number}}" />
        </div>
    </div>

    <p><br></p>


    <p>
    <h4 title="Use the SOP Number hot link to view other versions of this SOP">All Versions of this SOP [?]</h4>
    </p>

    <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="soptab_version_history_table">
        <thead id="soptab_version_history_head">
        <tr>
            <th class="table-header">SOP Number</th>
            <th class="table-header">Version</th>
            <th class="table-header">Status</th>
        </tr>

        </thead>

        <tbody id="soptab_version_history_body">

        {% for obj in sop_version_history %}
        <tr>
            <td><a href="{% url 'show_sop_tab' obj.id %}">{{obj.sop_number}}</a></td>
            <td>{{obj.sop_version}}</td>
            <td>{{obj.sop_status}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


    <p><br></p>


    <div class="form-group">
        <label class="col-sm-4 control-label">Lead Organization Office</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value="{{obj.office.abbreviation}}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Center/Office</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value="{{obj.lab.abbreviation}}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Division</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value="{{obj.division.abbreviation}}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Branch</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value="{{obj.branch.abbreviation}}" />
        </div>
    </div>


    <p><br></p>

    <div class="form-group">
        <label class="col-sm-4 control-label" title="Discipline and subdiscipline are used to categorize SOPs for display on ORD@Work.">[?] Discipline</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value="{{obj.discipline.discipline}}" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Subdiscipline</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value="{{obj.subdiscipline.subdiscipline}}" />
        </div>
    </div>


    <p><br></p>


    <div class="form-group">
        <label class="col-sm-4 control-label">Status</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.sop_status}}' />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Full Title</label>
        <div class="col-sm-8">
            <textarea disabled class="form-control">{{obj.full_title}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Keywords</label>
        <div class="col-sm-8">
            <textarea disabled class="form-control">{{obj.keywords}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Comments</label>
        <div class="col-sm-8">
            <textarea disabled class="form-control">{{obj.comments}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">SOP Type</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.sop_type}}' />

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Intramural or Extramural</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.mural_type}}' />

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label" title="The alternate ID can be used for a contractor's SOP ID in the case of extramural SOPs.">[?] Alternate ID</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.alt_id}}' />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label" title="The previous ID can be used for any ID the SOP was assigned by EPA prior to being entered in or imported to QA Track.">[?] Previous ID</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.previous_id}}' />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">SOP Contact</label>
        <div class="col-sm-8">
            {% if obj.sop_contact %}
            <input type="text" disabled class="form-control"
                   value="{{obj.sop_contact.last_name}}, {{obj.sop_contact.first_name}}" />
            {% else %}
            <input type="text" disabled class="form-control"
                   value="" />
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Approving QA Manager</label>
        <div class="col-sm-8">
            {% if obj.approving_manager %}
            <input type="text" disabled class="form-control"
                   value="{{obj.approving_manager.last_name}}, {{obj.approving_manager.first_name}}" />
            {% else %}
            <input type="text" disabled class="form-control"
                   value="" />
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label" title="Required for intramural SOPs">[?] Approving Line Manager</label>
        <div class="col-sm-8">
            {% if obj.approving_line_manager %}
            <input type="text" disabled class="form-control"
                   value="{{obj.approving_line_manager.last_name}}, {{obj.approving_line_manager.first_name}}" />
            {% else %}
            <input type="text" disabled class="form-control"
                   value="" />
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Date Approved</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.date_approved|date:"Y-m-d"}}' />

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Date Effective</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.date_effective|date:"Y-m-d"}}' />

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Date of Last Review</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.date_reviewed|date:"Y-m-d"}}' />

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Projects</label>
        <div class="col-sm-8">
            {% if obj.projects.all %}
            <ul class="list-group">
                {% for p in obj.projects.all %}
                <li class="list-group-item"><a href="{% url 'show_project' p.id %}">{{p.qa_id}} {{p.title}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <input type="text" disabled class="form-control"
                   value="None" />
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Programs</label>
        <div class="col-sm-8">
            {% if obj.programs.all %}
            <ul class="list-group">
                {% for p in obj.programs.all %}
                <li class="list-group-item">{{p.the_name}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <input type="text" disabled class="form-control"
                   value="None" />
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Related SOPs</label>
        <div class="col-sm-8">
            {% if obj.related_sops.all %}
            <ul class="list-group">
                {% for p in obj.related_sops.all %}
                <li class="list-group-item"><a href="{% url 'show_sop_tab' p.id %}">{{p.sop_number}} {{p.full_title}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <input type="text" disabled class="form-control"
                   value="None" />
            {% endif %}
        </div>
    </div>


    <a id="relatedorgs"></a>
    <p><h3>Related Organizations</h3></p>

    <div class="form-group">
        <label class="col-sm-4 control-label">EPA Non-ORD Organizations</label>
        <div class="col-sm-8">
            {% if obj.participating_orgs.all %}
            <ul class="list-group">
                {% for p in obj.participating_orgs.all %}
                <li class="list-group-item"><a href="{% url 'show_participating_organization' p.id %}">{{p.company}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <input type="text" disabled class="form-control"
                   value="None" />
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">ORD Organizations</label>
        <div class="col-sm-8">

        <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="orgs_table">
            {% if orgs %}
                {% for obj in orgs %}
                <tr>
                    <td style="text-align:left">{{obj.office.abbreviation}} {{obj.lab.abbreviation}} {{obj.division.abbreviation}} {{obj.branch.abbreviation}}</td>
                    <td>{% if kwargs.allow_edit %}<a href="{% url 'delete_sop_org' obj.id %}">Delete</a>{% else %}Delete{% endif %}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr><td><br></td></tr>
            {% endif %}

         </table>
            {% if kwargs.allow_edit %}
            <a href="{% url 'link_organization_sop' obj.id %}">Link ORD Organization to this SOP</a>
            {% endif %}
        </div>
    </div>


        <p>
        <h3 title="This table displays a log of each time any of the following fields are updated: Date of Last Review, SOP Contact, Approving QA Manager, Status; or if the user enters a comment for the Update History.">Update History for this SOP Version [?]</h3>
        </p>


    <table class="example table-autosort:6 table-stripeclass:alternate table-autofilter" id="soptab_approval_history_table">
        <thead id="soptab_approval_history_head">
        <tr>
            <th class="table-header">Date of Last Review</th>
            <th class="table-header">SOP Contact</th>
            <th class="table-header">Approving QA Manager</th>
            <th class="table-header">Status</th>
            <th class="table-header">Comment</th>
            <th class="table-header">Updated By</th>
            <th class="table-header">Date Updated</th>
        </tr>
        </thead>

        <tbody id="soptab_approval_history_body">

        {% for obj in sop_approval_history %}
        <tr>
            <td>{{obj.date_reviewed|date:"Y-m-d"}}</td>
            <td>{{obj.sop_contact.last_name}}, {{obj.sop_contact.first_name}}</td>
            <td>{{obj.approving_manager.last_name}}, {{obj.approving_manager.first_name}}</td>
            <td>{{obj.sop_status.the_name}}</td>
            <td style="text-align: left">{{obj.comments}}</td>
            {% if obj.user %}
            <td>{{obj.user.last_name}}, {{obj.user.first_name}}</td>
            {% else %}
            <td>QA Track</td>
            {% endif %}
            <td>{{obj.created|date:"Y-m-d"}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>


    <a id="attachments"></a>
    <p><h3>Attachments</h3></p>

    <table class="example table-autosort:0 table-stripeclass:alternate table-autofilter" id="soptab_attachments_table">
        <thead id="soptab_attachments_head">
        <tr>
            <th class="table-sortable:alphanumeric">Filename ({{sop_attachments.count}})</th>
            <th class="table-header" title="Toggle N to Y to indicate one file that is the latest SOP. This is the file made available for download on ORD@Work once approved.">Latest SOP (choose one) [?]</th>
            <th class="table-header">Include in Email</th>
            <th class="table-header" title="The file marked Latest SOP is automatically also set to be included in reminders. You cannot toggle Y to N for the latest SOP file. If the reminder should be suspended, go to “View SOPs needing review”  “Suspend Reminder”  “Y”">Include in Reminder [?]</th>
            <th class="table-header">Delete</th>
        </tr>

        </thead>

        <tbody id="soptab_attachments_body">

        {% for obj in sop_attachments %}
        <tr>
            <td class='filename_td'><a href="{{MEDIA_URL}}{{obj.attachment|urlencode}}">{{obj.the_name}}</a></td>
            {% if kwargs.allow_edit %}
            <td><a href="{% url 'switch_is_latest_SOP_sop' obj.id %}">{{obj.is_latest_sop}}</a></td>
            <td><a href="{% url 'switch_file_email_flag_sop' obj.id %}">{{obj.include_in_email}}</a></td>
            <td><a href="{% url 'switch_is_review_file_flag_sop' obj.id %}">{{obj.is_review_file}}</a></td>
            <td><a href="{% url 'delete_soptab_attachment' obj.id %}">Delete</a></td>
            {% else %}
            <td>{{obj.is_latest_sop}}</td>
            <td>{{obj.include_in_email}}</td>
            <td>{{obj.is_review_file}}</td>
            <td>Delete</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if missingLatestSOP %}
    {# Colored to make more noticeable #}
    <h3 style="color:red">{{message}}</h3>
    {% endif %}

    {% if kwargs.allow_edit %}
    <div>
        <a id="id_upload_btn" class="btn btn-warning">Attach Files</a>
        <br/><br/>
    </div>
    {% endif %}
</form>

<div id="id_file_upload">
    {% if obj.id %}
    {% if kwargs.allow_edit %}
    <form id="upload" method="post"action={% url 'file_upload_soptab' obj.id %} enctype="multipart/form-data">

    {% csrf_token %}

    <div id="drop">
        Drop Files ONLY Here

        <a>Browse</a>
        <input type="file" name="upl" multiple />
    </div>
    <ul>
        <!-- The file uploads will be shown here -->
    </ul>
    <button type="submit" class="btn btn-primary start">
        <span>Finish</span>
    </button>

    </form>
    {% endif %}
    {% endif %}
</div>


<a id="correspondence"></a>
<h3>SOP Correspondence</h3>
<ol>
    <h5><li title="Any changes made to attachments will cause this page to refresh and reset the subject line and message below.">Toggle 'Include in Email' to 'Y' to include any attachments above in the email. [?]</li>
        <br>
        {% if kwargs.allow_edit %}
        <li><a href="{% url 'edit_sop_tab_item' obj.id %}">Click here</a> to add/change recipients before sending.<br>Emails are sent to you, the SOP Contact, the Approving QA Manager, and anyone in the Email Lists below.</li>
        {% else %}
        <li>Click here to add/change recipients before sending.<br>Emails are sent to you, the SOP Contact, the Approving QA Manager, and anyone in the Email Lists below.</li>
        {% endif %}
<br>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label">Email List (ORD)</label>
        <div class="col-sm-8">
            {% if obj.sop_review_distribution_list.all %}
            <ul class="list-group">
                {% for p in obj.sop_review_distribution_list.all %}
                <li class="list-group-item">{{p.last_name}}, {{p.first_name}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <input type="text" disabled class="form-control"
                   value="None" />
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Email List (non-ORD, separated by whitespace)</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.sop_review_email_list}}' />
        </div>
    </div>

</form>


<form class="form-horizontal" id="email_review" method="post" >
<hr/>
{% csrf_token %}

    <div class="form-group">
    <label class="col-sm-4 control-label"><li>Edit email subject line</li></label>
    <div class="col-sm-8">
        <input class="form-control" type="text" name="email_subject" value="{{email_subject}}">
    </div>
    </div>


<div class="form-group">

    <label class="col-sm-4 control-label"><li>Enter message to be included in email</li></label>
    <div class="col-sm-8">
        <textarea rows=8 class="form-control" name="email_notes"></textarea>
    </div>

</div>

    </h5>
    </ol>


<div class="form-group">
    <div class="col-sm-8">
        {% if kwargs.allow_edit %}
        <input type="submit" value="Send Email" class="btn btn-success" name="send_the_emails"/>
        {% else %}
        NOTE: You do not have user permissions to send correspondence.
        {% endif %}
        <br /><br />
    </div>
</div>


</form>
<hr/>

<div>
    {% if parsed_logs %}

    <p><h3>Correspondence Summary</h3></p>

    <table class="example table-autosort:0 table-stripeclass:alternate table-autofilter" id="sop_distributions_table">
        <thead id="sop_distributions_head">
        <tr>
            <th class="table-sortable:alphanumeric">Date Sent</th>
            <th class="table-header">Recipients</th>
            <th class="table-header">Subject</th>
            <th class="table-header">Attachments</th>
            <th class="table-header">Message</th>
        </tr>
        </thead>

        <tbody id="sop_distributions_body">

        {% for log in parsed_logs %}
        <tr>
            {% for celldata in log %}
            <td style="text-align:left">{{celldata}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>

{% endblock %}
