{% extends "base/site_base_sop_tab.html" %}
{% load staticfiles %}

{% block sop_tab_content %}
<h3>Edit SOP  {{obj.sop_number}}</h3>


{#<p>#}
{#    Enter the SOP information below, and then click the "Update" button.#}
{#</p>#}

<br>
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>

    {% csrf_token %}

    {% if form.errors %}

    <div class="alert alert-danger">
        <h5>Please correct the following errors</h5>
        {% for field in form %}
        {% if field.errors %}
        <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}

    <div class="form-group">
        <label class="col-sm-4 control-label">
            <div>Lead Organization</div>
        </label>
        <div class="col-sm-8"><br></div>
    </div>
    {% include 'organization_select.html' %}
    
    <p><br></p>

    <div class="form-group">
        <div class="col-sm-8"><br></div>
    </div>
    {% include 'discipline_select.html' %}
    <p><br></p>



    {# LEAVE OUT LEAD ORG AND DISCIPLINE AS THAT'S HANDLED ABOVE AND LEAVE OUT VERSION AS THAT'S NOT EDITABLE #}
    {% for field in form %}
    {% if field.name != 'office' and field.name != 'lab' and field.name != 'division' and field.name != 'branch' and field.name != 'discipline' and field.name != 'subdiscipline' and field.name != 'sop_version' %}
    <div class="form-group">
        <label class="col-sm-4 control-label">
            {% if field.help_text %}
            <div title="{{field.help_text}}">[?] {{field.label_tag}}</div>
            {% else %}
            <div>{{field.label_tag}}</div>
            {% endif %}
        </label>
        <div class="col-sm-8">
            {{field}}
            {% if field.errors %}<div class="alert alert-danger">{{field.errors.as_text}}</div>{% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <p>
        <h3 title="This table displays a log of each time any of the following fields are updated: Date of Last Review, SOP Contact, Approving QA Manager, Status; or if the user enters a comment for the Update History.">Update History for this SOP Version [?]</h3>
        </p>


    <table class="example table-autosort:6 table-stripeclass:alternate table-autofilter" id="soptab_approval_history_table">
        <thead id="soptab_approval_history_head">
        <tr>
            <th class="table-header">Date of Last Review</th>
            <th class="table-header">SOP Contact</th>
            <th class="table-header">Approving QA Manager</th>
            <th class="table-header">Status</th>
            <th class="table-header">Comment</th>
            <th class="table-header">Updated By</th>
            <th class="table-header">Date Updated</th>
        </tr>
        </thead>

        <tbody id="soptab_approval_history_body">

        {% for obj in sop_approval_history %}
        <tr>
            <td>{{obj.date_reviewed|date:"Y-m-d"}}</td>
            <td>{{obj.sop_contact.last_name}}, {{obj.sop_contact.first_name}}</td>
            <td>{{obj.approving_manager.last_name}}, {{obj.approving_manager.first_name}}</td>
            <td>{{obj.sop_status.the_name}}</td>
            <td style="text-align: left">{{obj.comments}}</td>
            {% if obj.user %}
            <td>{{obj.user.last_name}}, {{obj.user.first_name}}</td>
            {% else %}
            <td>QA Track</td>
            {% endif %}
            <td>{{obj.created|date:"Y-m-d"}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><br></p>

<p title="If you do not enter a comment here, an entry will only be created for the Update History if the Date of Last Review, SOP Contact, Approving QA Manager, or Status has changed.">
    Enter an optional comment for the Update History, and then click the "Update" button. [?]
</p>
    <div class="form-group">
        <div class="col-sm-8">
            <input class="form-control" type="text" name="update_comment">
        </div>
        <div class="col-sm-4">
            <input type="submit" value="Update" class="btn btn-success">
        </div>

    </div>

</form>

<script>
$(document).ready(function(){
    $('.jasc-project-select').asyncSelect({
        url: '/api/projects',
        displayValue: function(item){return item.qa_id + ": " + item.title}
    })

    $('.jasc-program-select').asyncSelect({
        url: '/api/programs',
        displayValue:'the_name'
    })

    $('.jasc-org-select').asyncSelect({
        url: '/api/participating_orgs',
        displayValue:'company'
    })

    $('.jasc-sop-select').asyncSelect({
        url: '/api/sops',
        displayValue:function(item){ return item.sop_number + " " + item.full_title}
    })

    $('.jasc-user-select').asyncSelect({
        url: '/api/dropdown_users',
        displayValue:function(item){ return item.last_name + ", " + item.first_name + ' (' + item.email + ')' }
    })

$(".date-control").datepicker({ dateFormat: "yy-mm-dd" });
})
</script>

{% endblock %}
