{% extends "base/site_base_sop_tab.html" %}
{% load staticfiles %}

{% block sop_tab_content %}
<h3>Search Existing SOPs up for Review</h3>

<p>
<h4>SOPs need review if the following conditions are met:</h4>
<ul>
    <li>SOP has Active or Under Review status</li>
    <li>If the SOP has a Date of Last Review and that date is  more than 730 days (2 years) ago</li>
    <li>If the SOP does NOT have a Date of Last Review, then if the SOP has an SOP Approval Date and that date is more than 730 days (2 years) ago</li>
</ul>

<br/>

<div>
    Select your criteria,
    and then click the "Search" button.
</div>
</p>

<div class="vmargin20">

    <form class="form-horizontal" action="{% url 'result_search_sop_biennial_review' %}" method="get">

        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <input class="btn btn-success" type="submit" value="Search" name="start" class="button">
            </div>
        </div>

{#        {% include 'organization_select.html' %}#}

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_org" data-toggle="collapse">Organization</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_org" class="collapse in">
            {% include 'organization_select.html' %}
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_pocs" data-toggle="collapse">SOP Contact/Approving Managers</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_pocs" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">SOP Contact Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="contact_last" value="{{contact_last}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="contact_first" value="{{contact_first}}">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-4 control-label">Approving QA Manager Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="approving_manager_last" value="{{approving_manager_last}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="approving_manager_first" value="{{approving_manager_first}}">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-4 control-label">Approving Line Manager Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="approving_line_manager_last" value="{{approving_line_manager_last}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="approving_line_manager_first" value="{{approving_line_manager_first}}">
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-4 control-label">Export Results To Excel</label>
            <div class="col-sm-8">
                <label class="radio-inline"><input type="radio" id="bottom_Y" name="excel" value="Y">Yes</label>
                <label class="radio-inline active"><input type="radio" id="bottom_N" name="excel" value="N" checked="">No</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <input class="btn btn-success" type="submit" value="Search" name="start" class="button">
            </div>
        </div>

    </form>

</div>


{% endblock %}
