{% extends "base/site_base_sop_tab.html" %}
{% load staticfiles %}

{% block sop_tab_content %}
<h3>Search Existing SOPs</h3>
<div>
    To search for SOPs, click on the links below to expand search fields, select your search criteria,
    and then click the "Search" button.
</div>
<div class="vmargin20">

    <form class="form-horizontal" action="{% url 'result_search_sop_tab' %}" method="get">

        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-1">
                <input class="btn btn-success" type="submit" value="Search" name="start" class="button">
            </div>
            <label class="col-sm-2 control-label" title="To select multiple statuses, use Ctrl-click.">[?] Status</label>
            <div class="col-sm-5">
                <select class="form-control"  multiple="multiple" size=4 style="height: 100%;" name="sop_status" value="{{sop_status}}">
                    {% for instance in sop_statuses %}
{#                        <option value="{{instance.id}}">{{instance.the_name}}</option>#}
                    <option {% if instance.the_name == 'Active' %}selected{% endif%} value="{{instance.id}}">{{instance.the_name}}</option>
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_lead_org" data-toggle="collapse">Lead Organization</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_lead_org" class="collapse in">
            <div id="id_org">
                {% include 'organization_select.html' %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_disc" data-toggle="collapse">Discipline</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_disc" class="collapse">
            <div id="id_org_disc">
                {% include 'discipline_select.html' %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_qa_id_title" data-toggle="collapse">SOP Number/Title/ID/Keyword</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_qa_id_title" class="collapse">

            <div class="form-group">
                <label class="col-sm-4 control-label">SOP Number</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="sop_number" value="{{sop_number}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Title</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="full_title" value="{{full_title}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Alternate ID</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="alt_id" value="{{alt_id}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Previous ID</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="previous_id" value="{{previous_id}}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Keyword</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="keywords" value="{{keywords}}">
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_type_mural" data-toggle="collapse">SOP Type/Intramural or Extramural</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_type_mural" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">SOP Type</label>
                <div class="col-sm-8">
                    <select class="form-control"  multiple="multiple" size=3 style="height: 100%;" name="sop_type" value="{{sop_type}}">
                        {% for instance in sop_types %}
                        <option value="{{instance.id}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Intramural or Extramural</label>
                <div class="col-sm-8">
                    <select class="form-control"  multiple="multiple" size=2 style="height: 100%;" name="mural" value="{{mural}}">
                        {% for instance in mural_types %}
                        <option value="{{instance.id}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_pocs" data-toggle="collapse">SOP Contact/Approving Managers</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_pocs" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">SOP Contact Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="contact_last" value="{{contact_last}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="contact_first" value="{{contact_first}}">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-4 control-label">Approving QA Manager Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="approving_manager_last" value="{{approving_manager_last}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="approving_manager_first" value="{{approving_manager_first}}">
                </div>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-4 control-label">Approving Line Manager Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="approving_line_manager_last" value="{{approving_line_manager_last}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="approving_line_manager_first" value="{{approving_line_manager_first}}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_dates" data-toggle="collapse">Dates</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_dates" class="collapse">

            <h4>Date Approved</h4>
            <div class="form-group">
                <label class="col-sm-4 control-label">From Date</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="date_approved_f" value="{{date_approved_f}}" id="datepicker1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">To Date</label>
                <div class="col-sm-8">
                    <input class="form-control hasDatePicker" type="text" name="date_approved_t" value="{{date_approved_t}}" id="datepicker2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"> </label>
                <div class="col-sm-8">
                    <label><input name="no_date_approved" type="checkbox" value=1> No Date Approved</label>
                </div>
            </div>

            <h4>Date Effective</h4>
            <div class="form-group">
                <label class="col-sm-4 control-label">From Date</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="date_effective_f" value="{{date_effective_f}}" id="datepicker3">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">To Date</label>
                <div class="col-sm-8">
                    <input class="form-control hasDatePicker" type="text" name="date_effective_t" value="{{date_effective_t}}" id="datepicker4">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"> </label>
                <div class="col-sm-8">
                    <label><input name="no_date_effective" type="checkbox" value=1> No Date Effective</label>
                </div>
            </div>

            <h4>Date of Last Review</h4>
            <div class="form-group">
                <label class="col-sm-4 control-label">From Date</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="date_reviewed_f" value="{{date_reviewed_f}}" id="datepicker5">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">To Date</label>
                <div class="col-sm-8">
                    <input class="form-control hasDatePicker" type="text" name="date_reviewed_t" value="{{date_reviewed_t}}" id="datepicker6">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"> </label>
                <div class="col-sm-8">
                    <label><input name="no_date_reviewed" type="checkbox" value=1> No Date of Last Review</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_toggle_program" data-toggle="collapse">Project/Program/Related SOP</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_toggle_program" class="collapse">
            <div class="form-group">
                    <label class="col-sm-4 control-label">Project ID</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="project_id" value="{{project_id}}">
                    </div>
                </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Program</label>
                <div class="col-sm-8">
                    <select class="form-control" multiple name="search_programs" value="{{search_programs}}">
                        {% for instance in programs %}
                        <option value="{{instance.id}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Related SOP Number</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="related_sop" value="{{related_sop}}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_external_org" data-toggle="collapse">Related Organizations</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_external_org" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">EPA Non-ORD Organization</label>
                <div class="col-sm-8">
                    <select class="form-control"  multiple name="external_org" value="{{external_org}}">
                        {% for instance in external_orgs %}
                        <option value="{{instance.id}}">{{instance.company}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">ORD Organization</label>
                <div class="col-sm-8"></div>
            </div>
            <div id="id_org2">
                {% include 'organization_select2.html' %}
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_toggle_comments" data-toggle="collapse">Comments</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_toggle_comments" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Comments</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="comments" value="{{comments}}">
                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-4 control-label">Export Results To Excel</label>
            <div class="col-sm-8">
                <label class="radio-inline"><input type="radio" id="bottom_Y" name="excel" value="Y">Yes</label>
                <label class="radio-inline active"><input type="radio" id="bottom_N" name="excel" value="N" checked="">No</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <input class="btn btn-success" type="submit" value="Search" name="start" class="button">
            </div>
        </div>





    </form>

</div>


<!--<script>
    $(document).ready(
                function() {
                     $("#id_lab").change(function() {
                             if ($(this).val() == '') {
                                 $("#division").html("<option>All Divisions</option>");
                             }
                             else {
                                 var url = "/projects/ajax/divisions/" + $(this).val() + "/ajax_lookup_divisions";
                                 var lab = $(this).val();
                                 $.getJSON(url, function(divisions) {
                                     var options = '<option value="">All Divisions</option>';
                                     for (var i = 0; i < divisions.length; i++) {
                                        options += '<option value="' + divisions[i].fields['abbreviation'] + '">' + divisions[i].fields['abbreviation'] + '</option>';
                                     }
                                     $("#division").html(options);
                                     $("#division").attr('disabled', false);
                                 });
                             }
                         });


    });

</script>
<script>
    $(document).ready(
                function() {
                     $("#division").change(function() {
                             if ($(this).val() == '') {
                                 $("#id_branch").html("<option>All Branches</option>");
                             }
                             else {
                                 var url = "/projects/ajax/branches/" + $(this).val() + "/ajax_lookup_branches";
                                 var division = $(this).val();
                                 $.getJSON(url, function(branches) {
                                     var options = '<option value="">All Branches</option>';
                                     for (var i = 0; i < branches.length; i++) {
                                        options += '<option value="' + branches[i].fields['abbreviation'] + '">' + branches[i].fields['abbreviation'] + '</option>';
                                     }
                                     $("#id_branch").html(options);
                                     $("#id_branch").attr('disabled', false);
                                 });
                             }
                         });


    });
</script>-->


{% endblock %}
