{% extends "base/site_base_sop_tab.html" %}
{% load humanize %}

{% block sop_tab_content %}
<h3>SOPs</h3>
<div>
    In the 'SOP' section of QA Track, you can manage SOPs.
</div>
<div>
    <p>Select an option from the "SOP Actions" box to begin.</p><br>
</div>
<div>
    <h5>On a biennial basis, the SOP Contact for each SOP needs to check if the SOP is still current, needs to be revised/updated, or is no longer in use and should be archived. Reminders are emailed to the SOP Contact and Approving QA Manager with the SOP lead organization's current QA Manager cc'd.</h5>

    <h6>Sample Reminder Email that gets sent out:</h6>

    {% for line in f %}
        <p>{{ line }}</p>
    {% endfor %}

</div>
{% endblock %}