{% extends "base/site_base_project.html" %}
{% load humanize %}

{% block project_content %}


<h3>QA Activity Summary for {{selected_user.first_name}} {{selected_user.last_name}} </h3>
<h6 class="text-muted">
    {#{% if selected_user.userprofile.is_reviewer == 'Y' %}#}
    {#This user is a reviewer#}
    {#{% else %}#}
    {#This user cannot review QA activities#}
    {#{% endif %}#}
</h6>

<div class="col-sm-12">
{% if projects %}

	<p><h3>Projects lead by {{selected_user.first_name}} {{selected_user.last_name}}</h3></p>

	<table class="example table-autosort:8 table-stripeclass:alternate table-autofilter" id="projects_table">
		<thead id="projects_head">
		<tr>
			<th class="table-sortable:alphanumeric">Project QA ID</th>

			<th class="table-sortable:alphanumeric">Title</th>
			<th class="table-sortable:alphanumeric">QA Category</th>

			<th class="table-sortable:alphanumeric">QAPP Status</th>
			<th class="table-sortable:alphanumeric">QA Activities</th>
		<!--	<th class="table-header">Add Log</th> -->

		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-header"></th>
			<th class="table-filterable"></th>

			<th class="table-filterable"></th>
			<th class="table-header"></th>
			<th class="table-header"></th>
	  	</tr>

		</thead>

		<tbody id="projects_body">

			{% for obj in projects %}
				<tr>
					<td><a href={% url 'show_project' obj.id %}>{{obj.qa_id}}</a></td>
					<td width="200">{{obj.title}}</td>
					<td>{% if obj.qa_category %}{{obj.qa_category.the_name}}{% endif %}</td>
					<td>{% if obj.qapp_status %}{{obj.qapp_status.the_name}}{% endif %}</td>
					<td>{% if obj.projectlog_set.all %}
						<table class="example table-autosort:1 table-stripeclass:alternate table-autofilter" id="projectlog_set_table">
							<thead id="projectlog_set_head">
								<tr>
								<th class="table-sortable:alphanumeric">QA Activity Number - Approved</th>
								</tr>
								<tr>
								<th class="table-filterable"></th>
								</tr>
							</thead>

							<tbody id="projectlog_set_body">

								{% for qlog in obj.projectlog_set.all %}
								<tr><td><a href={% url 'show_project_log' qlog.id %}>{{qlog.qa_log_number}} - {{qlog.date_approved|date:"Y-m-d"}}</a></td></tr>
								{% endfor %}

							</tbody>
							</table>
					{% endif %}</td>
					<!--
					<td><a href={% url 'create_project_log' obj.id obj.person.id %}>Add Log</a></td>
					-->
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>

<div class="col-sm-12">
{% if reviews %}

	<p><h3>Reviews by {{selected_user.first_name}} {{selected_user.last_name}}</h3></p>

	<table class="example table-autosort:8 table-stripeclass:alternate table-autofilter" id="reviews_table">
		<thead id="reviews_head">
		<tr>
			<th class="table-sortable:alphanumeric">Project QA ID</th>
			<th class="table-sortable:alphanumeric">Title</th>
			<th class="table-sortable:alphanumeric">QA Activity Number</th>

			<th class="table-sortable:alphanumeric">Received</th>
			<th class="table-sortable:alphanumeric">Reviewed</th>
			<th class="table-sortable:alphanumeric">Approved</th>
			<th class="table-header">Show</th>


		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-header"></th>
			<th class="table-filterable"></th>

			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-header"></th>

	  	</tr>

		</thead>

		<tbody id="reviews_body">

			{% for obj in reviews %}
				<tr>
					<td><a href={% url 'show_project' obj.project.id %}>{{obj.project.qa_id}}</a></td>
					<td width="200">{{obj.title}}</td>
					<td><a href={% url 'show_project_log' obj.id %}>{{obj.qa_log_number}}</a></td>
					<td>{{obj.date_received|date:"Y-m-d"}}</td>
					<td>{{obj.date_reviewed|date:"Y-m-d"}}</td>
					<td>{{obj.date_approved|date:"Y-m-d"}}</td>
					<td><a href={% url 'show_project_log' obj.id %}>Show</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>


<div class="col-sm-12">
{% if qlogs %}

	<p><h3>QA Activities by {{selected_user.first_name}} {{selected_user.last_name}}</h3></p>

	<table class="example table-autosort:8 table-stripeclass:alternate table-autofilter" id="qlogs_table">
		<thead id="qlogs_head">
		<tr>
			<th class="table-sortable:alphanumeric">Project QA ID</th>
			<th class="table-sortable:alphanumeric">Title</th>
			<th class="table-sortable:alphanumeric">QA Log No.</th>

			<th class="table-sortable:alphanumeric">Received</th>
			<th class="table-sortable:alphanumeric">Reviewed</th>
			<th class="table-sortable:alphanumeric">Approved</th>
			<th class="table-sortable:alphanumeric">Comments</th>


		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-header"></th>
			<th class="table-filterable"></th>

			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>

	  	</tr>

		</thead>

		<tbody id="qlogs_body">

			{% for obj in qlogs %}
				<tr>
					<td><a href={% url 'show_project' obj.project.id %}>{{obj.project.qa_id}}</a></td>
					<td width="200">{{obj.title}}</td>
					<td><a href={% url 'show_project_log' obj.id %}>{{obj.qa_log_number}}</a></td>
					<td>{{obj.date_received|date:"Y-m-d"}}</td>
					<td>{{obj.date_reviewed|date:"Y-m-d"}}</td>
					<td>{{obj.date_approved|date:"Y-m-d"}}</td>
					<td>{{obj.the_description}}</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>



{% endblock %}
