{% extends "base/site_base_project.html" %}
{% block project_content %}
{% load staticfiles %}
<h3>Create an Extramural Vehicle</h3>
<div>
    Enter the extramural vehicle information below, and then click the "Create" button to continue.
    Fields marked with an asterisk are required.
</div>
<br>
</br>
<div>
    Please ensure that your extramural vehicle does not already exist by checking the search list below. As you type text into the
    Extramural Vehicle field, the list will be filtered to show entries that match what you have typed.
</div>

<div>
    {{ form.non_field_errors }}
    <div class="alert">{{error_message}}</div>
</div>
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>

    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger">
        <h5>Please correct the following errors</h5>
        {% for field in form %}
        {% if field.errors %}
        <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success">
        The extramural vehicle has been created. <span class="glyphicon glyphicon-ok"></span>
    </div>
    {% endif %}

    <div id="vehicle_list">
        {% for field in form %}
        <div class="form-group">
            <label class="col-sm-4 control-label">
                {% if field.help_text %}
                <div title="{{field.help_text}}">[?] {{field.label_tag}}</div>
                {% else %}
                <div>{{field.label_tag}}</div>
                {% endif %}
            </label>
            <div class="col-sm-8">
                {{field}}
                {% if field.errors %}<div class="alert alert-danger">{{field.errors.as_text}}</div>{% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <input type="submit" value="Create" class="btn btn-success">
            </div>
        </div>

        <div>
            <table class="table table-bordered">
                <tr>
                    <th>Existing Extramural Vehicle Names</th>
                    <th>Total Projects</th>
                </tr>
                <tbody class="list">
                    {% for vehicle in vehicles %}
                    <tr>
                        <td class="name">{{vehicle.the_name}}</td>
                        <td class="count">{{vehicle.project_set.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>

<script type="text/javascript">
//    $(".chosen-select").chosen({});
    var options = {
        valueNames: [ 'name']
    };

    var vehicleList = new List('vehicle_list', options);
</script>



{% endblock %}





