{% extends "base/site_base_project.html" %}
{% block project_content %}
{% load staticfiles %}
<h3>Edit project '{{obj.title}}'</h3>
<p>
    Update the project information below, and then click the "Update" button.
</p>
<div class="vmargin20" id='edit_project_container'>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate autocomplete="off">

        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">
            <h5>Please correct the following errors</h5>
            {% for field in form %}
            {% if field.errors %}
            <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {% for field in form %}
        {% if field.name == 'vehicle_type' %}<div id="accordion">{% endif %}
        {% if field.name == 'office' %}{% include 'organization_select.html' %}{% endif %}
        {% if field.name == 'ace_rap_numbers' %}{% include 'main/project_rap_group_fields.html' %}{% endif %}
        {% if field.name != 'office' and field.name != 'lab' and field.name != 'division' and field.name != 'branch' and field.name not in rap_fields %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                {% if field.help_text %}
                <div title="{{field.help_text}}">[?] {{field.label_tag}}</div>
                {% else %}
                <div>{{field.label_tag}}</div>
                {% endif %}
            </label>
            <div class="col-sm-9">
                {{field}}
                {% if field.errors %}<div class="alert alert-danger">{{field.errors.as_text}}</div>{% endif %}
            </div>
        </div>
        {% endif %}
        {% if field.name == 'vehicle_number' %}</div>{% endif %}
        {% endfor %}

        <p>
        <h3 title="Click to expand/collapse. This table displays a log of each time any of the following fields are updated: Latest Annual QAPP Review Date, Project Lead, QA Manager, Status, QAPP Status; or if the user enters a comment for the Update History."><a href="#project_historyedit_div" data-toggle="collapse">Update History [?]</a></h3>
      </p>

    <div id="project_historyedit_div" class="collapse in" style="padding-bottom:20px;">
    <table class="example table-autosort:7 table-stripeclass:alternate table-autofilter" id="project_update_history_table">
      <thead id="project_update_history_head">
      <tr>
        <th class="table-header">Latest Annual QAPP Review Date</th>
          <th class="table-header">Project Lead</th>
          <th class="table-header">QA Manager</th>
          <th class="table-header">Status</th>
          <th class="table-header">QAPP Status</th>
          <th class="table-header">Comment</th>
          <th class="table-header">Updated By</th>
          <th class="table-header">Date Updated</th>
      </tr>
      </thead>

      <tbody id="project_update_history_body">
        {% for obj in project_update_history %}
      <tr>
          <td>{{obj.date_qappreviewed|date:"Y-m-d"}}</td>
          <td>{{obj.projectlead.last_name}}, {{obj.projectlead.first_name}}</td>
          {% if obj.qa_manager %}
          <td>{{obj.qa_manager.last_name}}, {{obj.qa_manager.first_name}}</td>
		  {% else %}
		  <td><br></td>
          {% endif %}
          <td>{{obj.project_status.the_name}}</td>
          <td>{{obj.qapp_status.the_name}}</td>
          <td style="text-align: left">{{obj.comments}}</td>
          {% if obj.user %}
          <td>{{obj.user.last_name}}, {{obj.user.first_name}}</td>
          {% else %}
          <td>QA Track</td>
          {% endif %}
          <td>{{obj.created|date:"Y-m-d"}}</td>

      </tr>
      {% endfor %}

      </tbody>
    </table>
    </div>

        <p><br></p>

        <p title="If you do not enter a comment here, an entry will only be created for the Update History if the Latest Annual QAPP Review Date, Project Lead, QA Manager, Status, or QAPP Status has changed.">
            Enter an optional comment for the Update History, and then click the "Update" button. [?]
        </p>
            <div class="form-group">
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="update_comment">
                </div>
                <div class="col-sm-4">
                    <input type="submit" value="Update" class="btn btn-success">
                    <a class="btn btn-warning" href="{% url 'show_project' obj.id %}">Cancel</a>
                </div>

            </div>

    </form>
    <script>
    $(document).ready(function(){

    $('.jasc-program-select').asyncSelect({
        url: '/api/programs',
        displayValue:'the_name'
    })

    $('.jasc-org-select').asyncSelect({
        url: '/api/participating_orgs',
        displayValue:'company'
    })

    $('.jasc-user-select').asyncSelect({
        url: '/api/dropdown_users',
        displayValue:function(item){ return item.last_name + ", " + item.first_name + ' (' + item.email + ')' }
    })
    $(".date-control").datepicker({ dateFormat: "yy-mm-dd" });
    })
    </script>

    <script>
    $(document).ready(
                function() {
                     $("#id_project_type").change(function() {
                             if ($(this).val() != '1') {
                                 $("#accordion").hide();

                             }
                             else {
                                 $("#accordion").show();

                             }
                         });

      //Auto expand collapsable fields (just ORD RAP as of writing) if they have a value
      $('#edit_project_container .collapse').each(function(){
        var hasVals = false;
        $(this).find('input').each(function(){
          if($(this).val() !== ''){
            hasVals = true;
          }
        })
        if(hasVals){
          $(this).attr('class','collapse in')
          $(this).attr('aria-expanded','true')
        }
      })

    });

</script>
</div>

{% endblock %}

