{% extends "base/site_base_qa_review.html" %}
{% load humanize %}
{% block qa_review_content %}
<script>
    $(document).ready(function() {

        $('.jasc-user-select').asyncSelect({
            url: '/api/dropdown_users',
            displayValue:function(item){ return item.last_name + ", " + item.first_name + ' (' + item.email + ')' }
        });
    })
</script>
<script>
        $(function () {
            $(".date-control").datepicker({ dateFormat: "yy-mm-dd" });
            $(".chosen-select").chosen({});
            var ul = $('#upload ul');
            // Change this to the location of your server-side upload handler:
            var url = '/projects/qlog_qa_review/file/upload/{{obj.id}}/';

            $('#drop a').click(function(){
                // Simulate a click on the file input button
                // to show the file browser dialog
                $(this).parent().find('input').click();
            });

            // Initialize the jQuery File Upload plugin
            $('#upload').fileupload({
                // This element will accept file drag/drop uploading
                dropZone: $('#drop'),

                // This function is called when a file is added to the queue;
                // either via the browse button, or via drag/drop:
                add: function (e, data) {


                var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"'+
                ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

                // Append the file name and file size
                tpl.find('p').text(data.files[0].name)
                         .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

                // Add the HTML to the UL element
                data.context = tpl.appendTo(ul);

                // Initialize the knob plugin
                tpl.find('input').knob();

                // Listen for clicks on the cancel icon
                tpl.find('span').click(function(){

                if(tpl.hasClass('working')){
                    jqXHR.abort();
                }

                tpl.fadeOut(function(){
                    tpl.remove();
                });

            });

            // Automatically upload the file once it is added to the queue
            var jqXHR = data.submit();
        },


      progress: function(e, data){

            // Calculate the completion percentage of the upload
            var progress = parseInt(data.loaded / data.total * 100, 10);

            // Update the hidden input field and trigger a change
            // so that the jQuery knob plugin knows to update the dial
            data.context.find('input').val(progress).change();

            if(progress == 100){
                data.context.removeClass('working');
            }
        },

        fail:function(e, data){
            // Something has gone wrong!
            data.context.addClass('error');
        }

    });

    // Prevent the default action when a file is dropped on the window
    $(document).on('drop dragover', function (e) {
        e.preventDefault();
    });

    // Helper function that formats the file sizes
    function formatFileSize(bytes) {
        if (typeof bytes !== 'number') {
            return '';
        }

        if (bytes >= 1000000000) {
            return (bytes / 1000000000).toFixed(2) + ' GB';
        }

        if (bytes >= 1000000) {
            return (bytes / 1000000).toFixed(2) + ' MB';
        }

        return (bytes / 1000).toFixed(2) + ' KB';
    }

});
</script>

<div class="vmargin20">

    <a class="btn btn-success"  href="{% url 'go_to_reviews' %}">Search For Another Review</a>
    <hr/>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="."
          role="form" id="qa_review_form" novalidate>

        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">
            <h5>Please correct the following errors</h5>
            {% for field in form %}
            {% if field.errors %}
            <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success">
            The progam has been created. <span class="glyphicon glyphicon-ok"></span>
        </div>
        {% endif %}


        <h4>Quality Assurance Product Review</h4>
        Use the "Finish and Send Email" button at the bottom of the page to send the review to yourself, the reviewer, the project QA Manager, and the Email List (ORD and non-ORD, if any). If you do not want to send an email, use the "Update Information Only" button to save your changes.<p><br></p>
        Note: If the user (i.e. "yourself"), the reviewer, and/or the project QA Manager are the same person, that person will receive only one email.
        <p><br></p>
        <div class="form-group">
            <label class="col-sm-4">{{form.qa_review_distribution_list.label_tag}}</label>
            <div class="col-sm-8">
                {{form.qa_review_distribution_list}}
            </div>
        </div>

         <div class="form-group">
            <label class="col-sm-4">{{form.qa_review_email_list.label_tag}}</label>
            <div class="col-sm-8">
                {{form.qa_review_email_list}}
                {% if form.qa_review_email_list.errors %}<div class="alert alert-danger">{{form.qa_review_email_list.errors.as_text}}</div>{% endif %}
            </div>
        </div>

        <hr/>

        <div class="form-group">
            <label class="col-sm-4">QA Activity Number:</label>
            <div class="col-sm-8">
                {{project_log.qa_log_number}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4">QA Activity Title:</label>
            <div class="col-sm-8">
                {{project_log.title}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4">QA Activity Type:</label>
            <div class="col-sm-8">
                {{project_log.project_log_type.the_name}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4">QA Activity POC:</label>
            <div class="col-sm-8">
                {{project_log.technical_lead.last_name}}, {{project_log.technical_lead.first_name}} ({{project_log.technical_lead.email}})
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4">POC Organization:</label>
            <div class="col-sm-8">
                {% if project_log.technical_lead.userprofile.branch %}
                {{project_log.technical_lead.userprofile.branch}}
                {% else %}
                {{project_log.technical_lead.userprofile.division}}
                {% endif %}
            </div>
        </div>

        {% if project_log.lco_tracking_number %}
        <div class="form-group">
            <label class="col-sm-4">STICS Clearance Tracking Number:</label>
            <div class="col-sm-8">
                {{project_log.lco_tracking_number}}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-4">Product Category:</label>
            <div class="col-sm-8">
                {{project_log.product_category}}
            </div>
        </div>

        {% if project_log.project_log_type.the_name != "QAPP" %}
        <div class="form-group">
            <label class="col-sm-4" title="The purpose of this field is to reference the approved QAPP for the product being reviewed.  To reference other approved QAPPs (e.g., from a different project), use the Comments field below.  Some product types might not require an entry, for example review of an extramural package prior to award, in which case the field can be 'None'.">[?] QAPP QA Activity Number:</label>
            <div class="col-sm-8">
                {{project_log.qapp}}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-4">QA Category:</label>
            <div class="col-sm-8">
                {{project_log.project.qa_category}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4">Date Received:</label>
            <div class="col-sm-8">
                {{project_log.date_received|date:"Y-m-d"}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4" title="The reviewer is typically the QA manager.">[?] {{form.reviewer.label_tag}}</label>
            <div class="col-sm-8">
                {{form.reviewer}}
                {% if form.reviewer.errors %}<div class="alert alert-danger">{{form.reviewer.errors.as_text}}</div>{% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4">Review Recommendation:</label>
            <div class="col-sm-8">
                {{form.review_type}}
            </div>
        </div>

        <hr/>
        <div class="form-group">
            <div class="col-sm-4 text-right">
                {% if project_log.review_type.the_name == "Approved" %}<label class="control-label">X</label>{% endif %}
            </div>
            <div class="col-sm-8">
                <b>Approved</b> - Approved QAPP identified for the product. If the product was reviewed, no deficiencies were identified in the product.
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 text-right">
                {% if project_log.review_type.the_name == "Approved with Minor Revisions" %}<strong>X</strong>{% endif %}
            </div>
            <div class="col-sm-8">
                <b>Approved with Minor Revisions</b> -
                Approved QAPP identified for the product. If the product was reviewed, observations were identified in the product that should be addressed, but no additional QA review is
                required.
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 text-right">
                {% if project_log.review_type.the_name == "Not Approved" %}<strong>X</strong>{% endif %}
            </div>
            <div class="col-sm-8">
                <b>Not Approved</b>
                - Approved QAPP identified for the product. Findings were identified in the product that require corrective action. A response to each finding, along with corrected text, must be provided for additional QA review.
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 text-right">
                {% if project_log.review_type.the_name == "No approved QAPP was identified for the product" %}<strong>X</strong>{% endif %}
            </div>
            <div class="col-sm-8">
                <b>No approved QAPP was identified for the product</b>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 text-right">
                {% if project_log.review_type.the_name == "QA requirements are not applicable to this product" %}<strong>X</strong>{% endif %}
            </div>
            <div class="col-sm-8">
                <b>QA requirements are not applicable to this product</b>
            </div>
        </div>

        <hr/>
        <div class="form-group">
            <label class="col-sm-4">Comments:</label>
            <div class="col-sm-8">
                {{form.qa_review_comment}}
            </div>
        </div>

        <hr/>

        <p>
      <h3 title="This table displays the QA activity's update history. Editing a review creates an entry in the update history if the Reviewer, QAM Recommendation, or Comments are changed, or if the user enters a comment below for the Update History. An entry is also created for the project's Update History if this is a QAPP QA activity and the project's QAPP Status, QAPP Approval Date, or Latest Annual QAPP Review Date change as a result of this review.">QA Activity Update History [?]</h3>
      </p>

        <table class="example table-autosort:6 table-stripeclass:alternate table-autofilter" id="projectlog_update_history_table">
      <thead id="projectlog_update_history_head">
      <tr>
        <th class="table-header">Date Approved</th>
          <th class="table-header">Review Recommendation</th>
          <th class="table-header">QA Activity POC</th>
          <th class="table-header">Reviewer</th>
          <th class="table-header">Comment</th>
          <th class="table-header">Updated By</th>
          <th class="table-header">Date Updated</th>
      </tr>
      </thead>

      <tbody id="projeclot_update_history_body">
        {% for obj in projectlog_update_history %}
      <tr>
          <td>{{obj.date_approved|date:"Y-m-d"}}</td>
          <td>{{obj.review_type.the_name}}</td>
          <td>{{obj.technical_lead.last_name}}, {{obj.technical_lead.first_name}}</td>
          {% if obj.reviewer %}
          <td>{{obj.reviewer.last_name}}, {{obj.reviewer.first_name}}</td>
		  {% else %}
		  <td><br></td>
		  {% endif %}
          <td style="text-align: left">{{obj.comments}}</td>
          {% if obj.user %}
          <td>{{obj.user.last_name}}, {{obj.user.first_name}}</td>
          {% else %}
          <td>QA Track</td>
          {% endif %}
          <td>{{obj.created|date:"Y-m-d"}}</td>

      </tr>
      {% endfor %}

      </tbody>
  </table>

        <p><br></p>

        <p title="If you do not enter a comment here, an entry will only be created for the QA activity's Update History if the Reviewer, QAM Recommendation, or Comments has changed. An entry is also created for the project's Update History if this is a QAPP QA activity and the project's QAPP Status, QAPP Approval Date, or Latest Annual QAPP Review Date changes as a result of this review.">
            Enter an optional comment for the QA activity's Update History, and then click one of the buttons. [?]
        </p>

        <div class="form-group">
            <div class="col-sm-6"><input class="form-control" type="text" name="update_comment"></div>
            <div class="col-sm-6">
                <input type="submit" value="Finish and Send Email" class="btn btn-success" name="send_the_emails"/>
                <input type="submit" value="Update Information Only" class="btn btn-info" name="just_update"/>
            </div>
        </div>

    </form>

    <div>
    {% if qa_review_distributions %}


    <table class="example table-autosort:11 table-stripeclass:alternate table-autofilter" id="qa_review_distributions_table">
        <thead id="qa_review_distributions_head">
        <tr>
            <th class="table-sortable:alphanumeric">Distribution</th>
        </tr>
        <tr>
            <th class="table-filterable"></th>
        </tr>

        </thead>

        <tbody id="qa_review_distributions_body">

        {% for obj in qa_review_distributions %}
        <tr>
            <td style="text-align:left">{{obj.the_name}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>

    <div class="row cols-3">
        {% if project_log.id %}
        <div class="col size-1of3">

            <form id="upload" method="post"action="{% url 'file_upload_qa_review' obj.id %}" enctype="multipart/form-data">

                {% csrf_token %}

                <div id="drop">
                    Drop Files ONLY Here

                    <a>Browse</a>
                    <input type="file" name="upl" multiple />
                </div>
                <ul>
                    <!-- The file uploads will be shown here -->
                </ul>

            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
