{% extends "base/site_base_qlog_show.html" %}
{% block qlog_content %}

{% if project %}
<h3 class="separator">Project Information</h3>
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
    <div class="form-group">
        <label class="col-sm-4 control-label">Project Lead:</label>
        <div class="col-sm-8">
            {{project.person.last_name}}, {{project.person.first_name}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Office:</label>
        <div class="col-sm-8">
            {{project.office.abbreviation}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Lab:</label>
        <div class="col-sm-8">
            {{project.lab.abbreviation}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Division:</label>
        <div class="col-sm-8">
            {{project.division.abbreviation}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Branch:</label>
        <div class="col-sm-8">
            {{project.branch.abbreviation}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Project QA ID:</label>
        <div class="col-sm-8">
            <a href="{% url 'show_project' obj.project.id %}">
				<span class="text-blue">{{project.qa_id}}</span>    (Click to access project)
            </a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Project Title:</label>
        <div class="col-sm-8">
            {{project.title}}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Program:</label>
        <div class="col-sm-8">
            {{project.program.the_name}}
        </div>
    </div>

</form>

{% endif %}

<div>
    <h3 class="separator">QA Activity Details</h3>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>

        {% csrf_token %}

        {% if form.errors %}
         <div class="alert alert-danger">
            <h5>Please correct the following errors</h5>
            {% for field in form %}
            {% if field.errors %}
            <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
            {% endif %}
            {% endfor %}
        </div>

        {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}


        {{ form.non_field_errors }}


        {# I think these fields are added manually to appear before the organization #}

        {% if project_log.id %}
        <div class="form-group">
            <label class="col-sm-4 control-label">QA Activity ID:</label>
            <div class="col-sm-8">
                {{project_log.qa_log_number}}
            </div>
        </div>
        {% endif %}

        {% if project_log.project_log_type %}
        <div class="form-group">
            <label class="col-sm-4 control-label">QA Activity Type:</label>
            <div class="col-sm-8">
                {{project_log.project_log_type}}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-4 control-label required">QA Activity POC:</label>
            <div class="col-sm-8">
                {{form.technical_lead}}
                {% if form.technical_lead.errors %}<div class="alert alert-danger">{{form.technical_lead.errors.as_text}}</div>{% endif %}
            </div>
        </div>

        {% include 'organization_select.html' %}

        {% for field in form %}
        {% if field.name != 'technical_lead' %}
        {% if field.name != 'office' and field.name != 'lab' and field.name != 'division' and field.name != 'branch' %}
        {% if field.name == 'qapp' %}
        {% if project_log.project_log_type.the_name != 'QAPP' %}
        <div class="form-group">
            <label class="col-sm-4 control-label">
            {% if field.help_text %}
            <div title="{{field.help_text}}">[?] {{field.label_tag}}</div>
            {% else %}
            <div>{{field.label_tag}}</div>
            {% endif %}

            </label>

            <div class="col-sm-8">
                {{field}}
                {% if field.errors %}<div class="alert alert-danger">{{field.errors.as_text}}</div>{% endif %}
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="form-group">
            <label class="col-sm-4 control-label">
            {% if field.help_text %}
            <div title="{{field.help_text}}">[?] {{field.label_tag}}</div>
            {% else %}
            <div>{{field.label_tag}}</div>
            {% endif %}

            </label>

            <div class="col-sm-8">
                {{field}}
                {% if field.errors %}<div class="alert alert-danger">{{field.errors.as_text}}</div>{% endif %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}

        {# Add the rest of the form fields #}

        <p>
        <h3 title="Click to expand/collapse. This table displays a log of each time any of the following fields are updated: Date Approved, Review Recommendation, QA Activity POC, Reviewer; or if the user enters a comment for the Update History; or if the user creates or edits the QA activity review."><a href="#project_updatehistory_div" data-toggle="collapse">Update History [?]</a></h3>
      </p>

        <div id="project_updatehistory_div" class="collapse in" style="padding-bottom:20px;">
        <table class="example table-autosort:6 table-stripeclass:alternate table-autofilter" id="projectlog_update_history_table">
      <thead id="projectlog_update_history_head">
      <tr>
        <th class="table-header">Date Approved</th>
          <th class="table-header">Review Recommendation</th>
          <th class="table-header">QA Activity POC</th>
          <th class="table-header">Reviewer</th>
          <th class="table-header">Comment</th>
          <th class="table-header">Updated By</th>
          <th class="table-header">Date Updated</th>
      </tr>
      </thead>

      <tbody id="projectlog_update_history_body">
        {% for obj in projectlog_update_history %}
      <tr>
          <td>{{obj.date_approved|date:"Y-m-d"}}</td>
          <td>{{obj.review_type.the_name}}</td>
          <td>{{obj.technical_lead.last_name}}, {{obj.technical_lead.first_name}}</td>
          {% if obj.reviewer %}
          <td>{{obj.reviewer.last_name}}, {{obj.reviewer.first_name}}</td>
		  {% else %}
		  <td><br></td>
		  {% endif %}
          <td style="text-align: left">{{obj.comments}}</td>
          {% if obj.user %}
          <td>{{obj.user.last_name}}, {{obj.user.first_name}}</td>
          {% else %}
          <td>QA Track</td>
          {% endif %}
          <td>{{obj.created|date:"Y-m-d"}}</td>

      </tr>
      {% endfor %}

      </tbody>
  </table>
        </div>

        <p><br></p>

        <p title="If you do not enter a comment here, an entry will only be created for the Update History if the Date Approved, Review Recommendation, QA Activity POC, or Reviewer has changed.">
            Enter an optional comment for the Update History, and then click the "Update" button. [?]
        </p>
            <div class="form-group">
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="update_comment">
                </div>
                <div class="col-sm-4">
                    <input type="submit" value="Update" class="btn btn-success">
                    <a class="btn btn-warning" href="{% url 'show_project_log' obj.id %}">Cancel</a>
                </div>

            </div>

    </form>
</div>

<script>
    $(document).ready(function() {
        $('.jasc-user-select').asyncSelect({
            url: '/api/dropdown_users',
            displayValue:function(item){ return item.last_name + ", " + item.first_name + ' (' + item.email + ')' }
        });
    })
</script>
<script type="text/javascript">
    $(document).ready(function() {
        var poc_list = {{poc_list|safe}};

        $("#id_technical_lead").on('change',function() {
            var poc_id = this.value;
            var poc = $.grep(poc_list, function(v) { console.log(v.id);return v.user_id == poc_id; })[0];

            $('#id_office').val(poc.office_id);
            $('#id_lab').val(poc.lab_id);
            $('#id_lab').change();
            $('#id_division').val(poc.division_id);
            $('#id_division').change();
            $('#id_branch').val(poc.branch_id);
        });
    });
</script>
{% endblock %}