{% extends "base/site_base_project.html" %}
{% load humanize %}

{% block project_content %}
<h3>Projects</h3>
<div>
    In the 'Projects' section of QA Track, you can manage projects, EPA non-ORD organizations,
    and programs.
</div>
<div>
    Select an option from the "Project Actions" box to begin.
</div>
<div><br/></div>
<h3>Programs</h3>
<div>
    In  the ‘Programs’ section of QA Track, you can manage programs.
</div>
<div>
    Select an option from the "Program Actions" box to begin.
</div>
<div><br/></div>
<h3>EPA Non-ORD Organizations</h3>
<div>
    In  the ‘EPA Non-ORD Organizations’ section of QA Track, you can manage EPA non-ORD organizations.
</div>
<div>
    Select an option from the "EPA Non-ORD Organization Actions" box to begin.
</div>
{% endblock %}