{% load static %}
<link href="{% static 'css/project_rap_group_fields.css' %}" rel="stylesheet">
<div style="padding: 30px 0">
  <div class="form-group" >
      <label class="col-sm-{{label_width|default:4}} control-label" title="Click to expand/collapse.">
          <a href="#project_rap_fields" data-toggle="collapse" id='rap_toggle'>[?] ORD RAP</a>

      </label>
      <div class="col-sm-{{field_width|default:8}}" id='rap_instructions'></div>
  </div>
  <div id="project_rap_fields" class="collapse">
  <div class="form-group" >
      <label class="col-sm-{{label_width|default:4}} control-label">
      </label>
      <div class="col-sm-{{field_width|default:8}}" id='rap_instructions' style="font-size:85%;">
        (Select project or task number from list or type in if not found. Type a comma to display the full dropdown and enter another value.)
      </div>
  </div>

    {%for field in form %}
    {% if field.name in rap_fields%}

      <div class="form-group">
          <label class="col-sm-{{label_width|default:4}} control-label">
              <div>{{field.label_tag}}</div>

              <div class="help-block">{{field.help_text}}</div>
          </label>
          <div class="col-sm-{{field_width|default:8}}">
            <div id="{{field.name}}" class='edit_rap_field'>{{field}}</div>
              {% if field.errors %}<div class="alert alert-danger">{{field.errors.as_text}}</div>{% endif %}
          </div>
      </div>
    {% endif %}
    {% endfor %}

  </div>
</div>
<script>
$(document).ready(function(){
  var html,
    rap_num_obj = JSON.parse('{{rap_numbers | escapejs}}'), //RAP Json obj passed from django
    dirtyInputs = {};

  //Set inputs to be dirty initlaly.
  $(".edit_rap_field input").each(function(e){
      dirtyInputs[$(this).attr('id')] = false;
  })


  /* Generates the html for a rap number container given a filtered list of tasks/projects, and a program */
  function get_select_html(search_term, numbers, program){
    //if(!search_term.length) return false; //turn on if we want users to start typing to see dropdown
    var haveProjects = false,haveTasks = false, html;
    html = "<div class='rap_num_container'>"
    html += '<span class="glyphicon glyphicon-remove close_rap_container" aria-hidden="true"></span>';
    html += "<div class='rap_num_inner'>"
    html += "<ul class='rap_num_ul'>";

    //Projects
    if( numbers.hasOwnProperty('projects')){
      projects = numbers.projects;
      html += "<div class='projects'>";
      html += "<div class='proj_task_title'>"+program+" Projects</div>";
      html += "<div class='projects_inner'>";

      for(i = 0; i < projects.length; i++){
        haveProjects = true;
        html += "<li class='rap_num'>" + projects[i] + "</li>";
      }
      if(!haveProjects) html += "No Projects Found.";

      html += "</div></div>";
    }

    //Tasks
    if( numbers.hasOwnProperty('tasks')){
      tasks = numbers.tasks;
      html += "<div class='tasks'>";
      html += "<div class='proj_task_title'>"+program+" Tasks</div>";
      html += "<div class='tasks_inner'>";

      for(i = 0; i < tasks.length; i++){
        haveTasks = true;
        html += "<li class='rap_num'>" + tasks[i] + "</li>";
      }
      if(!haveTasks) html += "No Tasks Found.";
      html += "</div></div>";
    }

    html += "</ul></div></div>";
    return html;
  }


  /* Filters the RAP numbers based on search_term */
  function filter_rap_nums(search_term, numbers){

    var filtered_numbers = {}

    if( numbers.hasOwnProperty('projects')){
      projects = numbers.projects;
      filtered_numbers.projects = []
      for(i = 0; i < projects.length; i++){
        if(projects[i].toLowerCase().indexOf(search_term.toLowerCase()) !== -1){
          filtered_numbers.projects.push(projects[i])
        }
      }
    }
    if( numbers.hasOwnProperty('tasks')){
      tasks = numbers.tasks;
      filtered_numbers.tasks = []
      for(i = 0; i < tasks.length; i++){
        if(tasks[i].toLowerCase().indexOf(search_term.toLowerCase()) !== -1){
          filtered_numbers.tasks.push(tasks[i])
        }
      }
    }

    return filtered_numbers;
  }


  /* Returns array of RAP numbers given a comma separated string. */
  function get_val_array(str){
    valArray = str.split(/[,;]/);
    for(i=0; i< valArray.length; i++){
      valArray[i] = valArray[i].trim();
    }
    return valArray;
  }


  /* Returns the RAP program given the input id */
  function get_program(id){
    return id.split('_')[1].toUpperCase()
  }


  /*Rerenders the rap num container*/
  function update_rap_nums(element){
    if($(element).attr('id') === 'id_hsrp_rap_extensions') return //don't apply to extensions
    var parent,parent_id,rap_nums,valArray,val,html,id, haveSelect, filtered_rap_nums;
    id = $(element).attr('id')
    haveSelect = $(element).next('.rap_num_container').length

    parent = $(element).parents('.edit_rap_field');
    parent_id = $(parent).attr('id');
    rap_nums = rap_num_obj[parent_id];
    valArray = get_val_array($(element).val());
    val = valArray[valArray.length - 1].trim();
    program = get_program(id)


    if( dirtyInputs[$(element).attr('id')] || !haveSelect ){
      $(element).next('.rap_num_container').remove();
      filtered_rap_nums = filter_rap_nums(val, rap_nums)
      html = get_select_html(val, filtered_rap_nums, program);
      if(html){
        parent.append(html);
        $('.close_rap_container').on('click',function(){
          $(this).closest('.rap_num_container').remove();
        })
        $('.rap_num_ul li').on('click',function(){
          var selected_num, input, valArray, val;
          selected_num = $(this).text();
          input = $(this).closest('.edit_rap_field').find('input');
          valArray = get_val_array(input.val());
          valArray[valArray.length - 1] = selected_num;
          val = valArray.join(', ') + ', ';
          input.val(val);
          input.focus();
          dirtyInputs[$(input).attr('id')] = false;
        })
      }
    }
  }

  /* * * * * *
  *
  * EVENT HANDLERS
  *
  * * * * * * */

  $(".edit_rap_field input").on('focus', function(){
    update_rap_nums(this)
  })

  $(".edit_rap_field input").on('keyup', function(e){
    vals = get_val_array($(e.target).val())
    lastVal = vals[vals.length - 1]
    if(lastVal.trim().length){
      dirtyInputs[$(this).attr('id')] = true;
    }
    //hit esc key
    if(e.keyCode == 27) {
      $(this).next('.rap_num_container').remove()
    } else {
      update_rap_nums(this)
    }
  })

  $(".edit_rap_field input").on('blur', function(e){
    //Tab was hit
    if(e.relatedTarget !== null){
      $(this).next('.rap_num_container').remove()
    }
  })

  $(window).click(function(e){
    var target_parent_id = $(e.target).parents('.edit_rap_field').attr('id'),
        is_rap_li = $(e.target).hasClass('rap_num');

    $('.rap_num_container').each(function(){
      var this_parent_id = $(this).closest('.edit_rap_field').attr('id');
      if(this_parent_id !== target_parent_id && !is_rap_li){ //remove if parent parent isn't an edit rap field and if target isn't a rap li.
        $(this).remove()
      }

    })
  })


})

</script>
