{% extends "base/site_base_project.html" %}
{% block project_content %}
{% load staticfiles %}
<h3>PROJECT TEST PAGE</h3>

<div class="vmargin20" id='create_project_container'>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
        <select name="project_log_type" data-placeholder="placholder and options" multiple class="form-control async-project" required="" id="project_test_select">
            <option selected value='30'>Project 23522<option>
            <option selected value='31'>Project 2322222<option>
        </select>
    </form>
</div>
<div class="vmargin20" id='create_project_container'>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
        <select name="project_log_type" class="form-control async-project" required="" id="project_test_select">
            <option selected val='31'>option no place holder<option>
        </select>
    </form>
</div>
<div class="vmargin20" id='create_project_container'>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
        <select name="project_log_type" class="form-control async-project" required="" id="project_test_select" data-placeholder="have placeholder, no options">
        </select>
    </form>
</div>
<div class="vmargin20" id='create_project_container'>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
        <select name="project_log_type" class="form-control async-project" required="" id="project_test_select">
        </select>
    </form>
</div>
<div class="vmargin20" id='create_project_container'>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
        <select name="project_log_type" class="form-control async-project" required="" multiple data-placeholder="multiple no options" id="project_test_select">
        </select>
    </form>
</div>
<br>
<br>
<br>
<div class="vmargin20" id='create_project_container'>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
        <select name="project_log_type" class="form-control user_test_select" required=""  multiple data-placeholder="get some peeps" >
        </select>
    </form>
</div>
<div class="vmargin20" id='create_project_container'>
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
        <select name="project_log_type" class="form-control user_test_select" required="" data-placeholder="get a peep" >
        </select>
    </form>
</div>

<script>
$(document).ready(function(){
    $('.async-project').asyncSelect()
    $(".user_test_select").asyncSelect({
        url:'/api/users/',
        displayValue:function(item){return item.last_name + ", " + item.first_name + " (" + item.email + ")"},
        searchField: 'query'
    })
})
</script>
{% endblock %}

