{% extends "base/site_base_qapp_review.html" %}
{% load humanize %}

{% block qapp_review_content %}

    <h4>On an annual basis, the Project Lead for each project needs to check if the QAPP is still current, needs to be revised/updated, or is no longer in use and should be archived. Reminders are emailed to the Project Lead with the current project QA Manager cc'd.</h4>

    <h5>Sample Reminder Email that gets sent out:</h5>

    {% for line in f %}
        <p>{{ line }}</p>
    {% endfor %}

{% endblock %}