{% extends "base/site_base_project.html" %}
{% load humanize %}

{% block project_content %}
<div class="row">
    <h3>Search Existing Projects</h3>
    <p>
        To search for projects, click on the links below to expand search fields, select your search criteria,
        and then click the "Search" button.
    </p>
</div>
<div class="row">
    <form class="form-horizontal" action="{% url 'result_search_project' %}" method="get">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="submit" value="Search" name="start" class="btn btn-md btn-success ml-5">
            </div>
            <label class="col-sm-4 control-label text-align-right" title="To select multiple statuses, use Ctrl-click.">[?] Project Status</label>
            <div class="col-sm-8">
                <select class="form-control"  multiple="multiple" size=4 style="height: 100%;" name="project_status" {% if project_status %} value="{{project_status}}" {% endif %}>
                    {% for instance in project_statuses %}
                    <option {% if instance.id == selected_status.id %}selected{% endif%} value="{{instance.id}}">
                        {{instance.the_name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_org" data-toggle="collapse">Organization</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_org" class="collapse in">
            {% include 'organization_select.html' %}
            <div class="form-group">
              <label class="col-sm-4 control-label">Organization search mode</label>
              <div class="col-sm-8">
                  <label class="radio-inline">
                    <input type="radio" id="bottom_Y" name="orgr" value="projects" checked="">
                    Project Organization
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="bottom_N" name="orgr" value="contributors">
                    Project Lead/Team Member Organization
                  </label>
              </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_qa_id_title" data-toggle="collapse">Project QA IDs/Title</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_qa_id_title" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Project QA ID</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="project_qa_id" {% if project_qa_id %} value="{{project_qa_id}}" {% endif %}>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">QA ID search mode</label>
                <div class="col-sm-8">
                    <label class="radio-inline active"><input type="radio" name="qa_id_exact" value="N" checked="">Contains</label>
                    <label class="radio-inline"><input type="radio" name="qa_id_exact" value="Y">Equals</label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Alternate ID</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="alt_id" {% if alt_id %} value="{{alt_id}}" {% endif %}>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Previous ID</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="previous_id" {% if previous_id %} value="{{previous_id}}" {% endif %}>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Title</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="f" {% if f %} value="{{f}}" {% endif %}>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_people" data-toggle="collapse">Project Lead/Team Members/QA Managers</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_people" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Last Name</label>
                <div class="col-sm-8"><input class="form-control" type="text" name="lead_lastname" {% if lead_lastname %} value="{{lead_lastname}}" {% endif %}></div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8"><input class="form-control" type="text" name="lead_firstname" {% if lead_firstname %} value="{{lead_firstname}}" {% endif %}></div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Search for name in the following roles:</label>
                <div class="col-sm-8">
                    <label><input name="roles" type="checkbox" id="lead" value="lead" checked> Project Lead</label><br>
                    <label><input name="roles" type="checkbox" id="team_member" value="team_member" checked> Team Member</label><br>
                    <label><input name="roles" type="checkbox" id="qa_manager" value="qa_manager" checked> QA Manager</label><br>
                    <label><input name="roles" type="checkbox" id="previous_qam" value="previous_qam" checked> Previous QA Manager</label><br>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_type_category" data-toggle="collapse">Intramural or Extramural/QA Category</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_type_category" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Intramural or Extramural</label>
                <div class="col-sm-8">
                    <select class="form-control" name="k" {% if k %} value="{{k}}" {% endif %}>
                        <option value=""></option>
                        {% for instance in project_types %}
                        <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">QA Category</label>
                <div class="col-sm-8">
                    <select class="form-control" multiple name="qa" {% if qa %} value="{{qa}}" {% endif %}>
                        {% for instance in qa_categories %}
                        <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_qapp" data-toggle="collapse">QAPP</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_qapp" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">QAPP Status</label>
                <div class="col-sm-8">
                    <select class="form-control" multiple name="qs" {% if qs %} value="{{qs}}" {% endif %}>
                        {% for instance in qapp_statuses %}
                        <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Project Type</label>
                <div class="col-sm-8">
                    <select class="form-control" multiple name="qr" {% if qr %} value="{{qr}}" {% endif %}>
                        {% for instance in nrmrl_qapp_requirements %}
                        <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_toggle_program" data-toggle="collapse">Program</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_toggle_program" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Program</label>
                <div class="col-sm-8">
                    <select class="form-control" multiple name="pr" {% if pr %} value="{{pr}}" {% endif %}>
                        {% for instance in programs %}
                        <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_rap" data-toggle="collapse" id='rap_toggle'>ORD RAP</a>
            </label>
        </div>
        <div id="id_rap" class="collapse">

          <div class="form-group">
              <label class="col-sm-4 control-label">
              </label>
              <div class="col-sm-8" id='rap_instructions' style='font-size:85%;'>
                (Separate values with commas or semicolons. Enter * to include all projects or tasks in a program.)
              </div>
          </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">ACE RAP Numbers</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="ace" {% if ace %} value="{{ace}}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">CSS RAP Numbers</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="css" {% if css %} value="{{css}}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">SSWR RAP Numbers</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="sswr" {% if sswr %} value="{{sswr}}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">HHRA RAP Numbers</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="hhra" {% if hhra %} value="{{hhra}}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">HSRP RAP Numbers</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="hsrp" {% if hsrp %} value="{{hsrp}}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">HSRP RAP Extensions</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="hsre" {% if hsre %} value="{{hsre}}" {% endif %}>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">SHC RAP Numbers</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="shc" {% if shc %} value="{{shc}}" {% endif %}>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_dates" data-toggle="collapse">Date Project Identified</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_dates" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Date Project Identified => From Date</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="c" {% if c %} value="{{c}}" {% endif %} id="datepicker1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Date Project Identified => To Date</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="d" {% if d %} value="{{d}}" {% endif %} id="datepicker2">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_toggle_vehicle_type" data-toggle="collapse">Name of Contractor/Institution/Vehicle</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_toggle_vehicle_type" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Name of Contractor/Institution</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="institution_name" {% if institution_name %} value="{{institution_name}}" {% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Vehicle Type</label>
                <div class="col-sm-8">
                    <select class="form-control" multiple name="vt" {% if vt %} value="{{vt}}" {% endif %}>
                        {% for instance in vehicle_types %}
                        <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Vehicle Number</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="vehicle_number" {% if vehicle_number %} value="{{vehicle_number}}" {% endif %}>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_toggle_comments" data-toggle="collapse">Comments</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_toggle_comments" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Comments</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="comments" {% if comments %} value="{{comments}}" {% endif %}>
                </div>
            </div>
        </div>



        <div class="form-group">
            <label class="col-sm-4 control-label">Export Results To Excel</label>
            <div class="col-sm-8">
                <label class="radio-inline"><input type="radio" id="bottom_Y" name="excel" value="Y" onclick="excelClick(this)">Yes</label>
                <label class="radio-inline active"><input type="radio" id="bottom_N" name="excel" value="N" checked="" onclick="excelClick(this)">No</label>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    function excelClick(radio){
       var target_id = '';

        if (radio.name === 'excel'){
            target_id = 'bottom_'
        } else if (radio.name === 'excel2'){
            target_id = 'top_'
        }
        else {
            return;
        }

        target_id += radio.value;

        $('#' + target_id).prop('checked', true);
    }
</script>

{% endblock %}
