{% extends "base/site_base_project.html" %}
{% load humanize %}

{% block project_content %}
<h3>Search Extramural Vehicles</h3>
<div>
    To search for existing extramural vehicles, type your search criteria into the field below, and the list will be filtered to match your criteria.
</div>
<div class="vmargin20">
    <div class="form-horizontal">
        <div id="vehicle_list">
            <div class="form-group">
                <label class="col-sm-3 control-label">Extramural Vehicle Name</label>
                <div class="col-sm-9">
                    <input class="form-control search" type="text" name="a" value="{{a}}">
                </div>
            </div>

            <h4>Existing Extramural Vehicles</h4>
            <table class="table table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Total Projects</th>
                </tr>
                <tbody class="list">
                    {% for vehicle in vehicles %}
                    <tr>
                        <td class="name"><a href="{% url 'show_vehicle' vehicle.id %}"> {{vehicle.the_name}}</a></td>
                        <td class="count">{{vehicle.project_set.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
     </div>
</div>

<script type="text/javascript">
    var options = {
        valueNames: [ 'name']
    };

    var vehicle_list = new List('vehicle_list', options);
</script>
{% endblock %}