{% extends "base/site_base_qa_review.html" %}
{% load humanize %}

{% block qa_review_content %}
<h3>Search Existing QA Activities for Review</h3>
<div>
    To search for QA Activities to review, select your search criteria below, and then click the "Search" button at the bottom
    of the page.
</div>
<div class="vmargin20">
    <form class="form-horizontal" action="{% url 'result_search_qa_review' %}" method="get">
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <input class="btn btn-success" type="submit" value="Search" name="start" class="button">
            </div>
        </div>

        {% include 'organization_select.html' %}

        <div class="form-group">
            <label class="col-sm-4 control-label">Title</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="tl" value="{{tl}}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Project QA ID</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="project_qa_id" value="{{project_qa_id}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">QA Activity ID</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="qa_activity_id" value="{{qa_activity_id}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Alternate ID</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="alt_id" value="{{alt_id}}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Previous ID</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="previous_id" value="{{previous_id}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">QA Activity POC Last Name</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="c" value="{{c}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">QA Activity POC First Name</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="fn" value="{{fn}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" title="The reviewer is typically the QA manager.">[?] Reviewer Last Name</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="e" value="{{e}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Reviewer First Name</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="f" value="{{f}}">
            </div>
        </div>

        <h4>Date QA Activity Received => To/From Date (For Audit Search Date Audit Began)</h4>
        <div class="form-group">
            <label class="col-sm-4 control-label">From Date</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="g" value="{{g}}" id="datepicker1">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">To Date</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="dh" value="{{dh}}" id="datepicker2">
            </div>
        </div>
        <h4>Date QA Activity Reviewed => To/From Date (For Audit Search Date Audit Report Submitted)</h4>

        <div class="form-group">
            <label class="col-sm-4 control-label">From Date</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="j" value="{{j}}" id="datepicker3">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">To Date</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="k" value="{{k}}" id="datepicker4">
            </div>
        </div>

        <h4>Date QA Activity Approved => To/From Date (For Audit Search Date Corrective Actions Completed)</h4>

        <div class="form-group">
            <label class="col-sm-4 control-label">From Date</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="m" value="{{m}}" id="datepicker5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">To Date</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="n" value="{{n}}" id="datepicker6">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-4 control-label">QA Activity Type</label>
            <div class="col-sm-8">
                <select class="form-control"  multiple name="r" value="{{r}}">
                    <option value="">All Types</option>
                    {% for instance in project_log_types %}
                    <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
                <label class="col-sm-4 control-label">Product Category</label>
                <div class="col-sm-8">
                    <select class="form-control"  multiple name="product_categories" value="{{product_categories}}">
                        {% for instance in product_category_types %}
                        <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Review Recommendation</label>
            <div class="col-sm-8">
                <select class="form-control"  multiple name="rt" value="{{rt}}">
                    {% for instance in review_types %}
                    <option value="{{instance.the_name}}">{{instance.the_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <input class="btn btn-success" type="submit" value="Search" name="start" class="button">
            </div>
        </div>

    </form>
</div>

<script>
    $(document).ready(
                function() {
                     $("#id_lab").change(function() {
                             if ($(this).val() == '') {
                                 $("#division").html("<option>All Divisions</option>");
                             }
                             else {
                                 var url = "/projects/ajax/divisions/" + $(this).val() + "/ajax_lookup_divisions";
                                 var lab = $(this).val();
                                 $.getJSON(url, function(divisions) {
                                     var options = '<option value="">All Divisions</option>';
                                     for (var i = 0; i < divisions.length; i++) {
                                        options += '<option value="' + divisions[i].fields['abbreviation'] + '">' + divisions[i].fields['abbreviation'] + '</option>';
                                     }
                                     $("#division").html(options);
                                     $("#division").attr('disabled', false);
                                 });
                             }
                         });


    });

</script>
<script>
    $(document).ready(
                function() {
                     $("#division").change(function() {
                             if ($(this).val() == '') {
                                 $("#id_branch").html("<option>All Branches</option>");
                             }
                             else {
                                 var url = "/projects/ajax/branches/" + $(this).val() + "/ajax_lookup_branches";
                                 var division = $(this).val();
                                 $.getJSON(url, function(branches) {
                                     var options = '<option value="">All Branches</option>';
                                     for (var i = 0; i < branches.length; i++) {
                                        options += '<option value="' + branches[i].fields['abbreviation'] + '">' + branches[i].fields['abbreviation'] + '</option>';
                                     }
                                     $("#id_branch").html(options);
                                     $("#id_branch").attr('disabled', false);
                                 });
                             }
                         });


    });

</script>

{% endblock %}