{% extends "base/site_base_qapp_review.html" %}
{% load humanize %}
{% block qapp_review_content %}

<h3>Search Existing QAPPs up for Review</h3>
    
<div>
    Select your criteria,
    and then click the "Search" button.
</div>
</p>

<div class="vmargin20">

    <form class="form-horizontal" action="{% url 'result_search_qapp_annual_review' %}" method="get">

        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <input class="btn btn-success" type="submit" value="Search" name="start" class="button">
            </div>
        </div>

{#        {% include 'organization_select.html' %}#}

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_org" data-toggle="collapse">Organization</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_org" class="collapse in">
            {% include 'organization_select.html' %}
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">
                <a href="#id_pocs" data-toggle="collapse">Project Lead/QA Manager/QAPP Reviewer</a>
            </label>
            <div class="col-sm-8"></div>
        </div>
        <div id="id_pocs" class="collapse">
            <div class="form-group">
                <label class="col-sm-4 control-label">Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="lastname" value="{{lastname}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="firstname" value="{{firstname}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Search for name in the following roles:</label>
                <div class="col-sm-8">
                    <label><input name="roles" type="checkbox" id="lead" value="lead" checked> Project Lead</label><br>
                    <label><input name="roles" type="checkbox" id="qa_manager" value="qa_manager" checked> QA Manager</label><br>
                    <label><input name="roles" type="checkbox" id="reviewer" value="reviewer" checked> QAPP Reviewer</label><br>
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="col-sm-4 control-label">Export Results To Excel</label>
            <div class="col-sm-8">
                <label class="radio-inline"><input type="radio" id="bottom_Y" name="excel" value="Y">Yes</label>
                <label class="radio-inline active"><input type="radio" id="bottom_N" name="excel" value="N" checked="">No</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <input class="btn btn-success" type="submit" value="Search" name="start" class="button">
            </div>
        </div>

    </form>

</div>


{% endblock %}
