{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <!--<div class="col-sm-3">-->
        <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">RAP QA Actions</div>-->
            <!--<div class="list-group">-->
                <!--<a class="list-group-item" href="{% url 'search_rms_project' %}">Upload/Download completed ORD QA Form</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-sm-12">
        {% block project_content %}
        {% endblock %}
    </div>
</div>



{% endblock %}