{% extends "base/site_base_nb_tab.html" %}
{% load staticfiles %}

{% block nb_tab_content %}

<script>
        $(document).ready(function () {
            var ul = $('#upload ul');
            // Change this to the location of your server-side upload handler:
            var url = '/notebooks_tab/file/upload/{{obj.id}}/';

            $('#drop a').click(function(){
                // Simulate a click on the file input button
                // to show the file browser dialog
                $(this).parent().find('input').click();
            });

            // Initialize the jQuery File Upload plugin
            $('#upload').fileupload({
                // This element will accept file drag/drop uploading
                dropZone: $('#drop'),

                // This function is called when a file is added to the queue;
                // either via the browse button, or via drag/drop:
                add: function (e, data) {


                var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"'+
                ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

                // Append the file name and file size
                tpl.find('p').text(data.files[0].name)
                         .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

                // Add the HTML to the UL element
                data.context = tpl.appendTo(ul);

                // Initialize the knob plugin
                tpl.find('input').knob();

                // Listen for clicks on the cancel icon
                tpl.find('span').click(function(){

                if(tpl.hasClass('working')){
                    jqXHR.abort();
                }

                tpl.fadeOut(function(){
                    tpl.remove();
                });

            });

            // Automatically upload the file once it is added to the queue
            var jqXHR = data.submit();
        },


      progress: function(e, data){

            // Calculate the completion percentage of the upload
            var progress = parseInt(data.loaded / data.total * 100, 10);

            // Update the hidden input field and trigger a change
            // so that the jQuery knob plugin knows to update the dial
            data.context.find('input').val(progress).change();

            if(progress == 100){
                data.context.removeClass('working');
            }
        },

        fail:function(e, data){
            // Something has gone wrong!
            data.context.addClass('error');
        }

    });

    // Prevent the default action when a file is dropped on the window
    $(document).on('drop dragover', function (e) {
        e.preventDefault();
    });

    // Helper function that formats the file sizes
    function formatFileSize(bytes) {
        if (typeof bytes !== 'number') {
            return '';
        }

        if (bytes >= 1000000000) {
            return (bytes / 1000000000).toFixed(2) + ' GB';
        }

        if (bytes >= 1000000) {
            return (bytes / 1000000).toFixed(2) + ' MB';
        }

        return (bytes / 1000).toFixed(2) + ' KB';
    }

    var cancel = function(){
        $("#id_file_upload").dialog("close");
    };

    var dialogOpts = {
        modal : true,
        title: "Upload Attachments",
        closeOnEscape : true,
        buttons : {
            "Cancel" : cancel
        },
        autoOpen : false
    };

    $('#id_file_upload').dialog(dialogOpts);
    $('#id_upload_btn').on('click', function(){
        $("#id_file_upload").dialog("open");
    });

});


</script>

<h3>Notebook Details</h3>

<form class="form-horizontal">
  <div class="form-group">
      <label class="col-sm-4 control-label">Notebook Number</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.nb_number}}' />

      </div>
  </div>

<p><br></p>

  <div class="form-group">
      <label class="col-sm-4 control-label">Lead Organization Office</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value="{{obj.office.abbreviation}}" />
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Center/Office</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value="{{obj.lab.abbreviation}}" />
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Division</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value="{{obj.division.abbreviation}}" />
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Branch</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value="{{obj.branch.abbreviation}}" />
      </div>
  </div>

<p><br></p>

{#        <h3 title="This table displays a log of each time any of the following fields are updated: Review Date, Notebook Custodian, QA Manager; or if the user enters a comment for the Update History">Update History [?]</h3>#}


  <div class="form-group">
      <label class="col-sm-4 control-label" title = "Enter the title as it appears on the hardcopy cover or to match the title in OneNote.">[?] Title</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.title}}' />
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Comments</label>
      <div class="col-sm-8">
          <textarea disabled class="form-control">{{obj.comments}}</textarea>
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Notebook Type</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.nb_type}}' />

      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Status</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.status}}' />

      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label" title="The alternate ID can be used for a number from another system.">[?] Alternate ID</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.alt_id}}' />
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label" title="The previous ID can be used for any ID the Notebook was assigned by EPA prior to being entered in or imported to QA Track.">[?] Previous ID</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.previous_id}}' />
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Electronic Notebook URL</label>
      <div class="col-sm-8">
          {% if obj.eNotebook_url %}
          <a href="{{obj.eNotebook_url}}">
              <textarea class="form-control text-blue-link">{{obj.eNotebook_url}}</textarea>
          </a>
          {% else %}
          <input type="text" disabled class="form-control">
          {% endif %}
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Notebook Custodian</label>
      <div class="col-sm-8">
          {% if obj.custodian %}
          <input type="text" disabled class="form-control"
                 value="{{obj.custodian.last_name}}, {{obj.custodian.first_name}}" />
          {% else %}
          <input type="text" disabled class="form-control"
                 value="" />
          {% endif %}
      </div>
  </div>


  <div class="form-group">
      <label class="col-sm-4 control-label">Contributors</label>
      <div class="col-sm-8">
          {% if obj.ord_contributors.all %}
          <ul class="list-group">
              {% for p in obj.ord_contributors.all %}
              <li class="list-group-item">{{p.last_name}}, {{p.first_name}}</li>
              {% endfor %}
          </ul>
          {% else %}
          <input type="text" disabled class="form-control"
                 value="None" />
          {% endif %}
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label" title="Enter emails separated by whitespace">[?] Non-ORD Contributors</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.non_ord_contributors}}' />
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">QA Manager</label>
      <div class="col-sm-8">
          {% if obj.qa_manager %}
          <input type="text" disabled class="form-control"
                 value="{{obj.qa_manager.last_name}}, {{obj.qa_manager.first_name}}" />
          {% else %}
          <input type="text" disabled class="form-control"
                 value="" />
          {% endif %}
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Supervisor/Mentor</label>
      <div class="col-sm-8">
          {% if obj.supervisor_mentor %}
          <input type="text" disabled class="form-control"
                 value="{{obj.supervisor_mentor.last_name}}, {{obj.supervisor_mentor.first_name}}" />
          {% else %}
          <input type="text" disabled class="form-control"
                 value="" />
          {% endif %}
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Date Issued</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.date_issued|date:"Y-m-d"}}' />

      </div>
  </div>

  <!--
  <div class="form-group">
      <label class="col-sm-4 control-label">Date Reviewed</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.date_reviewed|date:"Y-m-d"}}' />

      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Review Status</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.nb_status}}' />
      </div>
  </div>
  -->

  <div class="form-group">
      <label class="col-sm-4 control-label">Date of Final Use</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.date_final_use|date:"Y-m-d"}}' />

      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Date Archived</label>
      <div class="col-sm-8">
          <input type="text" disabled class="form-control"
                 value='{{obj.date_archived|date:"Y-m-d"}}' />

      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Projects</label>
      <div class="col-sm-8">
          {% if obj.projects.all %}
          <ul class="list-group">
              {% for p in obj.projects.all %}
              <li class="list-group-item"><a href="{% url 'show_project' p.id %}">{{p.qa_id}} {{p.title}}</a></li>
              {% endfor %}
          </ul>
          {% else %}
          <input type="text" disabled class="form-control"
                 value="None" />
          {% endif %}
      </div>
  </div>

  <div class="form-group">
      <label class="col-sm-4 control-label">Programs</label>
      <div class="col-sm-8">
          {% if obj.programs.all %}
          <ul class="list-group">
              {% for p in obj.programs.all %}
              <li class="list-group-item">{{p.the_name}}</li>
              {% endfor %}
          </ul>
          {% else %}
          <input type="text" disabled class="form-control"
                 value="None" />
          {% endif %}
      </div>
  </div>

  <a id="relatedorgs"></a>
  <p><h3>Related Organizations</h3></p>

  <div class="form-group">
      <label class="col-sm-4 control-label">EPA Non-ORD Organizations</label>
      <div class="col-sm-8">
          {% if obj.participating_orgs.all %}
          <ul class="list-group">
              {% for p in obj.participating_orgs.all %}
              <li class="list-group-item"><a href="{% url 'show_participating_organization' p.id %}">{{p.company}}</a></li>
              {% endfor %}
          </ul>
          {% else %}
          <input type="text" disabled class="form-control"
                 value="None" />
          {% endif %}
      </div>
  </div>


  <div class="form-group">
      <label class="col-sm-4 control-label">ORD Organizations</label>
      <div class="col-sm-8">

      <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="orgs_table">
          {% if orgs %}
              {% for obj in orgs %}
              <tr>
                  <td style="text-align:left">{{obj.office.abbreviation}} {{obj.lab.abbreviation}} {{obj.division.abbreviation}} {{obj.branch.abbreviation}}</td>
                  <td><a href="{% url 'delete_nb_org' obj.id %}">Delete</a></td>
              </tr>
              {% endfor %}
          {% else %}
              <tr><td><br></td></tr>
          {% endif %}

       </table>

          {% if kwargs.allow_edit %}
          <a href="{% url 'link_organization_nb' obj.id %}">Link ORD Organization to this Notebook</a>
          {% endif %}

      </div>
  </div>

<p>
      <h3 title="This table displays a log of each time any of the following fields are updated: Notebook Custodian, QA Manager, Status; or if the user enters a comment for the Update History.">Update History [?]</h3>
      </p>


  <table class="example table-autosort:5 table-stripeclass:alternate table-autofilter" id="nbtab_approval_history_table">
      <thead id="nbtab_approval_history_head">
      <tr>
        {#<th class="table-header">Date of Last Review</th>#}
          <th class="table-header">Notebook Custodian</th>
          <th class="table-header">QA Manager</th>
          <th class="table-header">Status</th>
          {# <th class="table-header">Review Status</th> #}
          <th class="table-header">Comment</th>
          <th class="table-header">Updated By</th>
          <th class="table-header">Date Updated</th>
      </tr>
      </thead>

      <tbody id="nbtab_approval_history_body">

      {% for obj in nb_approval_history %}
      <tr>
        {#<td>{{obj.date_reviewed|date:"Y-m-d"}}</td>#}
          <td>{{obj.custodian.last_name}}, {{obj.custodian.first_name}}</td>
          <td>{{obj.qa_manager.last_name}}, {{obj.qa_manager.first_name}}</td>
          <td>{{obj.status.the_name}}</td>
          {#<td>{{obj.nb_status.the_name}}</td>#}
          <td style="text-align: left">{{obj.comments}}</td>
          {% if obj.user %}
          <td>{{obj.user.last_name}}, {{obj.user.first_name}}</td>
          {% else %}
          <td>QA Track</td>
          {% endif %}
          <td>{{obj.created|date:"Y-m-d"}}</td>

      </tr>
      {% endfor %}
      </tbody>
  </table>

  <a id="users"></a>
  <h3 title="A custodian or contributor is marked as needing review if they have at least one active notebook and do not have a notebook which has been reviewed in the last year.">
    Custodian and Contributors [?]
  </h3>

    <table class="example table-autosort:0 table-stripeclass:alternate table-autofilter main_table" id="support_table" style="table-layout:fixed">
  {#    <table class="example table-stripeclass:alternate table-autofilter" id="support_table">#}

      <thead id="support_head">
      <tr>

        <th class="table-sortable:alphanumeric">Custodian/Contributor</th>
        <th class="table-sortable:alphanumeric">Role</th>
        <th class="table-sortable:alphanumeric">Needs Notebook Review<br> (All Notebooks)</th>
        <th class="table-sortable:date">Date Last Reviewed<br> (This Notebook)</th>
        <th class="table-sortable:alphanumeric">Review Status<br>(This Notebook)</th>
        <th class="table-sortable:date">Email Last Sent<br> (This Notebook)</th>
        <th class="table-sortable:alphanumeric">Request Review</th>

      </tr>
      </thead>
      <tbody id="support_body">
        {% for nb_user in users %}
        <tr {%if nb_user.needs_review == 'N'%}class='no_review'{%endif%}>
            <td><a href={% url 'nbtab_user_review' nb_user.user_id %}>{{nb_user.user.userprofile.full_name}}</a></td>
            <td>{{nb_user.role}}</td>
            <td>{{nb_user.needs_review}}</td>
            <td>{{nb_user.this_nb_review.date_reviewed|default:"Never"}}</td>
            <td>{{nb_user.this_nb_review.status.the_name|default:""}}</td>
            <td>{{nb_user.this_nb_review.email_last_sent|default:"Never"}}</td>
            {% if kwargs.allow_edit %}
            {# You can unschedule a review of a non-active notebook but you cannot schedule it. #}
            {% if obj.status_id == 1 or nb_user.sr.schedule_review == 'Y'%}
              <td><a href={% url 'nbtab_set_sched_review' nb_user.user_id obj.id %}>{{nb_user.sr.schedule_review|default:"N"}}</a></td>
            {% else %}
              <td class='nb_review_sched' title="Cannot request review of inactive or archived notebook.">{{nb_user.sr.schedule_review|default:"N"}}</td>
            {% endif %}
            {% else %}
            <td class='nb_review_sched'>{{nb_user.sr.schedule_review|default:"N"}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
    </table>

  <a id="reviews"></a>
  <p><h3>Reviews</h3></p>

  <table class="example table-autosort:2 table-stripeclass:alternate table-autofilter sub_table" id="support_table">
    <thead>
      <tr>
        <th class="table-sortable:alphanumeric">Details</th>
        <th class="table-sortable:alphanumeric">Custodian/Contributor</th>
        <th class="table-sortable:date">Review Date</th>
        <th class="table-sortable:alphanumeric">Review Status</th>
        <th class="table-sortable:alphanumeric">Reviewer</th>
      </tr>
    </thead>
  {% for review in reviews %}
    <tr>
      <td class='nb_type'><a href={% url 'show_nb_review' review.id %}>Details</a></td>
      <td class='nb_type'>{{review.user.userprofile.full_name}}</td>
      <td class='nb_title'>{{review.date_reviewed}}</td>
      <td class='nb_title'>{{review.status|default:""}}</td>
      <td class='nb_title'>{{review.reviewer.userprofile.full_name}}</td>
    </tr>
  {% endfor %}
  </table>

  <a id="review_attachments"></a>
  <p><h3>Review Attachments</h3></p>

  <table class="example table-autosort:0 table-stripeclass:alternate table-autofilter" id="nbtab_attachments_table">
      <thead id="nbtab_attachments_head">
      <tr>
          <th class="table-sortable:alphanumeric">Filename ({{review_attachments.count}})</th>
          <th class="table-header">Include in Email</th>
          <th class="table-header">Include in Reminder</th>
          <th class="table-header">Delete</th>
      </tr>

      </thead>

      <tbody id="nbtab_attachments_body">

      {% for obj in review_attachments %}
      <tr>
          <td class='filename_td'><a href="{{MEDIA_URL}}{{obj.attachment|urlencode}}">{{obj.the_name}}</a></td>
          {% if kwargs.allow_edit %}
          <td><a href="{% url 'switch_file_email_flag_nb_review' obj.id %}">{{obj.include_in_email}}</a></td>
          <td><a href="{% url 'switch_is_review_file_flag_nb_review' obj.id %}">{{obj.is_review_file}}</a></td>
          <td><a href="{% url 'delete_review_attachment' obj.id %}">Delete</a></td>
          {% else %}
          <td>{{obj.include_in_email}}</td>
          <td>{{obj.is_review_file}}</td>
          <td>Delete</td>
          {% endif %}

      </tr>
      {% endfor %}
      </tbody>
  </table>

  <!--
  <a id="attachments"></a>
  <p><h3>Attachments</h3></p>

  <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="nbtab_attachments_table">
      <thead id="nbtab_attachments_head">
      <tr>
          <th class="table-sortable:alphanumeric">Filename</th>
          <th class="table-header">Include in Email</th>
          <th class="table-header">Include in Reminder</th>
          <th class="table-header">Delete</th>
      </tr>

      </thead>

      <tbody id="nbtab_attachments_body">

      {% for obj in nb_attachments %}
      <tr>
      {#<td class='filename_td'><a href="{{MEDIA_URL}}{{obj.attachment|urlencode}}">{{obj.the_name}}</a></td>#}
      {#<td><a href="{% url 'switch_file_email_flag_nb' obj.id %}">{{obj.include_in_email}}</a></td>#}
      {#<td><a href="{% url 'switch_is_review_file_flag_nb' obj.id %}">{{obj.is_review_file}}</a></td>#}
      {#<td><a href="{% url 'delete_nbtab_attachment' obj.id %}">Delete</a></td>#}

      </tr>
      {% endfor %}
      </tbody>
  </table>

  <div>
      <a id="id_upload_btn" class="btn btn-warning">Attach Files</a>
      <br/><br/>
  </div>

  -->
</form>

<!--
<div id="id_file_upload">
  {% if obj.id %}
    <form id="upload" method="post"action={% url 'file_upload_nbtab' obj.id %} enctype="multipart/form-data">

    {% csrf_token %}

    <div id="drop">
        Drop Files ONLY Here

        <a>Browse</a>
        <input type="file" name="upl" multiple />
    </div>
    <ul>
    </ul>
    <button type="submit" class="btn btn-primary start">
        <span>Finish</span>
    </button>

    </form>
    {% endif %}
</div>
-->

<a id="correspondence"></a>
<h3>Notebook Correspondence</h3>
<ol>
    <h5><li title="Any changes made to attachments will cause this page to refresh and reset the subject line and message below.">Toggle 'Include in Email' to 'Y' to include any attachments above in the email. [?]</li>
        <br>
        {% if kwargs.allow_edit %}
        <li><a href="{% url 'edit_nb_tab_item' obj.id %}">Click here</a> to add/change recipients before sending.<br>Emails are sent to you, the Notebook Custodian, the Supervisor/Mentor, the QA Manager, and anyone in the Email Lists below. Use the checkbox below to include all contributors as well.</li>
        {% else %}
        <li>Click here to add/change recipients before sending.<br>Emails are sent to you, the Notebook Custodian, the Supervisor/Mentor, the QA Manager, and anyone in the Email Lists below. Use the checkbox below to include all contributors as well.</li>
        {% endif %}
<br>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label">Email List (ORD)</label>
        <div class="col-sm-8">
            {% if obj.nb_review_distribution_list.all %}
            <ul class="list-group">
                {% for p in obj.nb_review_distribution_list.all %}
                <li class="list-group-item">{{p.last_name}}, {{p.first_name}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <input type="text" disabled class="form-control"
                   value="None" />
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Email List (non-ORD, separated by whitespace)</label>
        <div class="col-sm-8">
            <input type="text" disabled class="form-control"
                   value='{{obj.nb_review_email_list}}' />
        </div>
    </div>



</form>


<form class="form-horizontal" id="email_review" method="post" >
<hr/>
{% csrf_token %}

    <div class="form-group">
        <label class="col-sm-4 control-label"> </label>
        <div class="col-sm-8">
            <label><input name="include_contributors" type="checkbox" value=1> Include All Contributors in Email</label>
        </div>
    </div>

    <div class="form-group">
    <label class="col-sm-4 control-label"><li>Edit email subject line</li></label>
    <div class="col-sm-8">
        <input class="form-control" type="text" name="email_subject" value="{{email_subject}}">
    </div>
    </div>


<div class="form-group">

    <label class="col-sm-4 control-label"><li>Enter message to be included in email</li></label>
    <div class="col-sm-8">
        <textarea rows=8 class="form-control" name="email_notes"></textarea>
    </div>

</div>

    </h5>
    </ol>


<div class="form-group">
    <div class="col-sm-8">
        {% if kwargs.allow_edit %}
        <input type="submit" value="Send Email" class="btn btn-success" name="send_the_emails"/>
        {% else %}
        NOTE: You do not have user permissions to send correspondence.
        {% endif %}
        <br /><br />
    </div>
</div>

</form>
<hr/>

<div>
    {% if parsed_logs %}

    <p><h3>Correspondence Summary</h3></p>

    <table class="example table-autosort:0 table-stripeclass:alternate table-autofilter" id="nb_distributions_table">
        <thead id="nb_distributions_head">
        <tr>
            <th class="table-sortable:alphanumeric">Date Sent</th>
            <th class="table-header">Recipients</th>
            <th class="table-header">Subject</th>
            <th class="table-header">Attachments</th>
            <th class="table-header">Message</th>
        </tr>

        </thead>

        <tbody id="nb_distributions_body">

        {% for log in parsed_logs %}
        <tr>
            {% for celldata in log %}
            <td style="text-align:left">{{celldata}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>

{% endblock %}

