{% extends "site_base_project.html" %}
{% load humanize %}
{% block content %}
<h3>Current Selected Lab=>{{lab.abbreviation}} Division=>{{division.abbreviation}} {% if obj.abbreviation %} Branch=>{{obj.abbreviation}}{% endif %}</h3>
<div class="col-sm-2">
{% if labs %}

	<p><h3>Labs</h3></p>
	
	<table class="example table-autosort:1 table-stripeclass:alternate table-autofilter" id="divisions_table">
		<thead id="divisions_head">
		<tr>
			<th class="table-sortable:alphanumeric">Labs</th>
			

		</tr>
		<tr>
			<th class="table-filterable"></th>

	  	</tr>
		</thead>
	
		<tbody id="divisions_body">
			
			{% for obj in labs %}
				<tr>
					<td><a href={% url 'list_divisions_to_expand' obj.id %}>{{obj.abbreviation}}</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>
<div class="col-sm-2">
{% if divisions %}

	<p><h3>Divisions</h3></p>
	
	<table class="example table-autosort:1 table-stripeclass:alternate table-autofilter" id="divisions_table">
		<thead id="divisions_head">
		<tr>
			<th class="table-sortable:alphanumeric">Div</th>
			

		</tr>
		<tr>
			<th class="table-filterable"></th>

	  	</tr>
		</thead>
	
		<tbody id="divisions_body">
			
			{% for obj in divisions %}
				<tr>
					<td><a href={% url 'list_branches_to_expand' obj.id %}>{{obj.abbreviation}}</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>


<div class="col-sm-2">
{% if branches %}

	<p><h3>Branches</h3></p>
	
	<table class="example table-autosort:1 table-stripeclass:alternate table-autofilter" id="branches_table">
		<thead id="branches_head">
		<tr>
			<th class="table-sortable:alphanumeric">Branch</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="branches_body">
			
			{% for obj in branches %}
				<tr>
					<td><a href={% url 'list_branches_to_expand_two' obj.id %}>{{obj.abbreviation}}</a></td>
					
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>


<div class="col-sm-12">
{% if projects %}

	<p><h3>Division=>{{obj.division.abbreviation}} Branch=>{{obj.abbreviation}} Projects</h3></p>
	
	<table class="example table-autosort:7 table-stripeclass:alternate table-autofilter" id="projects_table">
		<thead id="projects_head">
		<tr>
			<th class="table-sortable:alphanumeric">Project Lead</th>
			<th class="table-sortable:alphanumeric">Stat</th>
			<th class="table-sortable:alphanumeric">QA ID</th>
			<th class="table-header">Title</th>
			<th class="table-sortable:alphanumeric">QA Category</th>
			
			<th class="table-sortable:alphanumeric">QAPP Status</th>
			<th class="table-header">QA Activities</th>
			<th class="table-header">Add Log</th>
			

		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-header"></th>
			<th class="table-header"></th>
			<th class="table-filterable"></th>
			
			<th class="table-filterable"></th>
			<th class="table-header"></th>
			<th class="table-header"></th>

	  	</tr>
		
		</thead>
	
		<tbody id="projects_body">
			
			{% for obj in projects %}
				<tr>
					<td>{% if obj.person %}<a href={% url 'show_person' obj.person.id %}>{{obj.person.last_name}}, {{obj.person.first_name}}</a>{% endif %}</td>
					<td>{{obj.project_status.the_name}}</td>
					<td><a href={% url 'show_project' obj.id %}>{{obj.qa_id}}</a></td>
					<td width="200">{{obj.title}}</td>
					<td>{% if obj.qa_category %}<a href={% url 'show_qa_category' obj.qa_category.id %}>{{obj.qa_category.the_name}}</a>{% endif %}</td>
					<td>{% if obj.qapp_status %}<a href={% url 'show_qapp_status' obj.qapp_status.id %}>{{obj.qapp_status.the_name}}</a>{% endif %}</td>
					
					<td>{% if obj.projectlog_set.all %}
						<table class="example table-autosort:1 table-stripeclass:alternate table-autofilter" id="projectlog_set_table">
							<thead id="projectlog_set_head">
								<tr>
								<th class="table-sortable:alphanumeric">QA Activity Number - Approved</th>
								</tr>
								<tr>
								<th class="table-filterable"></th>
								</tr>
							</thead>
							
							<tbody id="projectlog_set_body">
								
								{% for qlog in obj.projectlog_set.all %}
								<tr><td><a href={% url 'show_project_log' qlog.id %}>{{qlog.qa_log_number}} - {{qlog.date_approved|date:"Y-m-d"}}</a></td></tr>
								{% endfor %}
								
							</tbody>
							</table>
					{% endif %}</td>
					<td>{% if obj.person.id %}<a href={% url 'create_project_log' obj.id obj.person.id %}>Add Log</a>{% else %}No Project Lead For Project{% endif %}</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>

{% endblock %}