{% extends "site_base_office.html" %}
{% load humanize %}
{% block content %}

	<div class="col-sm-12">
		<div class="text-center">
			<div class="btn-library">
				<a class="btn btn-md btn-success" href={% url 'create_lab' %} role="button">Create Lab</a>
				<a class="btn btn-md btn-success" href={% url 'create_immediate_office' %} role="button">Create Immediate Office</a>
				<a class="btn btn-md btn-success" href={% url 'create_division' %} role="button">Create Division</a>
				<a class="btn btn-md btn-success" href={% url 'create_branch' %} role="button">Create Branch</a>
				<a class="btn btn-md btn-danger" href={% url 'logout' %} role="button">Logout</a>
			</div>
		</div>
	</div>
	
<div class="col-sm-12">
{% if branches %}

	<p><h3>Branches</h3></p>
	
	<table class="example table-autosort:5 table-stripeclass:alternate table-autofilter" id="branches_table">
		<thead id="branches_head">
		<tr>
			<th class="table-sortable:alphanumeric">Lab</th>
			<th class="table-sortable:alphanumeric">Immediate Office</th>
			<th class="table-sortable:alphanumeric">Division</th>
			
			<th class="table-sortable:alphanumeric">Abbreviation</th>
			
			<th class="table-header">Edit</th>						
			<th class="table-header">Show</th>
			<th class="table-header">Delete</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>

			<th class="table-filterable"></th>
			<th class="table-header"></th>			
			<th class="table-header"></th>
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="branches_body">
			
			{% for obj in branches %}
				<tr>
					<td>{{obj.lab.abbreviation}}</td>
					<td>{{obj.immediate_office.abbreviation}}</td>
					<td>{{obj.division.abbreviation}}</td>
					<td>{{obj.abbreviation}}</td>

					<td><a href={% url 'edit_branch' obj.id %}>Edit</a></td>
					<td><a href={% url 'show_branch' obj.id %}>Show</a></td>
					<td><a href={% url 'delete_branch' obj.id %}>Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>

{% endblock %}