{% extends "base/site_base_nb_tab.html" %}
{% load staticfiles %}

{% block nb_tab_content %}

<div style='margin-top:20px;'>
  <h4>Edit Review:</h4>

<div style='margin-bottom:20px;'>
  <p>
    A Notebook Review applies to a single Notebook and the custodian or a single contributor. Fields marked with an asterisk are required.
  </p>
</div>

  <form class="form-horizontal" enctype="multipart/form-data" action="." method="post" role='form' >
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
          <label class="col-sm-3 control-label" style='text-align:left'>
              {% if field.help_text %}
              <div title="{{field.help_text}}">[?] {{field.label_tag}}</div>
              {% else %}
              <div>{{field.label_tag}}</div>
              {% endif %}
          </label>
          <div class="col-sm-9">
              {{field}}
              {% if field.errors %}<div class="alert alert-danger">{{field.errors.as_text}}</div>{% endif %}
          </div>
      </div>
    {% endfor %}
    <div class="form-group" style='text-align:left'>
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
          <input class="btn btn-success" type="submit" value="Update">
        </div>
    </div>
  </form>

</div>

<script>
$(document).ready(function(){
    $('.jasc-user-select').asyncSelect({
        url: '/api/dropdown_users',
        displayValue:function(item){ return item.last_name + ", " + item.first_name + ' (' + item.email + ')' }
    })

$(".chosen-select").chosen({});
$(".date-control").datepicker({ dateFormat: "yy-mm-dd" });
})
</script>

{% endblock %}
