{% extends "main/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
    </div>
    <div class="row mt-4 text-center">
        <div class="col-md-12">
            <h3>Approval Page</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% for error in field.errors %}
                        <h4>{{ error|escape }}</h4>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                        <h4>{{ error|escape }}</h4>
                {% endfor %}
            </div>
            {% endif %}

            <form enctype="multipart/form-data" action="/qapp/approval/" method="post" role="form">
                {% csrf_token %}
                <div class="text-center">

                    <div class="row justify-content-center">
                        <button type="submit" class="m-2 col-md-2 btn btn-md btn-success save">Next Page</button>
                        <button type="reset" class="m-2 col-md-2 col-md-offset-1 btn btn-md btn-warning">Reset</button>
                        <button type="reset" onclick="window.location.href='/about/'"
                                class="m-2 col-md-2 col-md-offset-1 btn btn-md btn-danger">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}