{% extends "base/site_base_qapp_review.html" %}
{% load humanize %}
{% block qapp_review_content %}

<div>
{#	<p><h3>{{ title }}</h3></p>#}

	{% if the_count %}
        <h4>Found {{the_count}} Projects Needing QAPP Review Where ({{query_show}})</h4></p>

	<table class="example table-autosort:4 table-stripeclass:alternate table-autofilter" id="support_table">
		<thead id="support_head">
		<tr>
            <th class="table-sortable:alphanumeric">Office</th>
			<th class="table-sortable:alphanumeric">Center</th>
            <th class="table-sortable:alphanumeric">Division</th>
			<th class="table-sortable:alphanumeric">Branch</th>
			<th class="table-sortable:alphanumeric">Project</th>
			<th class="table-sortable:alphanumeric">Title</th>
			<th class="table-sortable:date">Approval or Last Review Date</th>
            <th class="table-sortable:alphanumeric">Project Lead</th>
			<th class="table-sortable:alphanumeric">Project QA Manager</th>
            <th class="table-sortable:alphanumeric">QAPP Reviewer</th>
            <th class="table-sortable:alphanumeric">Suspend Reminder?</th>
            <th class="table-sortable:date">Email Sent</th>

		</tr>
		<tr>
            <th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
            <th class="table-filterable"></th>
            <th class="table-filterable"></th>
			<th class="table-filterable"></th>
	  	</tr>

		</thead>
		<tbody id="support_body">
			
			{% for obj in AnnualQAPPReviews %}
				<tr>
                    <td>{{obj.office}}</td>
                    <td>{{obj.lab}}</td>
                    <td>{{obj.division}}</td>
					<td>{{obj.branch}}</td>
                    <td><a href={% url 'show_project' obj.id %}>{{obj.qa_id}}</a></td>
					<td>{{obj.title}}</td>
					<td>{{obj.qapp_date|date:"Y-m-d"}}</td>
                    <td>{{obj.project_lead}}</td>
					<td>{{obj.qa_manager}}</td>
                    <td>{{obj.qapp_reviewer}}</td>

					{% if kwargs.allow_edit %}
                    <td><a href="{% url 'switch_qapp_reminder_flag' obj_id=obj.id %}">{{obj.suspend_reminder}}</a></td>
					{% else %}
					<td>{{obj.suspend_reminder}}</td>
					{% endif %}
					<td>{{obj.last_email_sent|date:"Y-m-d"}}</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>

	{% else %}

    <table><tr><td>No Projects Needing QAPP Review Found for This Query Where ({{query_show}})</td></tr></table>

	{% endif %}
</div>

{% endblock %}
