{% extends "base/site_base_qlog.html" %}
{% load humanize %}
{% block qlog_content %}

{% if projects %}
	<h3>Create a QA Activity</h3>
	<div>
		All QA activities must be associated with a project.  To create a QA Activity, select the
        project with which you would like to associate the activity.
	</div>
	
	<table class="example table-autosort:8 table-stripeclass:alternate table-autofilter" id="projects_table">
		<thead id="projects_head">
		<tr>
			<th class="table-sortable:alphanumeric">Project Lead</th>
			<th class="table-sortable:alphanumeric">Project QA ID</th>
			<th class="table-header">Title</th>
			<th class="table-header">Create QA Activity</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>

			<th class="table-header"></th>
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
		<tbody id="projects_body">
			
			{% for obj in projects %}
				<tr>
					<td>{%if obj.person %}<a href={% url 'activity_summary_user' obj.person.id %}>{{obj.person.last_name}}, {{obj.person.first_name}}</a>{% endif %}</td>
					<td><a href={% url 'show_project' obj.id %}>{{obj.qa_id}}</a></td>
					<td width="200">{{obj.title}}</td>
					<td><a href={% url 'create_project_log_no_tlp' obj.id %}>Create QA Activity</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}

{% endblock %}