{% extends "main/base.html" %}
{% load humanize %}

{% block content %}
<div class="white-box">
    <form method="post" action="{% url 'project_create' %}">
        {% if form.errors %}
        <div class="alert alert-danger">
            <h5>Please correct the following errors</h5>
            {% for field in form %}
                {% if field.errors %}
                <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span> Your project has been created.
        </div>
        {% endif %}

        {% csrf_token %}
        <h3 class="separator">Create a Project</h3>
        <div class="row">
            {{form}}
        </div>

        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="float-right">
                    <button type="submit" class="btn btn-md btn-success">Save</button>
                    <button type="reset" class="btn btn-md btn-warning"
                            onclick="window.location='{% url 'project_list' %}'">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#id_office').on('change', populateCentersOffices);
        $('#id_center_office').on('change', populateDivisions);
        $('#id_division').on('change', populateBranches);
    });

    function clearSelList(id) {
        $(id).empty();
        $(id).append('<option value selected>---------</option>');
    }

    function addToSelList(id, val, txt) {
        $(id).append('<option value="' + val + '">' + txt + '</option>');
    }

    function populateSelectGeneric (selId, url) {
        $.ajax({
            url: url,
            success: function (data) {
                clearSelList(selId);
                for (c in data) {
                    addToSelList(selId, data[c]['id'], data[c]['name']);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function populateCentersOffices(e) {
        let selId = '#id_center_office';
        let url = '/projects/api/centers/' + e.target.value;
        populateSelectGeneric(selId, url);
    }

    function populateDivisions(e) {
        let selId = '#id_division';
        let url = '/projects/api/divisions/' + e.target.value;
        populateSelectGeneric(selId, url);
    }

    function populateBranches(e) {
        let selId = '#id_branch';
        let url = '/projects/api/branches/' + e.target.value;
        populateSelectGeneric(selId, url);
    }

</script>
{% endblock %}
