{% extends "main/base.html" %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#id_office').on('change', populateCentersOffices);
        $('#id_center_office').on('change', populateDivisions);
        $('#id_division').on('change', populateBranches);
    });

    function clearSelList(id) {
        $(id).empty();
        $(id).append('<option value selected>---------</option>');
    }

    function addToSelList(id, val, txt) {
        $(id).append('<option value="' + val + '">' + txt + '</option>');
    }

    function populateSelectGeneric (selId, url) {
        $.ajax({
            url: url,
            success: function (data) {
                clearSelList(selId);
                for (c in data) {
                    addToSelList(selId, data[c]['id'], data[c]['name']);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function populateCentersOffices(e) {
        let selId = '#id_center_office';
        let url = '/projects/api/centers/' + e.target.value;
        populateSelectGeneric(selId, url);
    }

    function populateDivisions(e) {
        let selId = '#id_division';
        let url = '/projects/api/divisions/' + e.target.value;
        populateSelectGeneric(selId, url);
    }

    function populateBranches(e) {
        let selId = '#id_branch';
        let url = '/projects/api/branches/' + e.target.value;
        populateSelectGeneric(selId, url);
    }

</script>
{% endblock %}
