{% extends "main/base.html" %} {% load humanize %} {% block content %}
<h3>Project '{{project.title}}' Details</h3>

<div class="usa-form-group">
  <label class="usa-label custom-label">Created by:</label>
  {{project.created_by}}
</div>

<!-- Created -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Creation date:</label>
  {{project.created_date}}
</div>

<!-- Last Updated At -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Last update:</label>
  {{project.last_modified_date}}
</div>

<!-- ORD RAP Info -->
<div class="usa-form-group">
  <label class="usa-label custom-label">ORD RAP Info:</label>
</div>

<!-- Office Name -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Office name:</label>
  {{project.office.name}}
</div>

<!-- Office Weblink -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Office weblink:</label>
  {{project.office.weblink}}
</div>

<!-- Center/Office Name -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Center/Office name:</label>
  {{project.center_office.weblink}}
</div>

<!-- Center/Office Weblink -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Center/Office weblink:</label>
  {{project.center_office.weblink}}
</div>

<!-- Division Name -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Division name:</label>
  {{project.division.weblink}}
</div>

<!-- Division Weblink -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Division weblink:</label>
  {{project.division.weblink}}
</div>

<!-- Branch Name -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Branch name:</label>
  {{project.branch.weblink}}
</div>

<!-- Branch Weblink -->
<div class="usa-form-group">
  <label class="usa-label custom-label">Branch weblink:</label>
  {{project.branch.weblink}}
</div>

<div class="button-group">
  <button class="usa-button" onclick="window.location.href='/projects/'">
    <svg class="usa-icon usa-icon--size-3">
      <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#arrow_back"></use>
    </svg>
    <span class="custom-icon-label">Go back to Projects List</span>
  </button>
</div>
{% endblock %}
