{% extends "main/base.html" %} {% block content %}

<h2>Project Management</h2>

<table class="usa-table">
  <caption>
    {{user.username}}'s Projects
  </caption>
  <thead>
    <tr>
      <th data-sortable scope="col">Project Name</th>
      <th data-sortable scope="col">Project Created By</th>
      <th data-sortable scope="col">Project Lead</th>
      <th data-sortable scope="col">Project Last Modified</th>
    </tr>
  </thead>
  <tbody>
    {% if projects %} {% for project in projects %}
    <tr id="{{project.id}}" onclick="rowClick('{{project.id}}')">
      <td scope="row">{{project.title}}</td>
      <td>{{project.created_by}}</td>
      <td>{{project.project_lead}}</td>
      <td>{{project.last_modified_date}}</td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="4">No Projects to display!</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<div class="button-group">
  <button class="usa-button modSelectedButton" onclick="viewEditProject(this, 'detail')" disabled>
    <span class="">View Project Details</span>
  </button>
  <button class="usa-button modSelectedButton" onclick="viewEditProject(this, 'edit')" disabled>
    <svg class="usa-icon usa-icon--size-3">
      <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#edit"></use>
    </svg>
    <span class="custom-icon-label">Edit Project</span>
  </button>
  <button class="usa-button" onclick="window.location.href='/projects/create/'">
    <svg class="usa-icon usa-icon--size-3">
      <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#add"></use>
    </svg>
    <span class="custom-icon-label">Create a new Project</span>
  </button>
</div>

{% endblock %} {% block extend_js %}
<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
{% endblock %} {% block scripts %}
<script>
  function viewEditProject(btn, method) {
    if ($(btn).attr('disabled')) return;
    window.location.href = '/projects/' + method + '/' + $(btn).attr('id');
  }
</script>
{% endblock %}
