{% extends "site_base_office.html" %}
{% load humanize %}
{% block content %}

	<div class="col-sm-12">
		<div class="text-center">
			<div class="btn-library">
				<a class="btn btn-md btn-success" href={% url 'create_office' %} role="button">Create Office</a>
				<a class="btn btn-md btn-success" href={% url 'create_lab' %} role="button">Create Lab</a>
				<a class="btn btn-md btn-success" href={% url 'create_immediate_office' %} role="button">Create Immediate Office</a>
				<a class="btn btn-md btn-success" href={% url 'create_division' %} role="button">Create Division</a>
				<a class="btn btn-md btn-success" href={% url 'create_branch' %} role="button">Create Branch</a>
				<a class="btn btn-md btn-danger" href={% url 'logout' %} role="button">Logout</a>
			</div>
		</div>
	</div>
	
<div class="col-sm-12">
{% if labs %}

	<p><h3>Labs</h3></p>
	
	<table class="example table-autosort:5 table-stripeclass:alternate table-autofilter" id="labs_table">
		<thead id="labs_head">
		<tr>
			<th class="table-sortable:alphanumeric">Office</th>
			<th class="table-sortable:alphanumeric">Lab</th>
			<th class="table-sortable:alphanumeric">Abbreviation</th>
			<th class="table-header">Immediate Offices</th>
			<th class="table-header">Divisions</th>
			
			<th class="table-header">Edit</th>						
			<th class="table-header">Show</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>

			<th class="table-header"></th>
			<th class="table-header"></th>			
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="labs_body">
			
			{% for obj in labs %}
				<tr>
					<td>{{obj.office.abbreviation}}</td>
					<td>{{obj.the_name}}</td>
					<td>{{obj.abbreviation}}</td>
					<td>{% for io in obj.immediateoffice_set.all %}
						<table><tr><td>{{io.the_name}}</td></tr></table>
						{% endfor %}</td>
						
					<td>{% for d in obj.division_set.all %}
						<table><tr><td><a href={% url 'show_division' d.id %}>{{d.abbreviation}}</a></td></tr></table>
						{% endfor %}</td>

					<td><a href={% url 'edit_lab' obj.id %}>Edit</a></td>
					<td><a href={% url 'show_lab' obj.id %}>Show</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
{% endif %}
</div>

{% endblock %}