{% extends "base/site_base_organization.html" %}
{% load humanize %}

{% block organization_content %}
<ol class="breadcrumb">
    <li><a href="{% url 'office_list' %}">EPA</a></li>
    {% if office %}
    <li>{{office.abbreviation}}</li>
    {% endif %}
</ol>
{% if office %}
<h3>{{office.abbreviation}} - {{office.office}}</h3>
{% else %}
<h3>Create Office</h3>
{% endif %}

{% if error_message %}<div class="alert alert-danger">{{error_message}}</div>{% endif %}

{% if success %}
    <div class="alert alert-success">
        The Office has been updated. <span class="glyphicon glyphicon-ok"></span>
    </div>
{% endif %}

{% if form.errors %}
<div class="alert alert-danger">
    <h5>Please correct the following errors</h5>
    {% for field in form %}
    {% if field.errors %}
    <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<form class="form-horizontal" method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label class="col-sm-2 control-label">
            <div>{{field.label_tag}}</div>
            <div class="help-block">{{field.help_text}}</div>
        </label>
        <div class="col-sm-10 {%if field.name == "is_active"%}checkbox{%endif%}">
            {{field}}
        </div>
    </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            {% if is_editing %}
            <button class="btn btn-success">Save</button>
            {% if office %}
            <a class="btn btn-warning" href="{% url 'office_show' office.id %}">Cancel</a>
            {% endif %}
            {% else %}
            <a class="btn btn-success" href="{% url 'office_edit' office.id %}">Edit</a>
            <a class="btn btn-success" href="{% url 'lab_create' office.id %}">Create a new center</a>
            {% endif %}
        </div>
    </div>
    {% if office %}
    <div class="form-group">
        <label class="col-sm-2 control-label">
            <div>Associated Centers/Offices:</div>
        </label>
        <div class="col-sm-10">
            {% if lab_list %}
            <table class="table table-bordered table-autosort:0">
                <thead>
                    <tr>
                        <th class="table-sortable:alphanumeric">Name</th>
                        <th class="table-sortable:alphanumeric">Abbreviation</th>
                        <th class="table-sortable:alphanumeric">Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for lab in lab_list %}
                    <tr>
                        <td><a href="{% url 'lab_show' lab.id %}"> {{lab.lab}}</a></td>
                        <td>{{lab.abbreviation}}</td>
                        <td>
                            {% if lab.is_active %}
                            Active
                            {% else %}
                            Inactive
                            {% endif %}
                        </td>
                        <td>
                            {% if lab.is_active %}
                            <a href="{% url 'lab_toggle_active' lab.id %}">Change to Inactive</a><br/>
                            {% else %}
                            <a href="{% url 'lab_toggle_active' lab.id %}">Change to Active</a><br/>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-success" href="{% url 'lab_create' office.id %}">Create a new center</a>
            {% else %}
            <br><br>
            <h5>This organization has no associated centers/offices.</h5>
            {% endif %}
        </div>
    </div>
    {% endif %}
</form>
<script>
$(document).ready(function(){
    {% if is_editing == True %}
    $('.jasc-user-select').asyncSelect({
        url: '/api/dropdown_users',
        displayValue:function(item){ return item.last_name + ", " + item.first_name + ' (' + item.email + ')' }
    })
    {% endif %}
})
</script>

{% endblock %}
