{% extends "main/base.html" %}
{% block content %}
{% load static %}

    <div class="container">
        {% include 'SectionC/header_footer_partial.html' %}
        {% if save_success %}
        <h3 id="save_success" class="text-success col-md-12 text-center">{{save_success}}</h3>
        {% endif %}
        <div class="border rounded p-3 row">
            {% include 'EPA_QAPP_Header_Partial.html' %}
            {% for key, value in SECTION_C_DEFAULTS.items %}
            <div class="col-md-12 text-center">
                <h3>{{key}}</h3>
            </div>
            <div class="col-md-12">
                <p>
                    <!-- the |safe filter lets us use HTML in the text without escaping it -->
                    <!-- DON'T USE THE SAFE FILTER IF PROCESSING USER INPUT -->
                    {{value |safe}}
                </p>
            </div>
            {% endfor %}
        </div>
        {% include 'SectionC/header_footer_partial.html' %}
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
    });
</script>
{% endblock %}