{% extends "main/base.html" %}

{% block content %}
    <div class="container">

        <h1>QUALITY ASSURANCE PROJECT PLAN.</h1>
        <h2>Office of Research and Development (ORD)</h2>
        <h3>Center for Environmental Solutions & Emergency Response (CESER)</h3>
        <p> The following checklist summarizes QAPP requirements for projects involving
            Secondary Data or <b>Existing Data</b> and Information. <i>In addition, the QAPP tab
            can be used to create, edit, and publish Category A or B QAPPs following CESER
            QA/QC requirements.</i></p>

        <p> More comprehensive guidance on developing QAPPs for research projects is provided
            in the EPA-240-R-02-009 report titled "<b><i>Guidance for Quality Assurance Project
            Plans EPA QA G-5.</b></i>" The completed checklist will be entered into QA
            Track with the approved QAPP by the QA Manager when final. The work on
            this project has been approved under the CESER QMP K-LRTD-0032360-QM-1-0
            and QAPP K-LRTD-0032360-QP-1-0.</p>
        <p>
            <a class="btn btn-default" href="https://www.epa.gov/sites/production/files/2015-06/documents/g9-final.pdf">
                Learn more about USEPA Existing Data &raquo;
            </a>
        </p>

        <div class="row">
            <div class="col-sm-6">
                <label class="col-sm-12">View QAPP documents for...</label>
                <div class="col-sm-5">
                    <button class="btn btn-info dropdown-toggle col-sm-12" type="button"
                            id="dropdownUserButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Users
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownUserButton">
                        {% for user in users %}
                        <a class="dropdown-item" href="/qar5/list/user/{{user.id}}">
                            {{user.username}} ({{user.first_name}} {{user.last_name}})
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-sm-5 offset-sm-1">
                    <button class="btn btn-info dropdown-toggle col-sm-12" type="button"
                            id="dropdownTeamButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Teams
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownTeamButton">
                        {% for team in teams %}
                        <a class="dropdown-item" href="/qar5/list/team/{{team.id}}">
                            {{team.name}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-12">or create a new QAPP...</label>
                <button onclick="window.location.href='{% url 'team_create' %}'" class="col-sm-5 btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    New Team
                </button>
                <button onclick="window.location.href='/qar5/create/'" class="col-sm-5 offset-sm-1 btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                    New QAPP
                </button>
            </div>
        </div>
    </div>
{% endblock %}