{% extends "main/base.html" %}

{% block content %}

<h2>Resources for Planning Projects that Use Existing Data.</h2>
<h3>Key words: Food waste, landfill diversion, waste management, sustainable materials management, plastics, food de-packaging.</h3>

<p>
    This work is related to additional food waste research under SHC RA7, including life-cycle analyses of various
    approaches to managing food waste. The findings of Product 4.2 will inform this product: Food Waste State of the
    Science Report. The work on this project has been approved under the CESER QMP K-LRTD-0032360-QM-1-0 and QAPP 
    K-LRTD-0032360-QP-1-0.
</p>

<p>
    Guidance for Data Quality Assessment Practical Methods for Data Analysis EPA QA/G-9. Demonstrates how to use data
    quality assessment in evaluating environmental data sets and illustrates how to apply some graphical and statistical
    tools for performing DQA.
</p>
<p>
    <a class="btn btn-default" href="https://www.epa.gov/sites/production/files/2015-06/documents/g9-final.pdf">
        Learn more about USEPA Existing Data &raquo;
    </a>
</p>

{% endblock %}
