{% extends "main/base.html" %}

{% block content %}

<h2>Strategies for Characterization of Food Waste.</h2>
<h3>Key words: Food waste, landfill diversion, waste management, sustainable materials management, plastics, food de-packaging.</h3>

<p>This work is related to additional food waste research under SHC RA7, including life-cycle analyses of various
    approaches to managing food waste. The findings of Product 4.2 will inform this product: Food Waste State of the
    Science Report.</p>

{% endblock %}
