{% extends "main/base.html" %}

{% block content %}

    <div class="container">

        <div class="mb-3 row">
            <h3 class="col-sm-9">Secondary / Existing Data Tracking Tool</h3>
            <div class="col-sm-3">
                <button class="col-sm-12 btn btn-md btn-info" onclick="window.location='trackingtool/create/'">
                    Add Secondary / Existing Data
                </button>
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">User Email</th>
                    <th scope="col">User Office/Lab</th>
                    <th scope="col">Article Title</th>
                    <th scope="col">Date Accessed</th>
                </tr>
            </thead>
            <tbody>
                {% if tracking_tool_list %}
                {% for data in tracking_tool_list %}
                <tr id="{{data.id}}" onclick="">
                    <th scope="row">{{data.email}}</th>
                    <th>{{data.work}}</th>
                    <th>{{data.article_title}}</th>
                    <th>{{data.date_accessed}}</th>
                </tr>

                {% endfor %}
                {% else %}
                <tr><td colspan="4">No Secondary / Existing Data exist!</td></tr>
                {% endif %}
            </tbody>
            <!--{#<caption>List of Secondary / Existing Data</caption>#}-->
        </table>
    </div>

{% endblock %}