{% extends 'base/site_base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Review Actions</div>
            <div class="list-group">
                <a class="list-group-item" href="{% url 'search_qa_review' %}">Find existing QA Activities for review</a>
                <a class="list-group-item" href="{% url 'qa_review_pending' %}">View pending QA reviews</a>
                {% if project_log.id %}
                    {% if kwargs.allow_edit %}
                        <a class="list-group-item" href="{% url 'edit_review' project_log.id %}">Edit this QA review</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    </div>
    <div class="col-sm-9">
        {% block review_content %}
        {% endblock %}
    </div>
</div>


{% endblock %}


