{% extends 'base/site_base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">QA Activity Actions</div>
            <div class="list-group">
                <a class="list-group-item" href="{% url 'search_project_log' %}">Search existing QA Activities</a>
                <a class="list-group-item" href="{% url 'qa_review_pending' %}">Pending QA Activity Reviews</a>

                {% if kwargs.allow_create %}
                    <a class="list-group-item" href="{% url 'create_project_log_no_project' %}">Create a QA Activity</a>
                {% endif %}
                {% if kwargs.allow_edit %}
                    {% if obj.id %}
                        <a class="list-group-item" href="{% url 'create_project_log_no_tlp' obj.project.id %}">Create Another QA Activity for this Project</a>
                    {% endif %}
                {% endif %}
                {% if kwargs.allow_create %}
                    <a class="list-group-item" href="{% url 'create_program' %}">Create a Program</a>
                {% endif %}
                {% if kwargs.allow_edit %}
                    {% if has_review %}
                        <a class="list-group-item" href="{% url 'edit_review' obj.id %}">Edit QA Activity Review</a>
                    {% else %}
                        <a class="list-group-item" href="{% url 'edit_review' obj.id %}">Create QA Activity Review</a>
                    {% endif %}


                    <a class="list-group-item" href="{% url 'clone_project_log' obj.id  %}">Clone QA Activity <>({{obj.qa_log_number}} <strong>=></strong> {{clone_y}})</a>

                {% endif %}

                {% if obj.id %}
                    {% if kwargs.allow_edit %}
				        <a class="list-group-item" href="{% url 'edit_project_log' obj.id %}">Edit QA Activity</a>
                    {% endif %}
                    {% if obj.date_approved %}
                        <a class="list-group-item" href="{% url 'pdf_qlog' obj.id %}">PDF-Legacy</a>
                    {% endif %}
				    <a class="list-group-item" href="{% url 'excel_project_logs' obj.id %}">Excel Export</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        {% block qlog_content %}
         (Products, QAPPs)
        {% endblock %}
    </div>
</div>

{% endblock %}


