{% extends "main/base.html" %}

{% block content %}
{% load static %}

<h2>FLOWSA</h2>
<h2>CESER | Center for Environmental Solutions & Emergency Response.</h2>
<h4>Data Files</h4>
<p>
    Stores and returns water datasets in FlowByActivity and FlowBySector
    format. The water dataset should be based on at least two original
    sources + crosswalks.
</p>

<div class="grid-container">
    <div class="grid-row">
        <div class="grid-col-6">
            <div class="usa-form-group">
                <span class="usa-label">FLOWSA Project Lead:</span>
                <button class="usa-button" onclick="window.location='mailto:ingwersen.wesley@epa.gov?subject=Request FLOWSA Web App&amp'">
                    <span class="fa fa-envelope"></span> Dr. Wesley Ingwersen
                </button>
            </div>
        </div>
        <div class="grid-col-6">
            <span class="usa-label">Software Help and Suggestions:</span>
            <button class="usa-button" onclick="window.location='/support/'">
                <span class="fa fa-link"></span> Software Help
            </button>
        </div>
    </div>
</div>

<br />

{# TABLE TO DISPLAY THE UPLOADED FILES #}
<table class="usa-table">
    <thead>
        <tr>
            <th colspan="2">
                Uploaded Files
                (<a href="/scifinder/download_files/">Download All</a>)
            </th>
        </tr>
    </thead>
    <tbody>
        {% if files %}
        {% for file in files %}
        <tr>
            <td><a href="/flowsa/download_file/{{ file.id }}"><span class="fa fa-download"></span> {{ file.name }}</a></td>
            <td>
                <a href="/flowsa/delete_file/{{ file.id }}">
                    Delete File
                </a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="2">No files have been uploaded...</td></tr>
        {% endif %}
    </tbody>
</table>

<form enctype="multipart/form-data" method="post" role="form">
    {% csrf_token %}
    <div class="usa-form-group">
        <label for="id_file" class="usa-label">{{form.file.label}}</label>
        {{form.file}}
    </div>
    <button type="submit" class="usa-button">
        Upload File
    </button>
</form>

{% endblock %}

