{% extends "main/base.html" %}

{% block content %}

<div class="well">
    <h2>Existing Data Search Tool</h2>
    <p>ORD OLEM team members will track publicly available existing data for Plastics Projects from
    articles, abstracts, books, book chapters, computer products, manuals, presentations, proceedings, reports, and
    scientific data sets. Findings to include attachments will be stored and retrievable in the Strategies for
    Characterization of Food Waste and Plastics Research database.</p>
</div>

<div>
    <p>The database will enable ORD OLEM team members to review and export, as .pdf, .xlxs, and .csv files, existing
    data obtained from sources, including  literature, industry surveys, compilations from computerized databases and
    information systems, and computerized or mathematical models of environmental processes. If primary data will be generated
    as part of the project, then information collected will be incorporated into the associated QMP or QAPP to address
    the existing data requirements. For laboratory and/or field environmental measurements project research staff will
    use the Center for Environmental Solutions & Emergency Response SciNote, ELFN application.</p>
    <p><a href="https://ordscinote.epa.gov/" class="btn btn-primary btn-default">Learn more about SciNote ELFN &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More information and source code</h2>
        <p>
            The source code for this project can be accessed on the GitHub repository by clicking the button below.
        </p>
        <a class="btn btn-default mb-2" href="https://github.com/USEPA/FoodWaste">US EPA GitHub repository &raquo;</a>
        <a class="btn btn-default" href="https://www.epa.gov/webguide/github-guidance/">Learn more about USEPA GitHub Enterprise</a>
    </div>
    <div class="col-md-4">
        <h2>Project Organization</h2>
        <p>Project StRAP SSHC.7, Life Cycle Inventories & Methodologies SHC.O21, Characterization of
        Food Waste Reduction & Strategies & Identification of Food Waste Prevention Solutions.</p>
        <p><a class="btn btn-default" href="https://qatrack.epa.gov/projects/show/8880/">Access Required &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Office of Research & Development</h2>
        <p>Center for Environmental Solutions & Emergency Response, Land Remediation & Technology Division,
        Environmental Decision Analytics Branch.</p>
        <p><a class="btn btn-default" href="http://intranet.ord.epa.gov/ceser/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
