{% extends "main/base.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Strategies for Characterization of Food Waste</h2>
    <p class="lead">This web application is intended to track all existing data searches for Project K-LRTD-0032360.</p>
    <p><a href="https://ordscinote.epa.gov/" class="btn btn-primary btn-large">SciNote ELFN &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More information and source code</h2>
        <p>
            The source code for this project can be accessed on the <a href="https://github.com/USEPA/Food_Waste_Reduction_Identification_Prevention">US EPA GitHub repositoy</a>.
        </p>
        <p><a class="btn btn-default" href="https://ordscinote.epa.gov/">Learn more about SciNote ELFN &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project Organization</h2>
        <p>Project StRAP SSHC.7, Life Cycle Inventories & Methodologies SHC.O21, Characterization of
        Food Waste Reduction & Strategies & Identification of Food Waste Prevention Solutions.</p>
        <p><a class="btn btn-default" href="https://qatrack.epa.gov/projects/show/8880/">Access Required &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Office of Research & Development</h2>
        <p>Center for Environmental Solutions & Emergency Response, Land Remediation & Technology Division,
        Environmental Decision Analytics Branch.</p>
        <p><a class="btn btn-default" href="http://intranet.ord.epa.gov/ceser/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
