{% extends "main/base.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Strategies for Characterization of Food Waste</h2>
    <p class="lead">This web application is intended to track all existing data searches for Project K-LRTD-0032360.</p>
    <p><a href="https://FoodWaste.epa.gov/" class="btn btn-primary btn-large">RTP RHEL Server Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More information and source code</h2>
        <p>
            The source code for this project can be accessed on the <a href="https://github.com/USEPA/Food_Waste_Reduction_Identification_Prevention">US EPA GitHub repositoy</a>.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
