.custom-icon-label {
  position: relative;
  bottom: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.custom-label {
  font-weight: bold;
}

.epa-custom-secondary-color {
  background-color: #A24400;
  width: 100vmax;
  position: absolute;
  left: 0;
  /* background-color: #007CD5; */
  /* background-color: #000DA2; */
  /* background-color: #00A295; */
  /* background-color: #5EA200; */
}

tr.active {
  background-color: #aacdec !important;
}

tr.active>td {
  background-color: #aacdec !important;
}

tr.active>th {
  background-color: #aacdec !important;
}