{% extends "site_base_office.html" %}
{% load humanize %}
{% block content %}

<div class="col-sm-12">
		<div class="text-center">
			<div class="btn-library">
				<a class="btn btn-md btn-success" href={% url 'create_office' %} role="button">Create Office</a>
				<a class="btn btn-md btn-success" href={% url 'create_lab' %} role="button">Create Lab</a>
				<a class="btn btn-md btn-success" href={% url 'create_office' %} role="button">Create Immediate Office</a>
				<a class="btn btn-md btn-success" href={% url 'create_office' %} role="button">Create Division</a>
				<a class="btn btn-md btn-success" href={% url 'create_office' %} role="button">Create Branch</a>
				<a class="btn btn-md btn-danger" href={% url 'logout' %} role="button">Logout</a>
			</div>
		</div>
	</div>
	
<div class="col-sm-12">
{% if persons %}

	<p><h3>Persons</h3></p>
	
	<table class="example table-autosort:5 table-stripeclass:alternate table-autofilter" id="persons_table">
		<thead id="persons_head">
		<tr>
			<th class="table-sortable:alphanumeric">Last Name</th>
			<th class="table-sortable:alphanumeric">First Name</th>
			<th class="table-header">Tie To A Login User</th>
			
			<th class="table-header">Edit</th>						
			<th class="table-header">Show</th>
		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>

			<th class="table-header"></th>
			<th class="table-header"></th>			
			<th class="table-header"></th>
	  	</tr>
		
		</thead>
	
		<tbody id="persons_body">
			
			{% for obj in persons %}
				<tr>
					<td>{{obj.last_name}}</td>
					<td>{{obj.first_name}}</td>
					
					<td><a href={% url 'tie_user_to_person' obj.id %}>Tie To A Login User</a></td>
					<td><a href={% url 'edit_person' obj.id %}>Edit</a></td>
					<td><a href={% url 'show_person' obj.id %}>Show</a></td>
				</tr>
			{% endfor %}
			</tbody>
	</table>
	{% else %}
	<table><tr><td>No Offices Yet.</td></tr></table>
{% endif %}
</div>

{% endblock %}