{% extends "base/site_base_sop_tab.html" %}
{% load humanize %}
{% block sop_tab_content %}

{% if the_count %}
    <h4>Found {{the_count}} SOPs Needing Review Where ({{query_show}})</h4></p>


<div>

	<table class="example table-autosort:3 table-stripeclass:alternate table-autofilter" id="support_table">
		<thead id="support_head">
		<tr>
			<th class="table-sortable:alphanumeric">Center</th>
            <th class="table-sortable:alphanumeric">Division</th>
			<th class="table-sortable:alphanumeric">Branch</th>
			<th class="table-sortable:alphanumeric">SOP Number</th>

			<th class="table-sortable:date">Approval or Last Review Date</th>
            <th class="table-sortable:alphanumeric">SOP Contact</th>
			<th class="table-sortable:alphanumeric">Current QA Manager</th>
            <th class="table-sortable:alphanumeric">Approving QA Manager</th>
			<th class="table-sortable:alphanumeric">Approving Line Manager</th>
            <th class="table-sortable:alphanumeric">Suspend Reminder?</th>
            <th class="table-sortable:alphanumeric">Email Sent</th>

		</tr>
		<tr>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
            <th class="table-filterable"></th>
            <th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
			<th class="table-filterable"></th>
	  	</tr>

		</thead>
		<tbody id="support_body">

			{% for obj in objs %}
				<tr>
                    <td>{{obj.lab}}</td>
                    <td>{{obj.division}}</td>
					<td>{{obj.branch}}</td>
                    <td><a href={% url 'show_sop_tab' obj.id %}>{{obj.sop_number}}</a></td>

					<td>{{obj.sop_date|date:"Y-m-d"}}</td>
                    <td>{{obj.sop_contact}}</td>
					<td>{% for qam in obj.curr_qams %}
						{{qam.email}}
						{% endfor %}</td>
                    <td>{{obj.approving_manager}}</td>
					<td>{{obj.approving_line_manager}}</td>

					{% if kwargs.allow_edit %}
                    <td><a href="{% url 'switch_sop_reminder_flag' obj_id=obj.id %}">{{obj.suspend_reminder}}</a></td>
					{% else %}
					<td>{{obj.suspend_reminder}}</td>
					{% endif %}
					<td>{{obj.last_email_sent|date:"Y-m-d"}}</td>
				</tr>
			{% endfor %}
			</tbody>
	</table>

	{% else %}
	<table><tr><td>No SOPs Needing Review Found for This Query Where ({{query_show}})</td></tr></table>
	{% endif %}



</div>




{% endblock %}
